<div class="announcement-bar ">
      <a href="/pages/notice" style="font-weight: bold; color: white; font-style: italic; ">
        <i style="font-size: 25px" class="fas fa-gift"></i>
        <span style="font-weight: bold">Get your SweetLegs in time for the Holidays! </span>   
        <span style="font-weight: bold; text-decoration: underline"> Learn more.</span>
      </a>
</div>
<style>
.announcement-bar {
    height: 40px;
  	width: 100%;
    text-align: center;
    background: black;
    color: white;
    display: none;  
    font-style: italic;
    font-size: 16px;
    line-height: 40px;
  }
  .announcement-bar p {
     display: inline;
     color: white;
     font-weight: bold;
     font-size: 12px;
     width: 100%;
     height: 100%;
     margin: 0;
     line-height: 40px;
     text-align: center;
  }
  
  @media (max-width: 1100px){ 
    .announcement-bar{
    	font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1100 - 300)));
  	}
  }
  @media (max-width: 550px){ 
    .imp-notice{
    	display: none;
  	}
  }
</style>
<script>  
  $( window ).on( "load", function() {
      $(".announcement-bar").slideDown(2000);
      var slide = $(this).next();

      if(slide.hasClass('open'))
      {
           slide.removeClass('open');
      }
      else
      {
           slide.addClass('open');
           slide.slideDown();
      }
    });   
</script>