<div class="cookie-banner">
  <div class="cookie-banner-content" >
    <div class="row">
       <div class="large-12 columns">
        <h3>COOKIE CONSENT</h3>
        <p>Hello gorgeous! SweetLegs uses browser cookies to create an amazing shopping experience just for you! By clicking <span> Accept & Agree</span>, you consent to the use of cookies by us and our partners. Learn more about our <span><a style="color: white; font-weight: bold; font-style: italic" href="/pages/payments-privacy"> privacy policy</a></span> and <span><a style="color: white; font-weight: bold; font-style: italic" href="/pages/breach-policy">breach policy</a></span>.</p>
          <button class="agree">Accept & Agree</button>
      </div>
 	</div>
  </div>
</div>

<style>
  .cookie-banner-content{
    background: #00c4b3;
    position: fixed;
    bottom: 0;
    padding: 75px 25px;
    width: 100vw;
  }
  .cookie-banner {
    position: fixed;
    z-index: 999999;
    left: 0px;
    bottom: 0px;
    background: rgba(244, 246, 248, 0.8);
    width: 100vw;
    height: 100vh;
    color: white!important;
    font-size: 32!important;
    display: none;
    
  }
  .cookie-banner-content h3 {
  
    font-size: 24px;
    font-weight: 900;
    
  }
  .cookie-banner-content p {
    font-weight: 300;
    line-height: 1.3;
    font-size: 24px;
    font-family: "Roboto";
  }
  .cookie-banner-content p span {
    font-style: italic;
    font-weight: 700;
  }
  .agree {
    padding: 15px 20px;
    background: white;
    font-weight: 700;
    font-size: 24px;
    color: #00c4b3;
    margin-top: 25px;
  }
  #smile-ui-container {
    z-index: 1111!important;
  }
  
@media (max-width: 768px){ 
  .cookie-banner h3, .cookie-banner p, .agree {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (2000 - 300)));
  }
}
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script>
  $('.agree').click(function(e) {
     var encrypted = CryptoJS.AES.encrypt("true", "Secret Passphrase");
    $('.cookie-banner').css('display', 'none');
      var expires = "";
      var date = new Date();
      date.setTime(date.getTime() + (365*24*60*60*1000));
      expires = "; expires=" + date.toUTCString();
    document.cookie = `pivacyPolicyAccept=${encrypted}; expires=${expires}; path=/; secure`;
  });
</script>