<div class="panel" id="tab-add-info"><style>
  .wwc-heading {
    font-size: 2rem;
    text-align:left;
    margin-bottom: 3rem;
  }
  #wwc-fabric-benefit {
    margin-top: 2rem;
    background: #ebeef0e8;
    padding: 2rem 0rem;
  }
  .row.equalHeight {
    display: flex;
    flex-wrap: wrap;
  }

.wwc-image-benefit {
  margin-top: 2rem;
}
.content p {
  font-size: 1.2rem;
}
  .plyr__video-wrapper.plyr__video-embed {
    padding-bottom: 600px!important;
  }
    #player{
    border-radius: 15px;
    box-shadow: 21px 25px 23px -7px rgba(0,0,0,0.15);
    background: none;
  }
    
  .plyr__control {
     border-radius: 50px;
  }
  .plyr__control--overlaid {
    background: #47c1bf;
 
  }
  .plyr__control--overlaid:hover {
    background: #F5969E!important;
  }
  .plyr__control--overlaid:hover .plyr__sr-only {
    color: black;
  }
  .plyr__video-wrapper  {
    background: null;
  }

  .plyr--full-ui input[type=range] {
    color:  rgb(34 48 59);
 }
  .plyr__poster {
    background-image: url(https://cdn.shopify.com/s/files/1/2445/2869/files/Screenshot_2023-06-21_at_9.27.25_AM.png?v=1687364945)!important;
    background-size: cover!important;
  }
 @media only screen and (max-width: 984px) {
  .content {
    margin-top: 2rem;
  }
}
</style>


<div id="wrapper-video"></div>
<div id="wwc-video">
      <div class="row equalHeight">
        <div  class="col-md-4 col-sm-12 col-xs-12">
            <div class="plyr__video-embed" id="player-wwc" style="height: 600px;"> 
 	 <iframe height="600px" width="325px" src="https://www.youtube.com/embed/7uMmv1beA_0?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
	</div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12" style="display:flex;">
          <div class="empty_space"><span class="empty_space_inner"></span></div>
          <div class="content">
            <h2 class="wwc-heading">Meet the all-new high-waisted style</h2>

            <p data-aos="fade-right" data-aos-offset="320" data-aos-delay="150" data-aos-duration="1000" class="aos-init aos-animate">
             Experience the sleek and refined silhouette created by the elevated rise, which enhances your curves and provides a flattering and secure fit. These crops feature a non-elasticized yoga-style waistband with a high rise, ensuring they stay in place throughout your day.
              </p>
              <div class="fab-cont">
    <div class="container-fluid">
      <div style="text-align: center" class="row">
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aos-init aos-animate"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/super-soft.png?v=1673994221"></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="450" data-aos-duration="1000" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aos-init aos-animate"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/4-way-stretch.png?v=1673994211"></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="650" data-aos-duration="1000" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aos-init aos-animate"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/sizing.png?v=1673994215"></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="850" data-aos-duration="1000" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 aos-init aos-animate"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/High-Waisted-Icon-4.png?v=1686241915"></div>
      </div>
    </div>
  </div>
          </div>
        </div>
      </div>          
</div>


<section id="wwc-image-benefit" style="margin-top: 3rem">
  <div class="fab-cont">
    <div class="c">
      <div style="text-align: center" class="row equalHeight">
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aos-init aos-animate"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/High-Waisted-PetalPink.jpg?v=1686240975"></div>
          <div data-aos="fade-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 aos-init" style="display:flex;align-items:center"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/High-Waisted-Arrow-Photo-withtitle_1e3653cb-e5d7-46f2-9069-4675e9ae86a5.jpg?v=1686241978"></div>
      </div>
    </div>
  </div>
</section> 

</div>