<style>
  .wwc-heading {
    font-size: 2rem;
    text-align:center;
    margin-bottom: 3rem;
  }
  #wwc-fabric-benefit {
    margin-top: 2rem;
    background: #ebeef0e8;
    padding: 2rem 0rem;
  }
  .row.equalHeight {
    display: flex;
    flex-wrap: wrap;
  }

.wwc-image-benefit {
  margin-top: 2rem;
}
.content p {
  font-size: 1.2rem;
}
  .plyr__video-wrapper.plyr__video-embed {
    padding-bottom: 600px!important;
  }
  .fluid-width-video-wrapper {
    padding-top: 0px!important;
  }
    #player{
    border-radius: 15px;
    box-shadow: 21px 25px 23px -7px rgba(0,0,0,0.15);
    background: none;
  }
    
  .plyr__control {
     border-radius: 50px;
  }
  .plyr__control--overlaid {
    background: #47c1bf;
 
  }
  .plyr__control--overlaid:hover {
    background: #F5969E!important;
  }
  .plyr__control--overlaid:hover .plyr__sr-only {
    color: black;
  }
  .plyr__video-wrapper  {
    background: null;
  }
  .plyr--full-ui input[type=range] {
    color:  rgb(34 48 59);
 }
 @media only screen and (max-width: 600px) {
  .content {
    margin-top: 2rem;
  }
}
</style>

<h2 class="wwc-heading">Introducing Wide Waistband Leggings, the latest addition to the 2023 SweetLegs leggings collection!</h2>
<div id="wrapper-video"></div>
<div id="wwc-video">
      <div class="row equalHeight">
        <div  class="col-md-4 col-sm-12 col-xs-12">
            <div class="plyr__video-embed" id="player-wwc" style="height: 600px;"> 
 	 <iframe height="600px" src="https://www.youtube.com/embed/dC6BdaKcWUQ?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
	</div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12" style="display:flex; align-items: center;">
          <div class="empty_space"><span class="empty_space_inner"></span></div>
          <div class="content">
            <P style="font-weight: 400" data-aos="fade-right" data-aos-offset="250" data-aos-delay="150" data-aos-duration="1000" class="aos-init aos-animate">The same fabric you know and love, with the waistband you’ve been waiting for. Our NEW mid-rise Wide Waistband Leggings offers a wide yoga-style waistband for maximum comfort.</P>
            <p data-aos="fade-right" data-aos-offset="320" data-aos-delay="150" data-aos-duration="1000" class="aos-init aos-animate">Designed to sit at your natural waist, the brand new mid-rise waistband on the Wide Waistband Leggings offers extreme comfort and gentle support. They are designed with the wearer’s comfort in mind and the lack of encased elastic results in a comfortable and enjoyable wearing experience for all size ranges.</p>
          </div>
        </div>
      </div>          
</div>
<section id="wwc-fabric-benefit">
  <div class="fab-cont">
    <div class="container-fluid">
      <div style="text-align: center" class="row">
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/super-soft.png?v=1673994221"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="450" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/4-way-stretch.png?v=1673994211"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="650" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/sizing.png?v=1673994215"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="850" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/WWB.png?v=1673994225"/></div>
           <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-0 col-xs-0"></div>
      </div>
    </div>
  </div>
</section> 

<section id="wwc-image-benefit">
  <div class="fab-cont">
    <div class="container-fluid">
      <div style="text-align: center" class="row equalHeight">
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/DSC_7791.jpg?v=1673991404"/></div>
          <div data-aos="fade-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12" style="display:flex;align-items:center"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/details.jpg?v=1673991377"/></div>
      </div>
    </div>
  </div>
</section> 
