<style>
  
.jegging-heading {
    text-align: center;
    margin: 50px 30px;
}
  .jegging-para {
    font-size: 1.8rem;
    text-align: left;
  }
  #jegging-image-benefit img{
    height: 700px;
    width: 100%;
    object-fit: cover;
  }
  #jegging-image-benefit .cont{
  padding: 35px;
  background: #eee;
  text-align: left;
}
#jegging-fabric-benefit {
    margin: 50px 0px;
    background: url(https://cdn.shopify.com/s/files/1/2445/2869/files/DSC_8169.jpg?v=1675093702);
    padding: 160px 0px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0px -465px;
    position: relative;
}

#jegging-fabric-benefit .overlay{
   position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #0000004d;
}
.plyr__poster{
  background-image: url(https://cdn.shopify.com/s/files/1/2445/2869/files/screenshot_2023-01-27_at_9.31.35_am_720.png?v=1675099237)!important;
  background-size: cover;
}
.jegging-ul {
  font-size: 1.6rem;
}
#videos-part:before{
    width: 16px;
    content: " ";
    background-image: url(/img/border-left3.png);
    position: absolute;
    left: -16px;
    top: -6px;
    height:20px;
}
  .plyr__control.plyr__control--overlaid  {
    background: none;
  }
   .plyr__control.plyr__control--overlaid:hover  {
    background: none;
  }
  .plyr__control.plyr__control--overlaid svg{
    opacity: 0;
  }
.plyr__control.plyr__control--overlaid:before{
   width: 200px;
    content: " ";
    background-image: url(https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-videoarrow.svg?v=1675101936);
    position: absolute;
    left: -100px;
    top: -100px;
    height: 200px;
    background-size: cover;
}
  .fluid-width-video-wrapper {
    padding-top:  0px!important;
  }
 @media only screen and (max-width: 1000px) {
      #jegging-fabric-benefit {
    background-size: auto;
   }
 }
 @media only screen and (max-width: 600px) {
  .jegging-para {
    font-size: 1.2rem;
  }

.jegging-ul {
  font-size: 1.2rem;
}
   #jegging-fabric-benefit {
    background-size: auto;
   }
   #jegging-image-benefit img {
    height: auto;
   }
   #jegging-fabric-benefit {
     padding: 50px 0px;
   }

.plyr__control.plyr__control--overlaid:before {
    width: 80px;
    left: -30px;
    top: -30px;
    height: 80px;
}
</style>

<div id="jegging-video">
  <div class="row">
    <div  class="col-md-12">
      <div class="plyr__video-embed" id="player"> 
       	 <iframe src="https://www.youtube.com/embed/nXLsVYBURj8?autoplay=0&controls=0&rel=0&showinfo=0&iv_load_policy=3&modestbranding=1&disablekb=1&playsinline=1&widget_referrer=https%3A%2F%2Fwww.sweetlegs.ca%2Fpages%2Fmaternity&cc_load_policy=0&cc_lang_pref=auto&enablejsapi=1&origin=https%3A%2F%2Fwww.sweetlegs.ca&widgetid=1" allowfullscreen allowtransparency allow="autoplay"></iframe>
      </div>
      </div>
    </div>          
</div>
<h2 class="jegging-heading">
  Introducing the Anytime Jeggings by SweetLegs – the ultimate combination of style and comfort!
</h2>

<section id="jegging-image-benefit">
  <div class="fab-cont">
    <div class="">
      <div style="text-align: center" class="row equalHeight">
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/DSC_8020.2.jpg?v=1675093684"/></div>
          <div data-aos="fade-in" data-aos-offset="250" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12" style="display:flex;align-items:center">
            <p class="jegging-para" style="line-height: 2.2">These stretch denim jeggings come in three on-trend shades: Vintage, Indigo, and Classic Black, with beautiful details that will elevate any outfit. The stretchy denim fabric and comfortable waistband ensure a great fit, while the skinny leg and ankle-length cut provide a sleek and stylish look. These jeggings are versatile and can be dressed up or down, making them perfect for any occasion and will quickly become your go-to for all your fashion needs.
         </p>
          </div>
      </div>
    </div>
  </div>
</section> 
<div id="jegging-fabric-benefit">
   <div class="overlay"></div>
  <div class="fab-cont">
    <div class="">
      <div style="text-align: center" class="row">
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-icons-1.svg?v=1675099688"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="450" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-icons-2.svg?v=1675099746"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="650" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-icons-3.svg?v=1675099752"/></div>
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="850" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-icons-4.svg?v=1675099756"/></div>
        <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="850" data-aos-duration="1000" class="col-lg-2 col-md-2 col-sm-6 col-xs-6"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Jeggings-icons-5.svg?v=1675099762"/></div>
           <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
      </div>
    </div>
  </div>
</div> 

<section id="jegging-image-benefit">
  <div class="fab-cont">
    <div class="">
      <div style="text-align: center" class="row equalHeight">       
          <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="150" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12" style="display:flex;align-items:center"> 
            <div class="cont">
              <h1>Features:</h1>
                <ul class="jegging-ul">
                   <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="400" data-aos-duration="1000" class="aos-init aos-animate">Elasticized waistband</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="550" data-aos-duration="1000" class="aos-init aos-animate">Functional front and rear pockets</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="700" data-aos-duration="1000" class="aos-init aos-animate">Branded buttons and rivets</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="850" data-aos-duration="1000" class="aos-init aos-animate">Belt loops</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1000" data-aos-duration="1000" class="aos-init aos-animate">SweetLegs motto printed inside</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1150" data-aos-duration="1000" class="aos-init aos-animate">Faux zipper fly</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1300" data-aos-duration="1000" class="aos-init aos-animate">Available in sizes XS, S, M, L, XL, 2X, 3X</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1450" data-aos-duration="1000" class="aos-init aos-animate">Available in 3 washes – Vintage, Indigo, and Classic Black</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1500" data-aos-duration="1000" class="aos-init aos-animate">Inseam: 28” (all sizes)</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1650" data-aos-duration="1000" class="aos-init aos-animate">Rise: 10 1⁄2” - 14” (depending on size)</li>
                    <li data-aos="fade-in" data-aos-offset="100" data-aos-delay="1700" data-aos-duration="1000" class="aos-init aos-animate"><span>Buttery soft SweetLegs fabric <br>90% Polyester &amp; 10% Spandex</span></li>
                </ul>
            </div>
          </div>
         <div data-aos="fade-in" data-aos-offset="150" data-aos-delay="250" data-aos-duration="1000" class="col-lg-6 col-md-6  col-sm-12 col-xs-12"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/DSC_8158.jpg?v=1675093692"/></div>
      </div>
    </div>
  </div>
</section> 


