{% if product.type contains 'High-Waisted' %}
{% include 'info-high-waist-leggings' %}

{% elsif product.type != 'SweetLegs Athleisure'%}  
 

			<table>

                  {% if product.type == 'SweetLegs Petite' %}
                    <tr>
                      <td><strong>Size</strong></td>
                      <td>Petite Size - fits size 00-6, with approx. 26" inseam</td>
                    </tr>
                  {% endif %}

                  {% if product.type == 'SweetLegs One Size' %}
                    <tr>
                      <td><strong>Size</strong></td>
                      <td>One Size - fits size 6 to 14, with approx. 26" inseam</td>
                    </tr>
                  {% endif %}

                  {% if product.type == 'SweetLegs Plus' %}
                    <tr>
                      <td><strong>Size</strong></td>
                      <td>Plus Size - fits size 14 to 22, with approx. 27" inseam</td>
                    </tr>
                  {% endif %}
                  {% if product.type == 'SweetLegs Plus2' %}
                    <tr>
                      <td><strong>Size</strong></td>
                      <td>Plus2 Size - fits size 22 to 28, with approx. 27" inseam</td>
                    </tr>
                  {% endif %}

                  {% if product.type == 'SweetLegs Kids' %}
                    <tr>
                      <td><strong>Kids Sizes</strong></td>
                      <td>
                        Small: 2/4Y, 2 - 4 yrs, 16.5” - 17.5”, up to 110cm<br>
                        Medium: 6/8Y, 5 - 8 yrs, 19.5” - 20.5”, up to 140cm<br>
                        Large: 10/12Y, 9 - 12 yrs, 23.5” - 24.5”, up to 160cm
                      </td>
                    </tr>
                  {% endif %}

                  <tr>
                    <td><strong>Fabric</strong></td>
                    <td>Extremely stretchy, opaque, breathable - perfect for every season.</td>
                  </tr>

                  <tr>
                    <td><strong>Material</strong></td><td>Polyester & Spandex Blend</td>
                  </tr>

                  <tr>
                    <td><strong>Care</strong></td><td>Hand wash cold & hang dry.</td>
                  </tr>

                  <tr>
                    <td><strong>Hypoallergenic</strong></td><td>Safe for sensitive skin</td>
                  </tr>

                  <tr>
                    <td><strong>Touch & Feel</strong></td><td>Soft + Fitting + Warm</td>
                  </tr>

                  <tr>
                    <td><strong>Note</strong></td>
                    <td>All dark colors, especially black should be hand washed prior to wearing to prevent bleed.</td>
                  </tr>

                </table>
{% endif %} 