<div class="join-the-team">
  <h1>Do you LOVE SweetLegs? Apply today to become an Independent Distributor in your area! Sell SweetLegs locally and make money, connect with other like-minded entrepreneurs, and join our body positive movement!</h1>
  <h3>We are excited to be accepting applications for Canada and select areas in the USA! If you think you have what it takes to build a wicked business while having a ton of fun, Step 1 of 3 begins with filling out a basic questionnaire to see if you're the right fit for the team. Click the link below and get started! We can't wait to Rock It and Own It with YOU!<h3>
  <p><a style="border: none;" href="/pages/independent-distributor-program" target="_blank" title="Apply to be a Distributor" rel="noopener noreferrer"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/BecomeAnIndependentDistributor-jan2020.jpg?v=1579541960" alt=""></a></p>
</div>
  
 <style>
   .join-the-team h1 {
     min-height: auto !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
    font-size: 200%;
    text-align: left;
   }	
   .join-the-team h3 {
    font-size: 150%;
    padding-bottom: 50px;
     min-height: auto !important;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100 !important;
    text-align: left;
   }
 </style>