<div class="search-row">
    <div class="large-12 search-columns" style="text-align: left">   
      <form role="search" method="get" class="search-form" action="/search">
        <div class="filterBoxWrap">
            <div class="filterBox fBox minimal-form-input" data-enable-listfilter="true" data-listfilter-list="#searchList" data-listfilter-by-attribute="data-name">
               <input class="customerTag" type=hidden value={{customer.tags}}  />  
               <label class="screen-reader-text" for="search">
                <span class="text"><span class="text-inner">{{ 'searchs.search.search_for' | t | escape }}</span></span>
               </label>
               <input   class="form-controls" autocomplete="off">
               <input type="hidden" name="type" value="product" />
  			   <input class="search-all" type="submit" value="{{ 'searchs.search.submit' | t | escape }}" />               
            </div>
        </div>
      </form>
     <div class="suggestion_hint search_hint">{{ 'searchs.search.hint_html' | t }}</div> 
   </div>
  <div class="search-content">
        <table>
         <tbody id="searchList">
         </tbody>
    	</table>
        <table >
           <tbody id="searchListTag">
           </tbody>
        </table>
  </div>
  
  <p class="zeroResults hideMe">No Products Found</p>
  <div class="orderSubmit dummyOrder">          
  </div>  

</div><!-- row -->
