{%- comment -%} OffCanvas Aside Content Left {%- endcomment -%}

<div class="offcanvas_aside offcanvas_aside_left" id="offcanvas-drawer-left" >
  <div class="nano">
    <div class="nano-content">
      <div class="offcanvas_aside_content">
        <div id="menu-offcanvas" class="offcanvas_mainmenu"></div>
        <div id="sidebar-offcanvas" class="offcanvas_sidebars">
          <div class="offcanvas_close offcanvas_target"></div>
          <div class="offcanvas_shop_sidebar offcanvas_target">
            <div class="widget-area">
              {%- include 'shop-sidebar' -%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%- comment -%} OffCanvas Aside Content Right {%- endcomment -%}
<div class="offcanvas_aside offcanvas_aside_right" id="offcanvas-drawer-right">        
  <div class="nano">
    <div class="nano-content">
      <div class="offcanvas_aside_content">
        {%- comment -%} SEARCH {%- endcomment -%}
        <div id="search-offcanvas" class="offcanvas_search offcanvas_target"></div>
        
        {%- comment -%} CART {%- endcomment -%}
        {%- if settings.catalog_mode == '' -%}
        <div class="loading-overlay"><i class="button-loader"></i></div>
        <div id="cart-offcanvas" class="offcanvas_minicart offcanvas_target" data-empty-bag-txt="{{ 'header.cart.no_products' | t | escape }}">
          <div class="offcanvas_close"></div>
          <h2 class="cart-title">{{ 'header.cart.title' | t | escape }}</h2>
          {%- include 'cartblock' -%}
        </div>
        {%- endif -%}
        
        {%- comment -%} SIZE CHART {%- endcomment -%}
        {%- if template.name == 'product' and settings.product_size_chart != '' -%}
        {%- if product.type == 'SweetTops' -%}
         <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close"></div>
          <h2 class="sizechart-title">SIZE GUIDE</h2>
          <div class="sizechart-content">
 				           {% if product.title contains 'Bra' %}     
 				{%- include 'sweetlegs_sizing_canvas_bra' -%}
            {% else %}
              {%- include 'sweetlegs_sizing_canvas' -%}
              {% endif %}
            
          </div> 
          
        </div>
        {%- elsif product.type == 'SweetLegs Kids' -%}
        {%- assign sizechart = pages[settings.product_size_chart] -%}
         <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close"></div>
          <h2 class="sizechart-title">SIZE GUIDE</h2>
          <div class="sizechart-content">
 				{{ sizechart.content }}
            
          </div> 
          
        </div>
        {%- elsif product.type == 'SweetLegs Athleisure' -%}
        {%- assign sizechart = pages[settings.product_size_chart] -%}
         <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close"></div>
          <h2 class="sizechart-title">SIZE GUIDE</h2>
          <div class="sizechart-content">
 			           {% if product.title contains 'Bra' %}     
 				{%- include 'sweetlegs_sizing_canvas_bra' -%}
            {% else %}
              {%- include 'sweetlegs_sizing_canvas' -%}
              {% endif %}
            
          </div> 
          
        </div>
        {%- elsif product.type == 'Shorts' -%}
         <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close"></div>
          <h2 class="sizechart-title">SIZE GUIDE</h2>
          <div class="sizechart-content">
 				{%- include 'sweetlegs_sizing_canvas' -%}
            
          </div> 
          
        </div>
        {% else %}
        {%- assign sizechart = pages[settings.product_size_chart] -%}
         <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close"></div>
           <div>
              <h2 class="sizechart-title">SIZE GUIDE</h2>
              <div class="sizechart-content">
                {%- include 'sweetlegs_sizing_canvas' -%}
              </div> 
           </div>         
        </div>
        {%- endif -%}
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
<div class="offcanvas_overlay"></div>


<script>
let touchstartX = 0
let touchendX = 0

const sliderLeft = document.getElementById('offcanvas-drawer-left')
const sliderRight = document.getElementById('offcanvas-drawer-right')
function handleGesture() {   
  if (touchendX - touchstartX > 100) {
    $('body').removeClass('offcanvas_open');
     $('body').removeClass('offcanvas_right');
  } else if(touchstartX < 45 && touchstartX == touchendX) {
    $('body').removeClass('offcanvas_open');
     $('body').removeClass('offcanvas_right');
  }
  
}
  
function handleLeftGesture() {  
  if (touchstartX - touchendX > 100) {
    $('body').removeClass('offcanvas_open');
     $('body').removeClass('offcanvas_left');
  } else if(touchstartX < 45) {
      $('body').removeClass('offcanvas_open');
     $('body').removeClass('offcanvas_left');
  }
  
}

sliderLeft.addEventListener('touchstart', e => {
  touchstartX = e.changedTouches[0].screenX

})

sliderLeft.addEventListener('touchend', e => {
  touchendX = e.changedTouches[0].screenX
  handleLeftGesture()
})

sliderRight.addEventListener('touchstart', e => {
  touchstartX = e.changedTouches[0].screenX
})

sliderRight.addEventListener('touchend', e => {
  touchendX = e.changedTouches[0].screenX
  handleGesture()
})
</script>
