<a href="#defaultsiteoverlay" class="open-popup-link"></a>
<style>
  #defaultsiteoverlay {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto; 
    padding: 50px 20px 25px;
    text-align: center;
    border-radius: 15px;
  }
  #defaultsiteoverlay .title {
    cursor: auto;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    margin: 0 0 15px;
    font-family: apercu,sans-serif;
    line-height: 130%;
    letter-spacing: -1px;
    color: #004f71;
    font-size: 3rem;
  }

  #defaultsiteoverlay .actions {
    color: #485259;
    cursor: auto;
    font-size: 1.6rem;
    font-family: apercu,sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px 0 10px;
    display: flex;
  justify-content: center;
  }
  #defaultsiteoverlay .actions .btn {
    min-width: 100px;
  }
  #defaultsiteoverlay .actions .btn--secondary {
    transition: all .5s ease-in-out;
    padding: 15px 19px;
    line-height: 1;
    font-weight: 600;
    font-family: apercu,sans-serif;
    letter-spacing: -.5px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.15);
    background: #fff;
    color: #dd0031;
    border: 0px;
  }
  #defaultsiteoverlay .nowrap {
    white-space: nowrap;
}
  #defaultsiteoverlay .mfp-close {
    opacity: 1;
    margin: 20px;
    width: 30px!important;
    height: 30px!important;
  }
  #defaultsiteoverlay .mfp-close img {
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
  #defaultsiteoverlay .title { 
    font-size: 2.2rem;
  }
  #defaultsiteoverlay .actions {
    display: block;
  }
  #defaultsiteoverlay .actions .btn {
    min-width: 100%;
    margin-bottom: 20px;
 }
}
</style>

<div id="defaultsiteoverlay" class="mfp-hide white-popup" >
        <div class="leaving-cfa" role="alert">
            <span class="icon-close mfp-close"><img src="{{ 'icon-cp_close.svg' | asset_url }}"/></span>
            <p class="title">Now leaving <br/><span class="nowrap">shop.chick-fil-a.com</span></p>
            <p class="lead"></p>
            <p>You’re just a few steps away from making someone’s day a little brighter (and tastier). We’re sending you to the site of our eGift Card partner to take your purchase from here. 
<br><br>Note: Their Terms and Conditions of Service and Privacy Policy will apply. Thank you for sharing the gift of &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Chick-fil-A!
            </p>
            <p class="actions">
                <a style="margin-right: 20px" href="https://cfa.wgiftcard.com/responsive/personalize_responsive/chooseDesign/cfa/1?_ga=2.113038787.679930990.1667316304-1489875787.1667316304&amp;_gl=1*1ud23tt*_ga*MTQ4OTg3NTc4Ny4xNjY3MzE2MzA0*_ga_W1ZL54JC7M*MTY2NzMxNjMwNC4xLjEuMTY2NzMxNjYyMy42MC4wLjA." class="btn btn--primary btn--small go-to-link" target="_blank" rel="noopener noreferrer">Continue</a> 
              <a href="#" class="btn btn--secondary btn--small go-back">Go back</a>
            </p>
        </div>
</div>

<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Magnific Popup core JS file -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
const popup = $('.open-popup-link').magnificPopup({
  type:'inline',
  midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
})
$('a:not(".btn")').click(function(e) {
     
    if($(this).html() == 'Restaurant Gift Cards') {
      e.preventDefault();  
  e.stopPropagation();
   popup.magnificPopup('open');
  $('.go-to-link').attr('href', $(this).attr('href'));
  }
})
  
$('.go-back').click(function(e) {
  popup.magnificPopup('close');
})
$('.mfp-close img').click(function(e) {
  popup.magnificPopup('close');
})

 
</script>