<div class = "" id="revslider_foot_NEWLIVE-one">			<rs-module-wrap id="rev_slider_error_1_wrapper">
				<rs-module id="rev_slider_error_1">
					<div class="rs_error_message_box">
						<div class="rs_error_message_oops">Oops...</div>
						<div class="rs_error_message_content">Slider with alias NEWLIVE one not found.</div>
					</div>
				</rs-module>
			</rs-module-wrap>
			<script type="text/javascript">
				var rs_eslider = document.getElementById("rev_slider_error_1");
				rs_eslider.style.display = "none";
				console.log("Slider with alias NEWLIVE one not found.");
			</script>
{% assign revslider_enabled = 1 %}</div><script type='text/javascript'></script><script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_NEWLIVE-one" ).after( "<div id='revslider_show_NEWLIVE-one'></div>" );
                            jQuery( "#revslider_drag_NEWLIVE-one" ).hide();
                            jQuery("#revslider_foot_NEWLIVE-one").appendTo("#revslider_show_NEWLIVE-one");
                            jQuery("#revslider_show_NEWLIVE-one .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>