<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/settings.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/font-awesome.min.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'>
  <script type='text/javascript' >window.hw_a = 'true';</script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>
<link href="https://fonts.googleapis.com/css?family=Lato:700%7CRaleway:100%2C600%2C700%2C900%7CRoboto:500%2C900" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div id="rev_slider_2453_5_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_2453_5" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-7158" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="/collections/sweettops"   data-thumb=""  data-delay="10000"  data-rotate="0"  data-saveperformance="off"  data-title="tops" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png"  alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-7158-layer-8" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-width="4000"
			data-height="602"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":360,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+1730","speed":1360,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 5;font-family:Arial;background-color:rgb(242,242,242);cursor:pointer;"> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-7158-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','458']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','121']" 
						data-fontsize="['45','35','30','25']"
			data-lineheight="['60','60','60','40']"
			data-width="['none','579','523','407']"
			data-height="['none','74','74','74']"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','off']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1560,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"+840","speed":1250,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Back.easeIn"}]'
			data-textAlign="['center','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 6; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Lato;cursor:pointer;">GET READY TO FALL IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-7158-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','6']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-7']" 
						data-fontsize="['45','35','30','45']"
			data-lineheight="['60','60','60','50']"
			data-width="['none','579','523','307']"
			data-height="['none','74','74','none']"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','off']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1550,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"+820","speed":1250,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Back.easeIn"}]'
			data-textAlign="['center','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 7; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Lato;cursor:pointer;">GET READY </BR>TO FALL </BR>IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7158-layer-15" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-fontsize="['45','35','30','35']"
			data-lineheight="['60','60','60','40']"
			data-width="835"
			data-height="100"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1540,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+860","speed":1210,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 8; min-width: 835px; max-width: 835px; max-width: 100px; max-width: 100px; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Lato;cursor:pointer;">GET READY </BR>TO FALL </BR>IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7158-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-fontsize="['45','35','30','25']"
			data-lineheight="['60','60','60','40']"
			data-width="835"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":1540,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+860","speed":1210,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 9; min-width: 835px; max-width: 835px; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Lato;cursor:pointer;">GET READY TO FALL IN <span  style=" text-decoration: underline;
  text-decoration-color: #00c4b3;">LOVE</span> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-7158-layer-10" 
			 data-x="['center','center','center','center']" data-hoffset="['5','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['5','0','0','0']" 
						data-fontweight="['400','600','700','700']"
			data-width="4000"
			data-height="602"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2150,"speed":1010,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 10;font-family:Arial;background-color:rgb(242,242,242);cursor:pointer;"> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7158-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['-373','-306','-251','-129']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-4','21','-20','23']" 
						data-fontweight="['700','600','700','700']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3740,"speed":1280,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 11;cursor:pointer;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['719px','719px','614px','455px']" data-hh="['859px','859px','733px','545px']" data-lazyload="" data-no-retina> </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7158-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['429','389','301','148']" 
			 data-y="['top','top','top','top']" data-voffset="['275','278','281','253']" 
						data-fontweight="['500','600','700','700']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":4400,"speed":1340,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+730","speed":780,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 12;cursor:pointer;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['606px','495px','379px','207px']" data-hh="['99px','81px','62px','34px']" data-lazyload="" data-no-retina> </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-7158-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['423','395','306','149']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-39','-29','-31','-8']" 
						data-fontsize="['45','35','25','12']"
			data-fontweight="['100','600','600','600']"
			data-letterspacing="['4','4','4','3']"
			data-width="['none','none','none','195']"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3220,"speed":1440,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+1800","speed":800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 13; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 100; color: #000000; letter-spacing: 4px;font-family:Raleway;cursor:pointer;">PROUDLY INTRODUCING </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption rev-btn rev-withicon " 
			 id="slide-7158-layer-6" 
			 data-x="['left','left','left','left']" data-hoffset="['434','393','307','167']" 
			 data-y="['top','top','top','top']" data-voffset="['310','299','304','241']" 
						data-lineheight="['5','5','5','17']"
			data-width="['174','192','172','172']"
			data-height="['none','43','none','none']"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/collections\/sweettops","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":7190,"speed":640,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgb(0,196,179);bs:solid;bw:0 0 0 0;"}]'
			data-textAlign="['left','left','left','center']"
			data-paddingtop="[12,12,12,12]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[12,12,12,12]"
			data-paddingleft="[35,35,35,35]"
			data-blendmode="multiply"

			style="z-index: 14; min-width: 174px; max-width: 174px; white-space: nowrap; font-size: 17px; line-height: 5px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: px;font-family:Roboto;background-color:rgb(0,0,0);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW<i class="fa-icon-chevron-right"></i> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-7158-layer-11" 
			 data-x="['left','center','left','left']" data-hoffset="['430','76','308','155']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-28','-36','-20','-27']" 
						data-fontsize="['45','35','25','15']"
			data-fontweight="['700','600','600','600']"
			data-width="['none','none','none','195']"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":7190,"speed":630,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":320,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['left','left','left','left']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 15; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Raleway;cursor:pointer;">GET YOURS TODAY. </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-7159" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="/collections/new"   data-thumb=""  data-rotate="0"  data-saveperformance="off"  data-title="nov4" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='#50aa9e' style='background:#50aa9e' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 12 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-9" 
			 id="slide-7159-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['-1503','-1589','-1527','-1893']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-6','-4','-4','-24']" 
						data-width="1239"
			data-height="614"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;font-family:Arial;background-color:rgb(80,170,158);"> </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme rs-parallaxlevel-9" 
			 id="slide-7159-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['1507','1380','1070','693']" 
			 data-y="['top','top','top','top']" data-voffset="['-16','-28','-32','-28']" 
						data-width="1241"
			data-height="721"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;font-family:Arial;background-color:rgb(80,170,158);"> </div>

		<!-- LAYER NR. 14 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7159-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','-174']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-26']" 
						data-fontweight="['500','400','400','500']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['1810px','1810px','1357px','1357px']" data-hh="['800px','800px','600px','600px']" data-lazyload="" data-no-retina> </div>

		<!-- LAYER NR. 15 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
			 id="slide-7159-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','-35']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','-15']" 
						data-fontweight="['500','400','400','500']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":870,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","to":"o:1;","ease":"Power3.easeOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:[-100%];","ease":"Back.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['426px','426px','377px','284px']" data-hh="['828px','828px','732px','552px']" data-lazyload="" data-no-retina> </div>
	</li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>
 
                <script type="text/javascript"> 
                      
                    function revslider_showDoubleJqueryError(sliderID) {
				var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
				errorMessage += "<br>Don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily."; 
                                
				errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
					jQuery(sliderID).show().html(errorMessage);
			}
                        
                       document.addEventListener("DOMContentLoaded", function(event) { 
                        
                    
						if (setREVStartSize!==undefined) setREVStartSize(
	{c: '#rev_slider_2453_5', responsiveLevels: [1240,1024,778,480], gridwidth: [1240,1024,778,375], gridheight: [600,600,600,500], sliderLayout: 'auto'});

			
						var tpj=jQuery;
                        
			 
			                                  //  tpj.noConflict();
                                        
			window.revapi2453;
			tpj(document).ready(function() {
				if(tpj("#rev_slider_2453_5").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_2453_5");
				}else{
					revapi2453 = tpj("#rev_slider_2453_5").show().revolution({
						sliderType:"standard",
 data_rev:"fab65db282b102b2464ffd0a290d425b", data_slider_id:"rev_slider_2453_5",jsFileLocation:"https://cdn.shopify.com/s/files/1/0056/8711/5885/t/10/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:6000,
						snow: {
							startSlide: "2",
							endSlide: "last",
							maxNum: "400",
							minSize: "0.2",
							maxSize: "6",
							minOpacity: "0.3",
							maxOpacity: "1",
							minSpeed: "30",
							maxSpeed: "100",
							minSinus: "1",
							maxSinus: "100",
						},
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								touchOnDesktop:"off",
								swipe_threshold: 75,
								swipe_min_touches: 50,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
							,
							arrows: {
								style:"hephaistos",
								enable:true,
								hide_onmobile:false,
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:10,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:10,
									v_offset:0
								}
							}
							,
							bullets: {
								enable:true,
								hide_onmobile:false,
								style:"uranus",
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								direction:"horizontal",
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:30,
								space:10,
								tmp:'<span class="tp-bullet-inner"></span>'
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,375],
						gridheight:[600,600,600,500],
						lazyType:"smart",
						parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
				speedbg:0,
				speedls:0,
				levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						},
						shadow:0,
						spinner:"spinner3",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							allowHTML5AutoPlayOnAndroid: false,
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						panZoomDisableOnMobile:"on",
						}
					});
				}

                RsSnowAddOn(tpj, revapi2453);
			});	/*ready*/
 
                                 
                                 });
                                 
		</script>
               
		<script>
					var htmlDivCss = '	#rev_slider_2453_5_wrapper .tp-loader.spinner3 div { background-color: #FFFFFF !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
					</script>
					<script>
					var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script><script>
					var htmlDivCss = unescape(".hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A18px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_2453_5%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}
					else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				  </script>
				</div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>