<div class = "revslider_embededs" id="revslider_foot_athleisure">
			<!-- START Athleisure REVOLUTION SLIDER 6.2.21.5 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_24_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:;">
				<rs-module id="rev_slider_24_1" style="" data-version="6.2.21.5">
					<rs-slides>
						<rs-slide data-key="rs-41" data-title="Slide" data-link="{{ request.path | slice: 1,2}}https://sweetlegs.com/collections/new" data-target="_self" data-seoz="front" data-duration="20000ms" data-anim="ei:d;eo:d;s:820;r:0;t:fade;sl:0;">
							<img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/transparent.png" data-bg="c:#000000;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-24-slide-41-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:600px,495px,471px,312px;h:136px,112px,107px,71px;"
								data-frame_1="st:18390;sp:1610;sR:18390;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_ath_logo.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-24-slide-41-layer-17" 
								class="rs-nolc rs-layer-video intrinsic-ignore"
								data-type="video"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;y:m;yo:0,0,0,-22px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,465px;"
								data-actions='o:click;a:playvideo;layer:slider-24-slide-41-layer-17;'
								data-basealign="slide"
								data-video="vd:100;sta:00;rwd:f;l:false;ptimer:true;nse:f;sav:f;afs:f;inl:f;"
								data-mp4="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_compressed.mp4?v=1633646804"
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:8;"
							>
							</rs-layer><!--

							--><rs-layer
								id="slider-24-slide-41-layer-18" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:0,0,0,-33px;yo:0,0,0,10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,408px;h:100%,100%,100%,433px;"
								data-actions='o:click;a:toggle_mute_video;layer:slider-24-slide-41-layer-17;'
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:9;"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide data-key="rs-42" data-title="Slide" data-anim="ei:d;eo:d;r:0;t:fade;sl:7;">
							<img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/transparent.png" data-parallax="off" class="rev-slidebg" data-no-retina>
<!---->						</rs-slide>
					</rs-slides>
				</rs-module>






				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_24_1',rl:[1240,1024,778,480],el:[600,600,600,300],gw:[1240,1024,778,375],gh:[600,600,600,300],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi24,
						tpj;
					function revinit_revslider241() {
					jQuery(function() {
						tpj = jQuery;
						revapi24 = tpj("#rev_slider_24_1");
						if(revapi24==undefined || revapi24.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_24_1");
						}else{
							revapi24.revolution({
								duration:6000,
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,375",
								gridheight:"600,600,600,300",
								lazyType:"smart",
								spinner:"spinner3",
								perspective:600,
								perspectiveType:"local",
								editorheight:"600,600,600,300",
								responsiveLevels:"1240,1024,778,480",
								progressBar: {
									color:"rgba(0,0,0,0.15)",
									vertical:"top",
									size:5,
									x:0,
									y:0
								},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true,
										swipe_min_touches:50
									},
									arrows: {
										enable:true,
										style:"hephaistos",
										hide_onleave:true,
										left: {
											h_offset:10
										},
										right: {
											h_offset:10
										}
									},
									bullets: {
										enable:true,
										tmp:"<span class=\"tp-bullet-inner\"></span>",
										style:"uranus",
										hide_onleave:true,
										v_offset:30,
										space:10
									}
								},
								parallax: {
									levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
									type:"mouse",
									origo:"slidercenter",
									speed:2000
								},
								fallbacks: {
									panZoomDisableOnMobile:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider241();}); else revinit_revslider241();
				</script>
				<script>
					var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = '	#rev_slider_24_1_wrapper rs-loader.spinner3 div { background-color: #FFFFFF !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = unescape("%23rev_slider_24_1_wrapper%20.hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A1000%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A%23rev_slider_24_1_wrapper%20.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3A%23000000%3B%0A%7D%0A%23rev_slider_24_1_wrapper%20.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%27revicons%27%3B%0A%09font-size%3A18px%3B%0A%09color%3A%23ffffff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_24_1_wrapper%20.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82c%27%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A%23rev_slider_24_1_wrapper%20.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82d%27%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_24_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argba%28255%2C255%2C255%2C1%29%3B%0A%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>



				<script>
					var htmlDivCss = unescape("%0A%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_athleisure" ).after( "<div id='revslider_show_athleisure'></div>" );
                            jQuery( "#revslider_drag_athleisure" ).hide();
                            jQuery("#revslider_foot_athleisure").appendTo("#revslider_show_athleisure");
                            jQuery("#revslider_show_athleisure .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>