<div class = "revslider_embededs" id="revslider_foot_slider-1">
			<!-- START Ath header REVOLUTION SLIDER 6.2.21.5 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_28_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;">
				<rs-module id="rev_slider_28_1" style="" data-version="6.2.21.5">
					<rs-slides>
						<rs-slide data-key="rs-48" data-title="Slide" data-anim="ei:d;eo:d;s:1000;r:0;t:fade;sl:0;">
							<img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/transparent.png" alt="Alt" title="Image Title" data-bg="c:#0f0e0e;" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-28-slide-48-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,7;l:0,20,15,9;"
								data-dim="w:['100%','100%','100%','100%'];"
								data-frame_999="o:0;st:w;"
								style="z-index:5;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_TeaserVideoScreenshot.jpg" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>
				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_28_1',rl:[1240,1024,778,480],el:[250,768,960,720],gw:[1240,1024,778,480],gh:[250,250,175,150],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi28,
						tpj;
					function revinit_revslider281() {
					jQuery(function() {
						tpj = jQuery;
						revapi28 = tpj("#rev_slider_28_1");
						if(revapi28==undefined || revapi28.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_28_1");
						}else{
							revapi28.revolution({
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,480",
								gridheight:"250,250,175,150",
								spinner:"spinner0",
								perspective:600,
								perspectiveType:"global",
								editorheight:"250,768,960,720",
								responsiveLevels:"1240,1024,778,480",
								progressBar:{disableProgressBar:true},
								navigation: {
									onHoverStop:false
								},
								fallbacks: {
									allowHTML5AutoPlayOnAndroid:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider281();}); else revinit_revslider281();
				</script>



			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_slider-1" ).after( "<div id='revslider_show_slider-1'></div>" );
                            jQuery( "#revslider_drag_slider-1" ).hide();
                            jQuery("#revslider_foot_slider-1").appendTo("#revslider_show_slider-1");
                            jQuery("#revslider_show_slider-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>