<div class = "" id="revslider_foot_snowaddon-1">
			<!-- START SnowAddon 1 REVOLUTION SLIDER 6.2.21.4 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_35_1_wrapper" data-source="gallery" style="background:#2d3032;padding:0;">
				<rs-module id="rev_slider_35_1" style="" data-version="6.2.21.4">
					<rs-slides>
						<rs-slide data-key="rs-76" data-title="One" data-thumb="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene1.jpg" data-anim="ei:d;eo:d;s:2300;r:0;t:fade;sl:d;" data-firstanim="t:fade;s:1000;sl:7;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene1.jpg" alt="Alt" title="Image Title" data-parallax="6" data-panzoom="d:20000;ss:130;se:100;" class="rev-slidebg" data-no-retina>
<!--						--><rs-zone id="rrzm_76" class="rev_row_zone_middle" style="z-index: 6;"><!--

								--><rs-row
									id="slider-35-slide-76-layer-14" 
									data-type="row"
									data-xy="xo:100px;y:m;"
									data-text="l:22;a:inherit;"
									data-basealign="slide"
									data-rsp_bd="off"
									data-padding="r:100,50,50,50;l:100,50,50,50;"
									data-frame_1="sR:10;"
									data-frame_999="o:0;st:w;sR:8690;sA:9000;"
									style="z-index:6;"
								><!--
									--><rs-column
										id="slider-35-slide-76-layer-15" 
										data-type="column"
										data-xy="xo:100px;yo:100px;"
										data-text="l:22;a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_999="o:0;st:w;sR:8990;sA:9000;"
										style="z-index:7;width:100%;"
									><!--
										--><rs-layer
											id="slider-35-slide-76-layer-1" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;yo:0,0,230px,110px;"
											data-text="w:nowrap,nowrap,normal,normal;s:110,90,100,70;l:100,90,100,70;ls:-5px;fw:600;a:inherit,inherit,center,center;"
											data-dim="w:auto,auto,697px,399px;"
											data-basealign="slide"
											data-disp="inline-block"
											data-margin="b:30,20,30,30;"
											data-padding="r:0,0,40,40;l:0,0,40,40;"
											data-frame_0="o:1;blu:20px;"
											data-frame_0_chars="y:40px;sX:1.5;sY:1.5;o:0;blu:20px;"
											data-frame_1="e:power4.out;st:300;sp:750;sR:290;"
											data-frame_999="sX:1;sY:1;o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:8;font-family:Poppins;display:inline-block;"
										>Happy Holidays 
										</rs-layer><!--

										--><rs-layer
											id="slider-35-slide-76-layer-2" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;xo:0,50px,0,0;yo:0,430px,460px,290px;"
											data-text="w:normal;s:30,30,40,25;l:40,40,50,30;fw:300;a:inherit,inherit,center,center;"
											data-dim="w:auto,100%,100%,100%;"
											data-basealign="slide"
											data-frame_0="o:1;blu:5px;"
											data-frame_0_chars="sX:2;sY:2;o:0;blu:5px;"
											data-frame_1="e:power4.out;st:900;sR:890;"
											data-frame_1_chars="d:3;"
											data-frame_999="o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:9;font-family:Poppins;"
										>Add this Free Snow Add-On to any of your Sliders 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-35-slide-76-layer-16" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-xy="x:c;y:m;"
								data-text="w:normal;fw:700;a:inherit;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_1="e:power4.out;sp:2000;sR:10;"
								data-frame_999="o:0;st:w;sR:6990;"
								style="z-index:5;background-color:rgba(0,0,0,0.35);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-35-slide-76-layer-20" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:50px,41px,31px,19px;yo:50px,41px,31px,19px;"
								data-text="w:normal;s:100,82,62,38;l:25,20,15,9;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:Roboto;"
							>01 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide data-key="rs-77" data-title="Two" data-thumb="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene2.jpg" data-anim="ei:d;eo:d;s:2300;r:0;t:fade;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene2.jpg" alt="Alt" title="Image Title" data-parallax="6" data-panzoom="d:20000;ss:130;se:100;" class="rev-slidebg" data-no-retina>
<!--						--><rs-zone id="rrzm_77" class="rev_row_zone_middle" style="z-index: 6;"><!--

								--><rs-row
									id="slider-35-slide-77-layer-14" 
									data-type="row"
									data-xy="xo:100px;y:m;"
									data-text="l:22;a:inherit;"
									data-basealign="slide"
									data-rsp_bd="off"
									data-padding="r:100,50,40,40;l:100,50,40,40;"
									data-frame_1="sR:10;"
									data-frame_999="o:0;st:w;sR:8690;sA:9000;"
									style="z-index:6;"
								><!--
									--><rs-column
										id="slider-35-slide-77-layer-15" 
										data-type="column"
										data-xy="xo:100px;yo:100px;"
										data-text="l:22;a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_999="o:0;st:w;sR:8990;sA:9000;"
										style="z-index:7;width:100%;"
									><!--
										--><rs-layer
											id="slider-35-slide-77-layer-1" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;yo:0,0,230px,110px;"
											data-text="w:nowrap,nowrap,normal,normal;s:110,90,100,70;l:100,90,100,70;ls:-5px;fw:600;a:inherit,inherit,center,center;"
											data-dim="w:auto,auto,697px,399px;"
											data-basealign="slide"
											data-disp="inline-block"
											data-margin="b:30,20,30,30;"
											data-padding="r:0,0,40,40;l:0,0,40,40;"
											data-frame_0="o:1;blu:20px;"
											data-frame_0_chars="y:40px;sX:1.5;sY:1.5;o:0;blu:20px;"
											data-frame_1="e:power4.out;st:300;sp:750;sR:290;"
											data-frame_999="sX:1;sY:1;o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:8;font-family:Poppins;display:inline-block;"
										>Let it Snow 
										</rs-layer><!--

										--><rs-layer
											id="slider-35-slide-77-layer-2" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;xo:0,50px,0,0;yo:0,430px,460px,290px;"
											data-text="w:normal;s:30,30,40,25;l:40,40,50,30;fw:300;a:inherit,inherit,center,center;"
											data-dim="w:auto,100%,100%,100%;"
											data-basealign="slide"
											data-frame_0="o:1;blu:5px;"
											data-frame_0_chars="sX:2;sY:2;o:0;blu:5px;"
											data-frame_1="e:power4.out;st:900;sR:890;"
											data-frame_1_chars="d:3;"
											data-frame_999="o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:9;font-family:Poppins;"
										>An Effect Add-On for Slider Revolution 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-35-slide-77-layer-16" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-xy="x:c;y:m;"
								data-text="w:normal;fw:700;a:inherit;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_1="e:power4.out;sp:2000;sR:10;"
								data-frame_999="o:0;st:w;sR:6990;"
								style="z-index:5;background-color:rgba(0,0,0,0.35);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-35-slide-77-layer-21" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:50px,41px,31px,19px;yo:50px,41px,31px,19px;"
								data-text="w:normal;s:100,82,62,38;l:25,20,15,9;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:Roboto;"
							>02 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide data-key="rs-78" data-title="Three" data-thumb="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene4.jpg" data-anim="ei:d;eo:d;s:2300;r:0;t:fade;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/snowscene4.jpg" alt="Alt" title="Image Title" data-parallax="6" data-panzoom="d:20000;ss:130;se:100;" class="rev-slidebg" data-no-retina>
<!--						--><rs-zone id="rrzm_78" class="rev_row_zone_middle" style="z-index: 6;"><!--

								--><rs-row
									id="slider-35-slide-78-layer-14" 
									data-type="row"
									data-xy="xo:100px;y:m;"
									data-text="l:22;a:inherit;"
									data-basealign="slide"
									data-rsp_bd="off"
									data-padding="r:100,50,40,40;l:100,50,40,40;"
									data-frame_1="sR:10;"
									data-frame_999="o:0;st:w;sR:8690;sA:9000;"
									style="z-index:6;"
								><!--
									--><rs-column
										id="slider-35-slide-78-layer-15" 
										data-type="column"
										data-xy="xo:100px;yo:100px;"
										data-text="l:22;a:center;"
										data-rsp_bd="off"
										data-column="w:100%;"
										data-frame_999="o:0;st:w;sR:8990;sA:9000;"
										style="z-index:7;width:100%;"
									><!--
										--><rs-layer
											id="slider-35-slide-78-layer-1" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;yo:0,0,230px,110px;"
											data-text="w:nowrap,nowrap,normal,normal;s:110,90,100,70;l:100,90,100,70;ls:-5px;fw:600;a:inherit,inherit,center,center;"
											data-dim="w:auto,auto,697px,399px;"
											data-basealign="slide"
											data-disp="inline-block"
											data-margin="b:30,20,30,30;"
											data-padding="r:0,0,40,40;l:0,0,40,40;"
											data-frame_0="o:1;blu:20px;"
											data-frame_0_chars="y:40px;sX:1.5;sY:1.5;o:0;blu:20px;"
											data-frame_1="e:power4.out;st:300;sp:750;sR:290;"
											data-frame_999="sX:1;sY:1;o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:8;font-family:Poppins;display:inline-block;"
										>Happy New Year 
										</rs-layer><!--

										--><rs-layer
											id="slider-35-slide-78-layer-2" 
											data-type="text"
											data-color="rgba(255,255,255,1)"
											data-rsp_ch="on"
											data-xy="x:l,l,c,c;xo:0,50px,0,0;yo:0,430px,460px,290px;"
											data-text="w:normal;s:30,30,40,25;l:40,40,50,30;fw:300;a:inherit,inherit,center,center;"
											data-dim="w:auto,100%,100%,100%;"
											data-basealign="slide"
											data-frame_0="o:1;blu:5px;"
											data-frame_0_chars="sX:2;sY:2;o:0;blu:5px;"
											data-frame_1="e:power4.out;st:900;sR:890;"
											data-frame_1_chars="d:3;"
											data-frame_999="o:0;e:power4.out;st:w;sp:1000;sR:8990;blu:10px;"
											style="z-index:9;font-family:Poppins;"
										>All Add-Ons & Templates Free with Slider Revolution 
										</rs-layer><!--
									--></rs-column><!--
								--></rs-row><!--
							--></rs-zone><!--

							--><rs-layer
								id="slider-35-slide-78-layer-16" 
								class="tp-shape tp-shapewrapper"
								data-type="shape"
								data-xy="x:c;y:m;"
								data-text="w:normal;fw:700;a:inherit;"
								data-dim="w:100%;h:100%;"
								data-basealign="slide"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-frame_1="e:power4.out;sp:2000;sR:10;"
								data-frame_999="o:0;st:w;sR:6990;"
								style="z-index:5;background-color:rgba(0,0,0,0.35);"
							> 
							</rs-layer><!--

							--><rs-layer
								id="slider-35-slide-78-layer-22" 
								data-type="text"
								data-rsp_ch="on"
								data-xy="xo:50px,41px,31px,19px;yo:50px,41px,31px,19px;"
								data-text="w:normal;s:100,82,62,38;l:25,20,15,9;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;font-family:Roboto;"
							>03 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--

							--><a
								id="slider-35-slide-24-layer-18" 
								class="rs-layer rev-btn rs-layer-static"
								href="https://revolution.themepunch.com/direct-customer-benefits/#addoninstall" target="_blank" rel="noopener"
								data-type="button"
								data-color="rgba(255,255,255,1)"
								data-xy="x:c;y:b;yo:30px;"
								data-text="s:15;l:50;fw:700;a:inherit;"
								data-basealign="slide"
								data-rsp_o="off"
								data-rsp_bd="off"
								data-onslides="s:1;"
								data-padding="r:35;l:35;"
								data-border="bos:solid;boc:rgba(255,255,255,1);bow:2px,2px,2px,2px;bor:30px,30px,30px,30px;"
								data-frame_0="y:20px;sX:1.5;sY:1.5;tp:600;blu:10px;"
								data-frame_1="tp:600;e:power4.out;st:1600;sp:1000;sR:1600;"
								data-frame_999="o:0;tp:600;e:power4.out;st:w;sp:1000;sR:6400;blu:10px;"
								data-frame_hover="c:#000;bgc:#fff;boc:#fff;bor:30px,30px,30px,30px;bos:solid;bow:2px,2px,2px,2px;oX:50;oY:50;sp:0;e:none;"
								style="z-index:8;font-family:Poppins;cursor:pointer;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;"
							>HOW TO INSTALL? 
							</a><!--
					--></rs-static-layers>
				</rs-module>






				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_35_1',rl:[1240,1024,778,480],el:[868,768,960,720],gw:[1240,1024,778,480],gh:[868,768,960,720],type:'standard',justify:'',layout:'fullscreen',offsetContainer:'',offset:'60px',mh:"0"});
					var	revapi35,
						tpj;
					function revinit_revslider351() {
					jQuery(function() {
						tpj = jQuery;
						revapi35 = tpj("#rev_slider_35_1");
						if(revapi35==undefined || revapi35.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_35_1");
						}else{
							revapi35.revolution({
								sliderLayout:"fullscreen",
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,480",
								gridheight:"868,768,960,720",
								spinner:"spinner3",
								perspective:600,
								perspectiveType:"local",
								editorheight:"868,768,960,720",
								responsiveLevels:"1240,1024,778,480",
								fullScreenOffset:"60px",
								progressBar: {
									color:"rgba(255,255,255,0.25)",
									vertical:"top",
									size:10,
									x:0,
									y:0
								},
								navigation: {
									keyboard_direction:"vertical",
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true
									},
									arrows: {
										enable:true,
										style:"uranus",
										left: {
											h_offset:10
										},
										right: {
											h_offset:10
										}
									}
								},
								parallax: {
									levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
									type:"scroll",
									origo:"slidercenter"
								},
								scrolleffect: {
									set:true,
									blur:true,
									maxblur:20,
									slide:true,
									direction:"top",
									multiplicator:2,
									multiplicator_layers:2,
									tilt:10
								},
								fallbacks: {
									allowHTML5AutoPlayOnAndroid:true
								},
								snow: {
									startSlide: "first",
									endSlide: "last",
									maxNum: "400",
									minSize: "0.2",
									maxSize: "6",
									minOpacity: "0.3",
									maxOpacity: "1",
									minSpeed: "30",
									maxSpeed: "100",
									minSinus: "1",
									maxSinus: "100",
								},
							});
						}
						
                		if(typeof RsSnowAddOn !== "undefined") RsSnowAddOn(tpj, revapi35);

					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider351();}); else revinit_revslider351();
				</script>
				<script>
					var htmlDivCss = '	#rev_slider_35_1_wrapper rs-loader.spinner3 div { background-color: #333333 !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = unescape("%23rev_slider_35_1_wrapper%20.uranus.tparrows%20%7B%0A%20%20width%3A50px%3B%0A%20%20height%3A50px%3B%0A%20%20background%3Argba%28255%2C255%2C255%2C0%29%3B%0A%20%7D%0A%20%23rev_slider_35_1_wrapper%20.uranus.tparrows%3Abefore%20%7B%0A%20width%3A50px%3B%0A%20height%3A50px%3B%0A%20line-height%3A50px%3B%0A%20font-size%3A40px%3B%0A%20transition%3Aall%200.3s%3B%0A-webkit-transition%3Aall%200.3s%3B%0A%20%7D%0A%20%0A%20%20%23rev_slider_35_1_wrapper%20.uranus.tparrows%3Ahover%3Abefore%20%7B%0A%20%20%20%20opacity%3A0.75%3B%0A%20%20%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>



				<script>
					var htmlDivCss = unescape("%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Poppins:600%2C300%2C700%7CRoboto:400%2C700" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script src="https://cdn.shopify.com/s/files/1/2448/4493/t/262/assets/revolution.addon.snow.min.js?ver=6.2.21.4"></script><script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_snowaddon-1" ).after( "<div id='revslider_show_snowaddon-1'></div>" );
                            jQuery( "#revslider_drag_snowaddon-1" ).hide();
                            jQuery("#revslider_foot_snowaddon-1").appendTo("#revslider_show_snowaddon-1");
                            jQuery("#revslider_show_snowaddon-1 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>