<div class = "revslider_embededs" id="revslider_foot_athleisure">
			<!-- START Athleisure REVOLUTION SLIDER 6.2.21.4 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_16_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:;">
				<rs-module id="rev_slider_16_1" style="" data-version="6.2.21.4">
					<rs-slides>
						<rs-slide data-key="rs-79" data-title="Slide" data-link="{{ request.path | slice: 1,2}}https://sweetlegs.com/collections/new" data-target="_self" data-seoz="front" data-duration="20000ms" data-anim="ei:d;eo:d;s:820;r:0;t:fade;sl:0;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#000000;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-16-slide-79-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:600px,495px,471px,312px;h:136px,112px,107px,71px;"
								data-frame_1="st:18390;sp:1610;sR:18390;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_logo.png?v=1634159786" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-16-slide-79-layer-17" 
								class="rs-nolc rs-layer-video intrinsic-ignore"
								data-type="video"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;y:m;yo:0,0,0,-22px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,465px;"
								data-actions='o:click;a:playvideo;layer:slider-16-slide-79-layer-17;'
								data-basealign="slide"
								data-video="vd:100;sta:00;rwd:f;l:false;ptimer:true;nse:f;sav:f;afs:f;inl:f;"
								data-mp4="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_compressed.mp4?v=1633646804"
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:8;"
							>
							</rs-layer><!--

							--><rs-layer
								id="slider-16-slide-79-layer-18" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:0,0,0,-33px;yo:0,0,0,10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,408px;h:100%,100%,100%,433px;"
								data-actions='o:click;a:toggle_mute_video;layer:slider-16-slide-79-layer-17;'
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:9;"
							> 
							</rs-layer><!--
-->						</rs-slide>
						<rs-slide data-key="rs-791" data-title="Slide" data-link="{{ request.path | slice: 1,2}}https://sweetlegs.com/collections/new" data-target="_self" data-seoz="front" data-duration="20000ms" data-anim="ei:d;eo:d;s:820;r:0;t:fade;sl:0;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#000000;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-16-slide-791-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:600px,495px,471px,312px;h:136px,112px,107px,71px;"
								data-frame_1="st:18390;sp:1610;sR:18390;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_logo.png?v=1634159786" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-16-slide-791-layer-17" 
								class="rs-nolc rs-layer-video intrinsic-ignore"
								data-type="video"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;y:m;yo:0,0,0,-22px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,465px;"
								data-actions='o:click;a:playvideo;layer:slider-16-slide-791-layer-17;'
								data-basealign="slide"
								data-video="vd:100;sta:00;rwd:f;l:false;ptimer:true;nse:f;sav:f;afs:f;inl:f;"
								data-mp4="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_compressed.mp4?v=1633646804"
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:8;"
							>
							</rs-layer><!--

							--><rs-layer
								id="slider-16-slide-791-layer-18" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:0,0,0,-33px;yo:0,0,0,10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,408px;h:100%,100%,100%,433px;"
								data-actions='o:click;a:toggle_mute_video;layer:slider-16-slide-791-layer-17;'
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:9;"
							> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
				</rs-module>






				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_16_1',rl:[1240,1024,778,480],el:[600,600,600,300],gw:[1240,1024,778,375],gh:[600,600,600,300],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi16,
						tpj;
					function revinit_revslider161() {
					jQuery(function() {
						tpj = jQuery;
						revapi16 = tpj("#rev_slider_16_1");
						if(revapi16==undefined || revapi16.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_16_1");
						}else{
							revapi16.revolution({
								duration:6000,
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,375",
								gridheight:"600,600,600,300",
								lazyType:"smart",
								spinner:"spinner3",
								perspective:600,
								perspectiveType:"local",
								editorheight:"600,600,600,300",
								responsiveLevels:"1240,1024,778,480",
								progressBar: {
									color:"rgba(0,0,0,0.15)",
									vertical:"top",
									size:5,
									x:0,
									y:0
								},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true,
										swipe_min_touches:50
									}
								},
								parallax: {
									levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
									type:"mouse",
									origo:"slidercenter",
									speed:2000
								},
								fallbacks: {
									panZoomDisableOnMobile:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider161();}); else revinit_revslider161();
				</script>
				<script>
					var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = '	#rev_slider_16_1_wrapper rs-loader.spinner3 div { background-color: #FFFFFF !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>



			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_athleisure" ).after( "<div id='revslider_show_athleisure'></div>" );
                            jQuery( "#revslider_drag_athleisure" ).hide();
                            jQuery("#revslider_foot_athleisure").appendTo("#revslider_show_athleisure");
                            jQuery("#revslider_show_athleisure .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>