<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/settings.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/font-awesome.min.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'><script type='text/javascript' >window.hw_a = 'true';</script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>
<link href="https://fonts.googleapis.com/css?family=Raleway:700%7CRoboto:500" rel="stylesheet" property="stylesheet" type="text/css" media="all">
<div id="rev_slider_2031_1_wrapper" class="revslidershow rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_2031_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-31184" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-link="https://sweetlegs.ca/pages/spring-cleaning-sale"   data-thumb="https://cdn.shopify.com/s/files/1/2445/2869/t/265/assets/PinkOrange-BG.png"  data-delay="5900"  data-rotate="0"  data-saveperformance="off"  data-title="SPRING CLEANING SALE" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png"  alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/265/assets/PinkOrange-BG.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
			 id="slide-31184-layer-2" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','1']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-92','-92','-92','-98']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":180,"speed":740,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"easeInOutElastic"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['600px','600px','600px','343px']" data-hh="['386px','386px','386px','216px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/265/assets/SpringCleaningSale-heading.png" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" 
			 id="slide-31184-layer-4" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['249','249','249','208']" 
						data-width="['100%','100%','100%','1253']"
			data-height="['243','243','243','305']"
			data-whitespace="nowrap"
 
			data-type="shape" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1380,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;font-family:Arial;background-color:rgb(244,238,237);"> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-31184-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['1','1','0','-743']" 
			 data-y="['top','top','top','top']" data-voffset="['438','438','462','152']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1380,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['987px','838px','672px','672px']" data-hh="['146px','124px','89px','89px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/265/assets/SpringCleaningSale-saleinfo-DESKTOP.png" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-31184-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['-400','-400','-400','44']" 
			 data-y="['top','top','top','top']" data-voffset="['253','253','253','330']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1380,"speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['303px','303px','303px','303px']" data-hh="['154px','154px','154px','154px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/265/assets/SpringCleaningSale-saleinfo-MOBILE.png" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-6620" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="140"  data-link="/collections/biker-shorts"   data-thumb=""  data-delay="6750"  data-rotate="0"  data-saveperformance="off"  data-title="biker" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='#ffffff' style='background:#ffffff' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-6620-layer-21" 
			 data-x="['left','left','left','left']" data-hoffset="['-40','-88','-560','-1251']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['5','0','-147','35']" 
						data-fontweight="['700','500','500','500']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":2900,"speed":1860,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 5;cursor:pointer;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['449px','429px','420px','882px']" data-hh="['656px','626px','318px','668px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/shortscloseup-white-cropped.jpeg" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-6620-layer-22" 
			 data-x="['left','left','left','left']" data-hoffset="['864','752','-8','-71']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-1','0','-40','15']" 
						data-fontweight="['700','500','500','700']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3730,"speed":1520,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 6;cursor:pointer;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['324px','291px','343px','240px']" data-hh="['675px','606px','714px','500px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/shortshalfbody-cropped.jpeg" data-no-retina> </div>

		<!-- LAYER NR. 7 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-6620-layer-3" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" 
						data-fontsize="['45','45','45','32']"
			data-color="['rgb(255,32,151)','rgb(255,0,199)','rgb(255,0,199)','rgb(255,0,199)']"
			data-width="['none','none','none','282']"
			data-height="['none','none','none','63']"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":430,"speed":1440,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+470","speed":800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 7; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #ff2097; letter-spacing: 4px;font-family:Raleway;cursor:pointer;">INTRODUCING </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption rev-btn rev-withicon " 
			 id="slide-6620-layer-6" 
			 data-x="['center','center','left','left']" data-hoffset="['0','38','353','146']" 
			 data-y="['top','top','top','top']" data-voffset="['333','333','308','276']" 
						data-lineheight="['5','5','5','17']"
			data-width="['174','192','172','172']"
			data-height="['none','43','none','none']"
			data-whitespace="nowrap"
 
			data-type="button" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/collections\/biker-shorts","delay":""}]'
			data-responsive_offset="on" 
			data-responsive="off"
			data-frames='[{"delay":5180,"speed":640,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0,0,0,1);bg:rgb(0,196,179);bs:solid;bw:0 0 0 0;"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[12,12,12,12]"
			data-paddingright="[35,35,35,35]"
			data-paddingbottom="[12,12,12,12]"
			data-paddingleft="[35,35,35,35]"
			data-blendmode="multiply"

			style="z-index: 8; min-width: 174px; max-width: 174px; white-space: nowrap; font-size: 17px; line-height: 5px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: px;font-family:Roboto;background-color:rgb(255,32,151);border-color:rgba(0,0,0,1);border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">SHOP NOW<i class="fa-icon-chevron-right"></i> </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption Fashion-BigDisplay   tp-resizeme" 
			 id="slide-6620-layer-19" 
			 data-x="['center','center','left','left']" data-hoffset="['0','42','351','150']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-27','-1']" 
						data-fontsize="['45','45','40','20']"
			data-width="['none','none','none','195']"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="text" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3690,"speed":610,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":460,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','center']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"
			data-blendmode="multiply"

			style="z-index: 9; white-space: nowrap; font-size: 45px; line-height: 60px; font-weight: 700; color: #000000; letter-spacing: 4px;font-family:Raleway;cursor:pointer;">BIKER SHORTS </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-7171" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="410"  data-link="/collections/new"   data-thumb=""  data-delay="5010"  data-rotate="0"  data-saveperformance="off"  data-title="LAUNCH" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='linear-gradient(90deg,rgba(255,145,207,1)0%,rgba(255,145,207,1)0%,rgba(88,86,214,1)100%,rgba(88,86,214,1)100%)' style='background:linear-gradient(90deg,rgba(255,145,207,1)0%,rgba(255,145,207,1)0%,rgba(88,86,214,1)100%,rgba(88,86,214,1)100%)' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7171-layer-11" 
			 data-x="['center','center','center','center']" data-hoffset="['1','-8','8','8']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['3','0','0','0']" 
						data-fontweight="['900','900','900','400']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','on','off','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":300,"speed":970,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":560,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['center','center','center','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['1260px','1134px','1240','1269px']" data-hh="['610px','549px','600','614px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/AprL2-2021-SliderRevo-backgroundimage.jpg" data-no-retina> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-9" 
			 id="slide-7171-layer-12" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','1','1']" 
						data-fontweight="['400','900','900','400']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/collections\/new","delay":""}]'
			data-responsive_offset="on" 

			data-frames='[{"delay":340,"speed":1370,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power4.easeIn"},{"delay":"wait","speed":1030,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
			data-textAlign="['inherit','center','center','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['560px','560px','560px','560px']" data-hh="['439px','439px','439px','439px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/AprL2-2021-SliderRevo-textlayer.png" data-no-retina> </div>

		<!-- LAYER NR. 12 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-7171-layer-13" 
			 data-x="['center','center','center','center']" data-hoffset="['3','3','3','3']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['92','92','92','92']" 
						data-fontweight="['400','900','900','400']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','on','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":310,"speed":1000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":210,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','center','center','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="" data-hh="" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/AprL2-2021-SliderRevo-backgroundimage-MOBILE.jpg" data-no-retina> </div>

		<!-- LAYER NR. 13 -->
		<div class="tp-caption   tp-resizeme rs-parallaxlevel-5" 
			 id="slide-7171-layer-14" 
			 data-x="['center','center','center','center']" data-hoffset="['0','0','0','8']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['-47','-47','-47','1']" 
						data-fontweight="['400','900','400','400']"
			data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','on','on']"
 
			data-type="image" 
			data-actions='[{"event":"click","action":"simplelink","target":"_self","url":"\/collections\/new","delay":""}]'
			data-responsive_offset="on" 

			data-frames='[{"delay":360,"speed":1380,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','center','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['308px','308px','308px','276px']" data-hh="['411px','411px','411px','452px']" data-lazyload="https://cdn.shopify.com/s/files/1/2445/2869/t/264/assets/AprL2-2021-SliderRevo-textlayer-MOBILE.png" data-no-retina> </div>
	</li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>

        <script type="text/javascript">

            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
                errorMessage += "<br>Please replublish your slider to the current theme and current page again.";
                errorMessage += "<br>If above does not work don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily.";

                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            }

            document.addEventListener("DOMContentLoaded", function(event) {


                                if (setREVStartSize!==undefined) setREVStartSize(
                    {c: '#rev_slider_2031_1', responsiveLevels: [1240,1024,778,480], gridwidth: [1240,1024,778,375], gridheight: [600,600,600,500], sliderLayout: 'auto'});


                                var tpj=jQuery;


                                //  tpj.noConflict();
                
                window.revapi2031;
                tpj(document).ready(function() {
				if(tpj("#rev_slider_2031_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_2031_1");
				}else{
					revapi2031 = tpj("#rev_slider_2031_1").show().revolution({
						sliderType:"standard",
 data_rev:"e96121109d9fd6205066873368e3bc70", data_slider_id:"rev_slider_2031_1",jsFileLocation:"https://cdn.shopify.com/s/files/1/2445/2869/t/185/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:6000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								touchOnDesktop:"off",
								swipe_threshold: 75,
								swipe_min_touches: 50,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
							,
							arrows: {
								style:"hephaistos",
								enable:true,
								hide_onmobile:false,
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:10,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:10,
									v_offset:0
								}
							}
							,
							bullets: {
								enable:true,
								hide_onmobile:false,
								style:"uranus",
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								direction:"horizontal",
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:30,
								space:10,
								tmp:'<span class="tp-bullet-inner"></span>'
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,375],
						gridheight:[600,600,600,500],
						lazyType:"smart",
						parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
				speedbg:0,
				speedls:0,
				levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						},
						shadow:0,
						spinner:"spinner3",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							allowHTML5AutoPlayOnAndroid: false,
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						panZoomDisableOnMobile:"on",
						}
					});
				}
			});	/*ready*/

            });

        </script>

        <script>
                    var htmlDivCss = '	#rev_slider_2031_1_wrapper .tp-loader.spinner3 div { background-color: #FFFFFF !important; } ';
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                    <script>
                    var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script><script>
                    var htmlDivCss = unescape(".hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A18px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_2031_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                </div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>