<link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/settings.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/font-awesome.min.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/pe-icon-7-stroke.css' type='text/css' media='all'>
                                                                            <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C700%2C600%2C800&#038;ver=4.7.3' type='text/css' media='all'><script type='text/javascript' >window.hw_a = 'true';</script><script type="text/javascript">function setREVStartSize(e){									
						try{ e.c=jQuery(e.c);var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
							if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})					
						}catch(d){console.log("Failure at Presize of Slider:"+d)}						
					};</script>

<div id="rev_slider_9748_1_wrapper" class="revslidershow rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER  auto mode -->
	<div id="rev_slider_9748_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="">
<ul>	<!-- SLIDE  -->
	<li data-index="rs-32777" data-transition="notransition" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="8000"  data-link="https://sweetlegs.com/collections/new"   data-thumb=""  data-delay="8000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='#2c3527' style='background:#2c3527' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 1 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-3" 
			 data-x="['left','left','left','left']" data-hoffset="['558','686','520','192']" 
			 data-y="['top','top','top','top']" data-voffset="['402','408','408','356']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1030,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"+4270","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:bottom;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['321px','321px','288px','199px']" data-hh="['184px','184px','165px','114px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-leaf2.png" data-no-retina> </div>

		<!-- LAYER NR. 2 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-4" 
			 data-x="['left','left','left','left']" data-hoffset="['374','492','346','15']" 
			 data-y="['top','top','top','top']" data-voffset="['2','8','8','-7']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1030,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4270","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"y:top;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['231px','231px','231px','166px']" data-hh="['135px','135px','135px','97px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-leaf1.png" data-no-retina> </div>

		<!-- LAYER NR. 3 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-5" 
			 data-x="['left','left','left','left']" data-hoffset="['-12','77','19','33']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','-2','131']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":670,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4920","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"x:left;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['375px','375px','342px','195px']" data-hh="['558px','558px','509px','291px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-photo1.png" data-no-retina> </div>

		<!-- LAYER NR. 4 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-6" 
			 data-x="['right','right','right','right']" data-hoffset="['1','-604','-678','-678']" 
			 data-y="['middle','middle','middle','middle']" data-voffset="['0','24','-11','-11']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":670,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+4920","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"x:[100%];","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['372px','372px','372px','372px']" data-hh="['560px','560px','560px','560px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-photo2.png" data-no-retina> </div>

		<!-- LAYER NR. 5 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-2" 
			 data-x="['left','left','left','left']" data-hoffset="['405','523','389','248']" 
			 data-y="['top','top','top','top']" data-voffset="['427','419','407','276']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1420,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+3550","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['151px','151px','132px','106px']" data-hh="['155px','155px','135px','108px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-shopbutton.png" data-no-retina> </div>

		<!-- LAYER NR. 6 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32777-layer-1" 
			 data-x="['center','center','center','center']" data-hoffset="['0','226','162','0']" 
			 data-y="['top','top','top','middle']" data-voffset="['1','6','35','-108']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+6180","speed":900,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 10;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['498px','498px','429px','302px']" data-hh="['464px','464px','400px','281px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/251/assets/SeptL1-2021-SliderRevol-heading.png" data-no-retina> </div>
	</li>
	<!-- SLIDE  -->
	<li data-index="rs-32564" data-transition="notransition" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="7800"  data-link="https://sweetlegs.com/collections/sweettops"   data-thumb=""  data-delay="7800"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
		<!-- MAIN IMAGE -->
		<img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" data-bgcolor='#fdfdfd' style='background:#fdfdfd' alt=""  data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="off" class="rev-slidebg" data-no-retina>
		<!-- LAYERS -->

		<!-- LAYER NR. 7 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32564-layer-24" 
			 data-x="['left','left','left','center']" data-hoffset="['-188','-204','-170','-2']" 
			 data-y="['top','top','top','top']" data-voffset="['-23','-62','-42','138']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":10,"speed":2000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Back.easeIn"},{"delay":"+4450","speed":1800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power2.easeIn"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 5;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['975px','1021px','896px','552px']" data-hh="['706px','739px','649px','400px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/246/assets/DSC_2776-TUNIC-cropped-lowerres-.jpg" data-no-retina> </div>

		<!-- LAYER NR. 8 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32564-layer-27" 
			 data-x="['left','left','left','left']" data-hoffset="['607','1480','1480','1480']" 
			 data-y="['top','top','top','top']" data-voffset="['223','255','255','255']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['on','off','off','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1870,"speed":2000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+2570","speed":1800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 6;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['589px','589px','589px','589px']" data-hh="['95px','95px','95px','95px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-heading-desktop_.png" data-no-retina> </div>

		<!-- LAYER NR. 9 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32564-layer-28" 
			 data-x="['left','left','left','center']" data-hoffset="['608','639','544','0']" 
			 data-y="['top','top','top','top']" data-voffset="['410','439','316','146']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":3320,"speed":1680,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+1430","speed":1800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 7;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['246px','246px','180px','156px']" data-hh="['41px','41px','30px','26px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-shopbutton.png" data-no-retina> </div>

		<!-- LAYER NR. 10 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32564-layer-29" 
			 data-x="['left','left','left','left']" data-hoffset="['1558','630','539','1137']" 
			 data-y="['top','top','top','top']" data-voffset="['219','134','122','152']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','on','on','off']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1870,"speed":2000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+2570","speed":1800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 8;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['381px','348px','227px','227px']" data-hh="['258px','236px','154px','154px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-heading-tablet.png" data-no-retina> </div>

		<!-- LAYER NR. 11 -->
		<div class="tp-caption   tp-resizeme" 
			 id="slide-32564-layer-30" 
			 data-x="['center','center','center','center']" data-hoffset="['1273','1273','1273','0']" 
			 data-y="['top','top','top','top']" data-voffset="['204','204','204','18']" 
						data-width="none"
			data-height="none"
			data-whitespace="nowrap"
			data-visibility="['off','off','off','on']"
 
			data-type="image" 
			data-responsive_offset="on" 

			data-frames='[{"delay":1870,"speed":2000,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"+2570","speed":1800,"split_direction":"forward","sfxcolor":"#ffffff","sfx_effect":"","frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
			data-textAlign="['inherit','inherit','inherit','inherit']"
			data-paddingtop="[0,0,0,0]"
			data-paddingright="[0,0,0,0]"
			data-paddingbottom="[0,0,0,0]"
			data-paddingleft="[0,0,0,0]"

			style="z-index: 9;"><img src="https://revsliderapp.s3.us-east-1.amazonaws.com/admin/assets/images/dummy.png" alt="" data-ww="['317px','317px','317px','317px']" data-hh="['103px','103px','103px','103px']" data-lazyload="https://cdn.shopify.com/s/files/1/2448/4493/t/246/assets/AugL2-2021-TopsBannerSliderRevol-heading-mobile.png" data-no-retina> </div>
	</li>
</ul>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
						if(htmlDiv) {
							htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
						}else{
							var htmlDiv = document.createElement("div");
							htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
							document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
						}
					</script>
<div class="tp-bannertimer" style="height: 5px; background: rgba(0,0,0,0.15);"></div>	</div>
<script>var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss="";
				if(htmlDiv) {
					htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
				}else{
					var htmlDiv = document.createElement("div");
					htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
					document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
				}
			</script>

        <script type="text/javascript">

            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage = "Revolution Slider Error: You have some jquery.js issue in your site";
                errorMessage += "<br>Please replublish your slider to the current theme and current page again.";
                errorMessage += "<br>If above does not work don't worry, Contact to the support team <a target='_blank' href='https://shopify.smartdatasoft.com/'>https://shopify.smartdatasoft.com/</a>. Little edit should solve the problem easily.";

                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            }

            document.addEventListener("DOMContentLoaded", function(event) {


                                if (setREVStartSize!==undefined) setREVStartSize(
                    {c: '#rev_slider_9748_1', responsiveLevels: [1240,1024,778,480], gridwidth: [1240,1024,778,375], gridheight: [600,600,600,500], sliderLayout: 'auto'});


                                var tpj=jQuery;


                                //  tpj.noConflict();
                
                window.revapi9748;
                tpj(document).ready(function() {
				if(tpj("#rev_slider_9748_1").revolution == undefined){
					revslider_showDoubleJqueryError("#rev_slider_9748_1");
				}else{
					revapi9748 = tpj("#rev_slider_9748_1").show().revolution({
						sliderType:"standard",
 data_rev:"6644cbbb3d748c2c1f4059314ae08913", data_slider_id:"rev_slider_9748_1",jsFileLocation:"https://cdn.shopify.com/s/files/1/2448/4493/t/255/assets/",
						sliderLayout:"auto",
						dottedOverlay:"none",
						delay:6000,
						navigation: {
							keyboardNavigation:"off",
							keyboard_direction: "horizontal",
							mouseScrollNavigation:"off",
 							mouseScrollReverse:"default",
							onHoverStop:"off",
							touch:{
								touchenabled:"on",
								touchOnDesktop:"off",
								swipe_threshold: 75,
								swipe_min_touches: 50,
								swipe_direction: "horizontal",
								drag_block_vertical: false
							}
							,
							arrows: {
								style:"hephaistos",
								enable:true,
								hide_onmobile:false,
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								tmp:'',
								left: {
									h_align:"left",
									v_align:"center",
									h_offset:10,
									v_offset:0
								},
								right: {
									h_align:"right",
									v_align:"center",
									h_offset:10,
									v_offset:0
								}
							}
							,
							bullets: {
								enable:true,
								hide_onmobile:false,
								style:"uranus",
								hide_onleave:true,
								hide_delay:200,
								hide_delay_mobile:1200,
								direction:"horizontal",
								h_align:"center",
								v_align:"bottom",
								h_offset:0,
								v_offset:30,
								space:10,
								tmp:'<span class="tp-bullet-inner"></span>'
							}
						},
						responsiveLevels:[1240,1024,778,480],
						visibilityLevels:[1240,1024,778,480],
						gridwidth:[1240,1024,778,375],
						gridheight:[600,600,600,500],
						lazyType:"smart",
						parallax: {
							type:"mouse",
							origo:"slidercenter",
							speed:2000,
				speedbg:0,
				speedls:0,
				levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
						},
						shadow:0,
						spinner:"spinner3",
						stopLoop:"off",
						stopAfterLoops:-1,
						stopAtSlide:-1,
						shuffle:"off",
						autoHeight:"off",
						hideThumbsOnMobile:"off",
						hideSliderAtLimit:0,
						hideCaptionAtLimit:0,
						hideAllCaptionAtLilmit:0,
						debugMode:false,
						fallbacks: {
							allowHTML5AutoPlayOnAndroid: false,
							simplifyAll:"off",
							nextSlideOnWindowFocus:"off",
							disableFocusListener:false,
						panZoomDisableOnMobile:"on",
						}
					});
				}
			});	/*ready*/

            });

        </script>

        <script>
                    var htmlDivCss = '	#rev_slider_9748_1_wrapper .tp-loader.spinner3 div { background-color: #FFFFFF !important; } ';
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                    <script>
                    var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script><script>
                    var htmlDivCss = unescape(".hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A18px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C%200%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C%20255%2C%20255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgb%28255%2C%20255%2C%20255%29%3B%0A%20%20background-color%3A%20rgba%28255%2C%20255%2C%20255%2C%200.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_9748_1%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%7D%0A");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if(htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else{
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                </div><!-- END REVOLUTION SLIDER --><script type='text/javascript'></script>