<div class = "" id="revslider_foot_new-live-2">
			<!-- START NEW LIVE 1 REVOLUTION SLIDER 6.2.21.2 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_3_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:;">
				<rs-module id="rev_slider_3_1" style="" data-version="6.2.21.2">
					<rs-slides>
						<rs-slide data-key="rs-19" data-title="Slide" data-link="{{ request.path | slice: 1,2}}https://sweetlegs.ca/collections/new" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ei:d;eo:d;s:8500;r:0;t:notransition;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/transparent.png" data-bg="c:#2d2929;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-19-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-199px,-175px,0;yo:82px,81px,135px,11px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:468px,500px,366px,259px;h:310px,331px,243px,172px;"
								data-frame_0="sX:0.5;sY:0.5;rY:360deg;"
								data-frame_1="e:power2.out;st:1470;sp:800;sR:1470;"
								data-frame_999="x:0;y:0;z:0;sX:0;sY:0;o:0;rX:0;rY:0;rZ:0;skX:0;skY:0;st:7680;sp:800;sR:5410;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-Heading.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-3-slide-19-layer-8" 
								class="rs-layer rs-pxl-2"
								href="https://sweetlegs.ca/collections/sweettops" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-69px,-260px,-260px,-360px;yo:-9px,-14px,-14px,0;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:1362px,1366px,1366px,1050px;h:651px,653px,653px,502px;"
								data-frame_1="sp:10;sR:10;"
								data-frame_999="o:0;st:7990;sp:500;sR:7970;"
								data-loop_0="x:10;y:20;"
								data-loop_999="sp:4000;yym:t;yys:t;yyf:t;"
								style="z-index:8;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-bgtexture.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-19-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-186px,0,0;y:m;yo:0,-1px,0,0;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:623px,623px,784px,613px;h:550px,550px,692px,541px;"
								data-frame_0="y:100%;"
								data-frame_1="sp:400;sR:10;"
								data-frame_999="y:100%;e:nothing;st:7680;sp:400;sR:7270;"
								style="z-index:9;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BGLines.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:850px,602px,411px,-1px;y:m;yo:0,0,7px,91px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:377px,398px,338px,220px;h:509px,537px,456px,297px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="st:640;sp:800;sR:640;"
								data-frame_999="x:right;st:7680;sp:800;sR:6240;"
								style="z-index:11;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-orangeleggingsphoto.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:18px,-710px,-710px,-996px;y:m;yo:0,45px,45px,-7px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:375px,392px,392px,392px;h:519px,542px,542px,542px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:left;o:1;"
								data-frame_1="st:640;sp:800;sR:640;"
								data-frame_999="x:left;st:7690;sp:800;sR:6250;"
								style="z-index:12;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-plaidleggingsphoto.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-3-slide-19-layer-12" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-205px,-186px,0;yo:423px,429px,393px,299px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:337px,337px,292px,275px;h:60px,60px,52px,49px;"
								data-frame_0="sX:0;sY:0;"
								data-frame_1="st:1940;sp:800;sR:1940;"
								data-frame_999="sX:0.7;sY:0.7;o:0;rZ:0deg;e:back.in;st:7690;sp:500;sR:4950;"
								style="z-index:13;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-ShopNow.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-19-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-55px,-22px,-18px,-6px;yo:411px,400px,463px,406px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:146px,146px,146px,112px;h:52px,52px,52px,40px;"
								data-frame_0="y:top;o:1;"
								data-frame_1="e:none;sp:700;sR:10;"
								data-frame_999="y:top;e:none;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:14;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-14" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:237px,75px,153px,-39px;yo:23px,15px,31px,90px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:162px,153px,153px,96px;h:54px,51px,51px,32px;"
								data-frame_0="x:left;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:left;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:15;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:386px,247px,262px,18px;y:t,t,t,m;yo:517px,521px,504px,-10px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:121px,121px,121px,76px;h:62px,62px,62px,39px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:right;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:16;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT3.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:811px,541px,354px,247px;yo:459px,431px,268px,225px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:143px,143px,114px,96px;h:83px,83px,66px,56px;"
								data-frame_0="y:top;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="y:top;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:17;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT4.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1136px,899px,657px,309px;yo:253px,250px,468px,82px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:120px,120px,120px,84px;h:83px,83px,83px,58px;"
								data-frame_0="y:bottom;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="y:bottom;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:18;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT5.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-19-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:782px,469px,580px,273px;yo:17px,54px,10px,396px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:115px,115px,115px,82px;h:59px,59px,59px,42px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:50px;o:0;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:19;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/SeptL2-2021-SliderRevol-BAT3.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-3-slide-19-layer-25" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/new" target="_self" rel="nofollow"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-frame_999="o:0;st:w;"
								style="z-index:20;"
							> 
							</a><!--
-->						</rs-slide>
						<rs-slide data-key="rs-8" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.ca/collections/sweettops" data-target="_self" data-seoz="front" data-duration="7800" data-anim="ei:d;eo:d;s:7800;r:0;t:notransition;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/transparent.png" data-bg="c:#fdfdfd;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-3-slide-8-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:-188px,-204px,-170px,-2px;yo:-23px,-62px,-42px,138px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:975px,1021px,896px,552px;h:706px,739px,649px,400px;"
								data-frame_1="e:back.in;sp:2000;sR:10;"
								data-frame_999="o:0;e:power2.in;st:6460;sp:1800;sR:4450;"
								style="z-index:5;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/300/assets/DSC_2776-TUNIC-cropped-lowerres-.jpg" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-8-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:607px,1480px,1480px,1480px;yo:223px,255px,255px,255px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:['589px','589px','589px','589px'];h:['95px','95px','95px','95px'];"
								data-vbility="t,f,f,f"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:6;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/300/assets/AugL2-2021-TopsBannerSliderRevol-heading-desktop_.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-3-slide-8-layer-28" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/sweettops" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:608px,639px,544px,0;yo:410px,439px,316px,146px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:246px,246px,180px,156px;h:41px,41px,30px,26px;"
								data-frame_1="st:3320;sp:1680;sR:3320;"
								data-frame_999="o:0;st:6430;sp:1800;sR:1430;"
								style="z-index:7;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/300/assets/AugL2-2021-TopsBannerSliderRevol-shopbutton.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-3-slide-8-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1558px,630px,539px,1137px;yo:219px,134px,122px,152px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:381px,348px,227px,227px;h:258px,236px,154px,154px;"
								data-vbility="f,t,t,f"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:8;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/300/assets/AugL2-2021-TopsBannerSliderRevol-heading-tablet.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-3-slide-8-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:1273px,1273px,1273px,0;yo:204px,204px,204px,18px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:['317px','317px','317px','317px'];h:['103px','103px','103px','103px'];"
								data-vbility="f,f,f,t"
								data-frame_1="st:1870;sp:2000;sR:1870;"
								data-frame_999="o:0;st:6440;sp:1800;sR:2570;"
								style="z-index:9;"
							><img src="//cdn.shopify.com/s/files/1/2445/2869/t/327/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2445/2869/t/326/assets/fm_AugL2-2021-TopsBannerSliderRevol-heading-mobile.png?v=1631819596" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-3-slide-8-layer-31" 
								class="rs-layer"
								href="https://sweetlegs.ca/collections/sweettops" target="_self" rel="nofollow"
								data-type="shape"
								data-rsp_ch="on"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%;h:100%;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							> 
							</a><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>






				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_3_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi3,
						tpj;
					function revinit_revslider31() {
					jQuery(function() {
						tpj = jQuery;
						revapi3 = tpj("#rev_slider_3_1");
						if(revapi3==undefined || revapi3.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_3_1");
						}else{
							revapi3.revolution({
								duration:6000,
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,375",
								gridheight:"600,600,600,500",
								lazyType:"smart",
								spinner:"spinner3",
								perspective:600,
								perspectiveType:"local",
								editorheight:"600,600,600,500",
								responsiveLevels:"1240,1024,778,480",
								progressBar: {
									color:"rgba(0,0,0,0.15)",
									vertical:"top",
									size:5,
									x:0,
									y:0
								},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true,
										swipe_min_touches:50
									},
									arrows: {
										enable:true,
										style:"hephaistos",
										hide_onleave:true,
										left: {
											h_offset:10
										},
										right: {
											h_offset:10
										}
									},
									bullets: {
										enable:true,
										tmp:"<span class=\"tp-bullet-inner\"></span>",
										style:"uranus",
										hide_onleave:true,
										v_offset:30,
										space:10
									}
								},
								parallax: {
									levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
									type:"mouse",
									origo:"slidercenter",
									speed:2000
								},
								fallbacks: {
									panZoomDisableOnMobile:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider31();}); else revinit_revslider31();
				</script>
				<script>
					var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D%0A%0A%0A.rs-layer.slidelink%20a%20span%20%7B%0A%20%20background-repeat%3A%20no-repeat%3B%0A%20%20background%3A%20unset%3B%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = '	#rev_slider_3_1_wrapper rs-loader.spinner3 div { background-color: #FFFFFF !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = unescape("%23rev_slider_3_1_wrapper%20.hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A1000%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A%23rev_slider_3_1_wrapper%20.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3A%23000000%3B%0A%7D%0A%23rev_slider_3_1_wrapper%20.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%27revicons%27%3B%0A%09font-size%3A18px%3B%0A%09color%3A%23ffffff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_3_1_wrapper%20.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82c%27%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A%23rev_slider_3_1_wrapper%20.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82d%27%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_3_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argba%28255%2C255%2C255%2C1%29%3B%0A%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>



				<script>
					var htmlDivCss = unescape("%0A%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script type='text/javascript'></script><script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_new-live-2" ).after( "<div id='revslider_show_new-live-2'></div>" );
                            jQuery( "#revslider_drag_new-live-2" ).hide();
                            jQuery("#revslider_foot_new-live-2").appendTo("#revslider_show_new-live-2");
                            jQuery("#revslider_show_new-live-2 .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>