<div class = "" id="revslider_foot_NEWLIVE">
			<!-- START NEW LIVE REVOLUTION SLIDER 6.2.21.4 --><p class="rs-p-wp-fix"></p>
			<rs-module-wrap id="rev_slider_20_1_wrapper" data-source="gallery" style="background:transparent;padding:0;margin:0px auto;margin-top:0;margin-bottom:0;max-width:;">
				<rs-module id="rev_slider_20_1" style="" data-version="6.2.21.4">
					<rs-slides>
						<rs-slide data-key="rs-82" data-title="Slide" data-thumb="//img.youtube.com/vi///www.youtube.com/watch?v=LpiitC_qXW0&t=6s/sddefault.jpg" data-link="{{ request.path | slice: 1,2}}https://sweetlegs.com/collections/new" data-target="_self" data-seoz="front" data-duration="20000ms" data-anim="ei:d;eo:d;s:820;r:0;t:fade;sl:0;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#000000;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-20-slide-82-layer-2" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;y:m;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:600px,495px,471px,312px;h:136px,112px,107px,71px;"
								data-frame_1="st:18390;sp:1610;sR:18390;"
								data-frame_999="o:0;st:w;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_logo.png?v=1634159786" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-82-layer-17" 
								class="rs-nolc rs-layer-video intrinsic-ignore"
								data-type="video"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,0,0,2px;y:m;yo:0,0,0,-22px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,465px;"
								data-actions='o:click;a:playvideo;layer:slider-20-slide-82-layer-17;'
								data-basealign="slide"
								data-video="vd:100;sta:00;rwd:f;l:false;ptimer:true;nse:f;sav:f;afs:f;inl:f;"
								data-mp4="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_ath_compressed.mp4?v=1633646804"
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:8;"
							>
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-82-layer-18" 
								data-type="shape"
								data-rsp_ch="on"
								data-xy="xo:0,0,0,-33px;yo:0,0,0,10px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:100%,100%,100%,408px;h:100%,100%,100%,433px;"
								data-actions='o:click;a:toggle_mute_video;layer:slider-20-slide-82-layer-17;'
								data-frame_999="o:0;st:w;sR:19700;"
								style="z-index:9;"
							> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-82-layer-52" 
								class="rs-layer"
								href="https://sweetlegs.com/pages/athleisure/" target="_self" rel="nofollow"
								data-type="text"
								data-color="#cecece"
								data-rsp_ch="on"
								data-xy="x:c;yo:394px,325px,246px,118px;"
								data-text="w:normal;s:29,23,17,8;l:37,30,22,10;ls:2,1,0,0;"
								data-dim="minh:0,none,none,none;"
								data-frame_1="st:19130;sp:660;sR:19130;"
								data-frame_999="o:0;st:w;sR:210;"
								style="z-index:11;font-family:Raleway;"
							>Be the first to know, click here. 
							</a><!--
-->						</rs-slide>
						<rs-slide data-key="rs-75" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="8500" data-anim="ei:d;eo:d;s:8500;r:0;t:notransition;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#2d2929;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-20-slide-75-layer-7" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-199px,-175px,0;yo:82px,81px,135px,11px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:468px,500px,366px,259px;h:310px,331px,243px,172px;"
								data-frame_0="sX:0.5;sY:0.5;rY:360deg;"
								data-frame_1="e:power2.out;st:1470;sp:800;sR:1470;"
								data-frame_999="x:0;y:0;z:0;sX:0;sY:0;o:0;rX:0;rY:0;rZ:0;skX:0;skY:0;st:7680;sp:800;sR:5410;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-Heading.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-8" 
								class="rs-pxl-2"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-69px,-260px,-260px,-360px;yo:-9px,-14px,-14px,0;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:1366px,1366px,1366px,1050px;h:653px,653px,653px,502px;"
								data-frame_1="sp:10;sR:10;"
								data-frame_999="o:0;st:7990;sp:500;sR:7970;"
								data-loop_0="x:10;y:20;"
								data-loop_999="sp:4000;yym:t;yys:t;yyf:t;"
								style="z-index:8;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-bgtexture.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-9" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-186px,0,0;y:m;yo:0,-1px,0,0;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:623px,623px,784px,613px;h:550px,550px,692px,541px;"
								data-frame_0="y:100%;"
								data-frame_1="sp:400;sR:10;"
								data-frame_999="y:100%;e:nothing;st:7680;sp:400;sR:7270;"
								style="z-index:9;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BGLines.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-10" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:850px,602px,411px,-1px;y:m;yo:0,0,7px,91px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:377px,398px,338px,220px;h:509px,537px,456px,297px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="st:640;sp:800;sR:640;"
								data-frame_999="x:right;st:7680;sp:800;sR:6240;"
								style="z-index:11;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-orangeleggingsphoto.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-11" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:18px,-710px,-710px,-996px;y:m;yo:0,45px,45px,-7px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:375px,392px,392px,392px;h:519px,542px,542px,542px;"
								data-vbility="t,f,f,f"
								data-frame_0="x:left;o:1;"
								data-frame_1="st:640;sp:800;sR:640;"
								data-frame_999="x:left;st:7690;sp:800;sR:6250;"
								style="z-index:12;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-plaidleggingsphoto.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-75-layer-12" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:0,-205px,-186px,0;yo:423px,429px,393px,299px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:337px,337px,292px,275px;h:60px,60px,52px,49px;"
								data-frame_0="sX:0;sY:0;"
								data-frame_1="st:1940;sp:800;sR:1940;"
								data-frame_999="sX:0.7;sY:0.7;o:0;rZ:0deg;e:back.in;st:7690;sp:500;sR:4950;"
								style="z-index:13;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-ShopNow.png" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-20-slide-75-layer-13" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-55px,-22px,-18px,-6px;yo:411px,400px,463px,406px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:146px,146px,146px,112px;h:52px,52px,52px,40px;"
								data-frame_0="y:top;o:1;"
								data-frame_1="e:none;sp:700;sR:10;"
								data-frame_999="y:top;e:none;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:14;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT1.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-14" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:237px,75px,153px,-39px;yo:23px,15px,31px,90px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:162px,153px,153px,96px;h:54px,51px,51px,32px;"
								data-frame_0="x:left;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:left;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:15;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT2.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:386px,247px,262px,18px;y:t,t,t,m;yo:517px,521px,504px,-10px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:121px,121px,121px,76px;h:62px,62px,62px,39px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:right;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:16;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT3.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-16" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:811px,541px,354px,247px;yo:459px,431px,268px,225px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:143px,143px,114px,96px;h:83px,83px,66px,56px;"
								data-frame_0="y:top;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="y:top;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:17;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT4.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-17" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1136px,899px,657px,309px;yo:253px,250px,468px,82px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:120px,120px,120px,84px;h:83px,83px,83px,58px;"
								data-frame_0="y:bottom;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="y:bottom;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:18;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT5.png" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-75-layer-18" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:782px,469px,580px,273px;yo:17px,54px,10px,396px;"
								data-text="l:22;fw:500;a:inherit;"
								data-dim="w:115px,115px,115px,82px;h:59px,59px,59px,42px;"
								data-frame_0="x:right;o:1;"
								data-frame_1="sp:700;sR:10;"
								data-frame_999="x:50px;o:0;st:7400;sp:700;sR:6690;"
								data-loop_0="xR:10;yR:10;oX:50;oY:50;"
								data-loop_999="xR:10;yR:10;crd:t;sp:2000;yys:t;yyf:t;"
								style="z-index:19;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/259/assets/SeptL2-2021-SliderRevol-BAT3.png" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-75-layer-19" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-4px,-3px,-2px,-165px;yo:-7px,-5px,-3px,-4px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1247px,1029px,781px,680px;h:831px,686px,521px,453px;"
								data-frame_999="o:0;st:w;"
								style="z-index:20;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide data-key="rs-66" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="7500ms" data-anim="ei:d;eo:d;s:7510;r:0;t:notransition;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#102f33;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-20-slide-66-layer-19" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:-3px,-12px,167px,0;yo:59px,69px,69px,-3px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:462px,421px,399px,287px;h:462px,421px,399px,287px;"
								data-frame_0="y:top;"
								data-frame_1="st:990;sp:1000;"
								data-frame_999="y:top;o:0;st:w;sp:1000;"
								style="z-index:23;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-HEADING.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-66-layer-20" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:8px,3px,180px,-1px;yo:410px,387px,369px,413px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:298px,257px,265px,207px;h:53px,46px,47px,37px;"
								data-frame_0="y:bottom;"
								data-frame_1="st:990;sp:1500;sR:990;"
								data-frame_999="y:bottom;o:0;st:w;sp:1000;sR:6010;"
								style="z-index:27;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-SHOPBUTTON.png?v=1632850890" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-20-slide-66-layer-21" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:867px,725px,925px,860px;yo:28px,66px,141px,496px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:327px,270px,205px,98px;h:483px,398px,302px,145px;"
								data-vbility="t,t,f,f"
								data-frame_0="x:right;"
								data-frame_1="sp:1500;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:7000;"
								style="z-index:24;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-IMAGE2.png?v=1632850889" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-22" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:45px,29px,48px,0;yo:81px,139px,96px,213px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:328px,270px,303px,173px;h:487px,402px,450px,257px;"
								data-frame_0="x:left;"
								data-frame_1="sp:1500;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:7000;"
								style="z-index:26;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-IMAGE1.png?v=1632850889" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-23" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1041px,859px,661px,291px;yo:-23px,-18px,-32px,-8px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:244px,201px,152px,95px;h:330px,272px,206px,128px;"
								data-frame_0="x:right;skX:-85;"
								data-frame_1="st:2060;sp:1000;sR:2060;"
								data-frame_999="x:right;o:0;skX:-85;st:w;sp:1000;sR:5440;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-TEALTRIANGLE1.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-24" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-62px,-49px,-86px,-31px;yo:478px,494px,485px,433px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:445px,367px,529px,254px;h:189px,156px,224px,107px;"
								data-frame_0="x:left;skX:85;"
								data-frame_1="st:2070;sp:1000;sR:2070;"
								data-frame_999="x:left;o:0;skX:85;st:w;sp:1000;sR:5430;"
								style="z-index:9;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-TEALTRIANGLE2.png?v=1632850891" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-25" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1020px,816px,486px,245px;yo:434px,419px,463px,408px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:325px,268px,203px,181px;h:304px,251px,190px,169px;"
								data-frame_0="rX:-70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2060;sp:1000;sR:2060;"
								data-frame_999="y:0;o:0;rX:-70deg;oZ:-50;e:power4.inOut;st:w;sp:1000;sR:5440;"
								style="z-index:11;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-PINKCIRCLE.png?v=1632850889" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-26" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-117px,-98px,-54px,-92px;yo:-49px,-71px,-51px,-23px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:375px,309px,264px,164px;h:351px,289px,247px,154px;"
								data-frame_0="rX:70deg;oZ:-50;"
								data-frame_1="oZ:-50;e:power4.inOut;st:2070;sp:1000;sR:2070;"
								data-frame_999="y:0;o:0;rX:70deg;oZ:-50;e:power4.inOut;st:w;sp:1000;sR:5430;"
								style="z-index:8;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-PINKCIRCLE.png?v=1632850889" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-27" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:510px,421px,422px,194px;yo:-41px,-33px,-24px,-41px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:274px,226px,202px,157px;h:170px,140px,125px,97px;"
								data-frame_0="sX:0.8;sY:0.8;"
								data-frame_1="e:power4.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:15;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENPINE1.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-28" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:581px,454px,431px,-111px;yo:485px,472px,485px,-36px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:330px,272px,220px,166px;h:142px,117px,95px,71px;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:14;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENPINE2.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-29" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-126px,-67px,-87px,-52px;yo:257px,6px,278px,169px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:274px,252px,227px,161px;h:170px,156px,141px,100px;"
								data-btrans="rZ:90;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2080;sp:1000;sR:2080;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5420;"
								style="z-index:13;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENPINE1.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-30" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1108px,815px,700px,244px;yo:216px,502px,220px,403px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:242px,272px,201px,172px;h:104px,117px,86px,74px;"
								data-btrans="rZ:90;"
								data-frame_0="sX:0.9;sY:0.9;"
								data-frame_1="st:2070;sp:1000;sR:2070;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5430;"
								style="z-index:12;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENPINE2.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-31" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:360px,261px,242px,-37px;yo:484px,469px,471px,324px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:163px,177px,185px,111px;h:162px,175px,183px,110px;"
								data-frame_0="x:left;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_999="x:left;o:0;st:w;sp:1000;sR:5400;"
								style="z-index:19;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-REDLEAVES1.png?v=1632850889" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-32" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:766px,636px,696px,322px;yo:-7px,-15px,40px,58px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:186px,153px,140px,103px;h:243px,200px,183px,135px;"
								data-frame_0="x:right;"
								data-frame_1="st:2090;sp:1000;sR:2090;"
								data-frame_999="x:right;o:0;st:w;sp:1000;sR:5410;"
								style="z-index:18;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-REDLEAVES2.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-33" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:238px,135px,217px,290px;yo:-100px,-75px,-55px,189px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:241px,241px,192px,156px;h:237px,237px,189px,154px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:17;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENSTAR.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-34" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:887px,666px,623px,-62px;yo:459px,449px,435px,378px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:279px,230px,224px,145px;h:275px,227px,221px,143px;"
								data-frame_0="rY:360deg;"
								data-frame_1="e:back.out;st:2090;sp:1000;sR:2090;"
								data-frame_999="o:0;e:power4.inOut;st:w;sp:1000;sR:5410;"
								style="z-index:16;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-GREENSTAR.png?v=1632850888" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-35" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:1176px,886px,621px,11px;yo:39px,17px,17px,439px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:116px,95px,93px,68px;h:60px,49px,48px,35px;"
								data-btrans="rZ:180;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2120;sp:1000;sR:2120;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5380;"
								data-frame_999_mask="u:t;"
								style="z-index:25;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS2.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-37" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:996px,764px,673px,-3px;yo:525px,528px,490px,71px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:58px,47px,46px,32px;h:63px,52px,50px,35px;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2110;sp:1000;sR:2110;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5390;"
								data-frame_999_mask="u:t;"
								style="z-index:22;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS1.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-38" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:14px,115px,359px,310px;yo:14px,74px,494px,296px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:58px,47px,48px,34px;h:63px,52px,52px,37px;"
								data-btrans="rZ:900;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5400;"
								data-frame_999_mask="u:t;"
								style="z-index:21;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS1.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><rs-layer
								id="slider-20-slide-66-layer-39" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:202px,174px,236px,19px;yo:14px,20px,4px,299px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:116px,95px,99px,68px;h:60px,49px,51px,35px;"
								data-frame_0="y:-100%;"
								data-frame_0_mask="u:t;"
								data-frame_1="st:2100;sp:1000;sR:2100;"
								data-frame_1_mask="u:t;"
								data-frame_999="y:-100%;o:0;st:w;sp:1000;sR:5400;"
								data-frame_999_mask="u:t;"
								style="z-index:20;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_OctL1-2021-SliderRevol-SNOWDOTS2.png?v=1632850890" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-66-layer-53" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/new" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:7px,5px,3px,-135px;yo:-33px,-27px,15px,-15px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1243px,1026px,779px,699px;h:829px,684px,519px,466px;"
								data-frame_999="o:0;st:w;"
								style="z-index:28;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="" data-no-retina> 
							</a><!--
-->						</rs-slide>
						<rs-slide data-key="rs-74" data-title="Slide" data-link="{{ request.path | slice: 1,2}}//sweetlegs.com/collections/summer-collection/" data-target="_self" data-seoz="front" data-duration="9000ms" data-anim="ei:d;eo:d;s:8980;r:0;t:notransition;sl:d;">
							<img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" alt="Alt" title="Image Title" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/transparent.png" data-bg="c:#1d1d1e;" data-parallax="off" class="rev-slidebg" data-no-retina>
<!--
							--><rs-layer
								id="slider-20-slide-74-layer-1" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:14px,0,0,0;yo:7px,11px,20px,12px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:445px,450px,446px,311px;h:182px,184px,182px,127px;"
								data-frame_1="e:power4.inOut;st:980;sp:1500;"
								data-frame_999="o:0;e:power2.in;st:6990;sp:1000;"
								style="z-index:10;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BackToBlack-webbanner-heading.png?v=1632323318" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-74-layer-2" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/black-licorice" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;yo:518px,527px,524px,434px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:255px,242px,241px,219px;h:56px,53px,53px,48px;"
								data-frame_1="e:power4.inOut;st:2000;sp:1500;"
								data-frame_999="o:0;e:power2.in;st:6990;sp:1000;"
								style="z-index:11;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BackToBlack-webbanner-shopnowbutton.png?v=1632323318" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-20-slide-74-layer-4" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:l,l,l,c;xo:1307px,1079px,819px,0;yo:52px,42px,31px,124px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:300px,247px,187px,360px;h:180px,148px,112px,319px;"
								data-vbility="f,f,f,t"
								data-frame_1="e:power4.inOut;sp:1500;"
								data-frame_999="o:0;e:power2.in;st:6990;sp:1000;"
								style="z-index:8;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BackToBlack-webbanner-photos-mobile.png?v=1632323450" data-no-retina> 
							</rs-layer><!--

							--><a
								id="slider-20-slide-74-layer-6" 
								class="rs-layer"
								href="https://sweetlegs.com/collections/black-licorice" target="_self" rel="nofollow"
								data-type="image"
								data-rsp_ch="on"
								data-xy="xo:-5px,-4px,-3px,-110px;yo:-5px,-4px,-3px,-1px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:1253px,1034px,785px,683px;h:835px,689px,523px,455px;"
								data-frame_999="o:0;st:w;"
								style="z-index:12;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="" data-no-retina> 
							</a><!--

							--><rs-layer
								id="slider-20-slide-74-layer-15" 
								data-type="image"
								data-rsp_ch="on"
								data-xy="x:c;xo:2px,0,0,466px;yo:103px,115px,127px,98px;"
								data-text="w:normal;s:20,16,12,5;l:0,20,15,7;"
								data-dim="w:573px,571px,553px,266px;h:447px,445px,431px,207px;"
								data-vbility="t,t,t,f"
								data-frame_1="e:power4.inOut;sp:1500;"
								data-frame_999="o:0;e:power2.in;st:6990;sp:1000;"
								style="z-index:9;"
							><img src="//cdn.shopify.com/s/files/1/2448/4493/t/262/assets/dummy.png" data-lazyload="//cdn.shopify.com/s/files/1/2448/4493/t/261/assets/fm_BackToBlack-webbanner-photos-desktop.png?v=1632323450" data-no-retina> 
							</rs-layer><!--
-->						</rs-slide>
					</rs-slides>
					<rs-static-layers><!--
					--></rs-static-layers>
				</rs-module>






				<script type="text/javascript">
					setREVStartSize({c: 'rev_slider_20_1',rl:[1240,1024,778,480],el:[600,600,600,500],gw:[1240,1024,778,375],gh:[600,600,600,500],type:'standard',justify:'',layout:'fullwidth',mh:"0"});
					var	revapi20,
						tpj;
					function revinit_revslider201() {
					jQuery(function() {
						tpj = jQuery;
						revapi20 = tpj("#rev_slider_20_1");
						if(revapi20==undefined || revapi20.revolution == undefined){
							revslider_showDoubleJqueryError("rev_slider_20_1");
						}else{
							revapi20.revolution({
								duration:6000,
								visibilityLevels:"1240,1024,778,480",
								gridwidth:"1240,1024,778,375",
								gridheight:"600,600,600,500",
								lazyType:"smart",
								spinner:"spinner3",
								perspective:600,
								perspectiveType:"local",
								editorheight:"600,600,600,500",
								responsiveLevels:"1240,1024,778,480",
								progressBar: {
									color:"rgba(0,0,0,0.15)",
									vertical:"top",
									size:5,
									x:0,
									y:0
								},
								navigation: {
									mouseScrollNavigation:false,
									onHoverStop:false,
									touch: {
										touchenabled:true,
										swipe_min_touches:50
									},
									arrows: {
										enable:true,
										style:"hephaistos",
										hide_onleave:true,
										left: {
											h_offset:10
										},
										right: {
											h_offset:10
										}
									},
									bullets: {
										enable:true,
										tmp:"<span class=\"tp-bullet-inner\"></span>",
										style:"uranus",
										hide_onleave:true,
										v_offset:30,
										space:10
									}
								},
								parallax: {
									levels:[2,3,4,5,6,7,12,16,10,50,47,48,49,50,51,55],
									type:"mouse",
									origo:"slidercenter",
									speed:2000
								},
								fallbacks: {
									panZoomDisableOnMobile:true
								},
							});
						}
						
					});
					} // End of RevInitScript
				if (document.readyState === "loading") window.addEventListener('DOMContentLoaded',function() { revinit_revslider201();}); else revinit_revslider201();
				</script>
				<script>
					var htmlDivCss = unescape("%23shop-now%3Ahover%7B%0A%09color%3A%20%23f4cec8%20%21important%20%3B%20%0A%0A%7D%0A%0A.rs-layer.slidelink%20a%20span%20%7B%0A%20%20background-repeat%3A%20no-repeat%3B%0A%20%20background%3A%20unset%3B%0A%7D");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = '	#rev_slider_20_1_wrapper rs-loader.spinner3 div { background-color: #FFFFFF !important; } ';
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
				<script>
					var htmlDivCss = unescape("%23rev_slider_20_1_wrapper%20.hephaistos.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A1000%3B%0A%20%20%20%20border-radius%3A50%25%3B%0A%7D%0A%23rev_slider_20_1_wrapper%20.hephaistos.tparrows%3Ahover%20%7B%0A%09background%3A%23000000%3B%0A%7D%0A%23rev_slider_20_1_wrapper%20.hephaistos.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%27revicons%27%3B%0A%09font-size%3A18px%3B%0A%09color%3A%23ffffff%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A%23rev_slider_20_1_wrapper%20.hephaistos.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82c%27%3B%0A%20%20%20%20margin-left%3A-2px%3B%0A%20%20%0A%7D%0A%23rev_slider_20_1_wrapper%20.hephaistos.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%27%5Ce82d%27%3B%0A%20%20%20%20margin-right%3A-2px%3B%0A%7D%0A%0A%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet%7B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20-webkit-transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20transition%3A%20box-shadow%200.3s%20ease%3B%0A%20%20background%3Atransparent%3B%0A%20%20width%3A15px%3B%0A%20%20height%3A15px%3B%0A%7D%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet.selected%2C%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20%7B%0A%20%20box-shadow%3A%200%200%200%202px%20rgba%28255%2C255%2C255%2C1%29%3B%0A%20%20border%3Anone%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background%3Atransparent%3B%0A%7D%0A%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet-inner%20%7B%0A%20%20-webkit-transition%3A%20background-color%200.3s%20ease%2C%20-webkit-transform%200.3s%20ease%3B%0A%20%20transition%3A%20background-color%200.3s%20ease%2C%20transform%200.3s%20ease%3B%0A%20%20top%3A%200%3B%0A%20%20left%3A%200%3B%0A%20%20width%3A%20100%25%3B%0A%20%20height%3A%20100%25%3B%0A%20%20outline%3A%20none%3B%0A%20%20border-radius%3A%2050%25%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0%29%3B%0A%20%20background-color%3A%20rgba%28255%2C255%2C255%2C0.3%29%3B%0A%20%20text-indent%3A%20-999em%3B%0A%20%20cursor%3A%20pointer%3B%0A%20%20position%3A%20absolute%3B%0A%7D%0A%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet.selected%20.tp-bullet-inner%2C%0A%23rev_slider_20_1_wrapper%20.uranus%20.tp-bullet%3Ahover%20.tp-bullet-inner%7B%0A%20transform%3A%20scale%280.4%29%3B%0A%20-webkit-transform%3A%20scale%280.4%29%3B%0A%20background-color%3Argba%28255%2C255%2C255%2C1%29%3B%0A%7D%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>



				<script>
					var htmlDivCss = unescape("%0A%0A%0A%0A%0A%0A%0A%0A%0A%0A");
					var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
					if(htmlDiv) {
						htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
					}else{
						var htmlDiv = document.createElement('div');
						htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
						document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
					}
				</script>
			</rs-module-wrap>
			<!-- END REVOLUTION SLIDER -->
{% assign revslider_enabled = 1 %}</div><link href="https://fonts.googleapis.com/css?family=Roboto:400%7CRaleway:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" >

<script type="text/javascript">
                        document.addEventListener("DOMContentLoaded", function(event) {
                            jQuery( "#revslider_drag_NEWLIVE" ).after( "<div id='revslider_show_NEWLIVE'></div>" );
                            jQuery( "#revslider_drag_NEWLIVE" ).hide();
                            jQuery("#revslider_foot_NEWLIVE").appendTo("#revslider_show_NEWLIVE");
                            jQuery("#revslider_show_NEWLIVE .revslider_embededs").removeClass("revslider_embededs");
                        });
                    </script>