
        <div class="offcanvas_aside_content" style='position: relative; top: -100%; padding: 70px 40px 0;height:2000% ;width: 115%; right: 30px;'>
        <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close" style="display:none;"></div>

          <h2 class="sizechart-title">Size Chart</h2>
          <div class="sizechart-content" style="height:300%!important;">
               <h4 class="chart-header">PETITE | ONE | PLUS | PLUS2</h4>
            <table border="0" class="sizingchart">
            <tbody>
            <tr>
            <th scope="col">SIZE</th>
            <th scope="col">NUMERIC</th>
            <th scope="col">LENGTH</th>
            <th scope="col">HEIGHT</th>
            </tr>
            <tr>
            <td>PETITE</td>
            <td>00 - 6</td>
            <td>up to 34”</td>
            <td>up to 6’0”</td>
            </tr>
            <tr>
            <td>ONE</td>
            <td>06 - 14</td>
            <td>up to 36”</td>
            <td>up to 6’0”</td>
            </tr>
            <tr>
            <td>PLUS</td>
            <td>14 - 22</td>
            <td>up to 36”</td>
            <td>up to 6’2”</td>
            </tr>
            <tr>
            <td>PLUS2</td>
            <td>22 - 28</td>
            <td>up to 36”</td>
            <td>up to 6’2”</td>
            </tr>
            </tbody>
            </table>
            <table border="0" class="sizingchart">
            <tbody>
            <tr>
            <th scope="col">SIZE</th>
            <th scope="col">CAN/US</th>
            <th scope="col">EU</th>
            <th scope="col">UK</th>
            </tr>
            <tr>
            <td>PETITE</td>
            <td>00 - 6</td>
            <td>28 - 36</td>
            <td>0 - 8</td>
            </tr>
            <tr>
            <td>ONE</td>
            <td>06 - 14</td>
            <td>36 - 44</td>
            <td>8 - 16</td>
            </tr>
            <tr>
            <td>PLUS</td>
            <td>14 - 22</td>
            <td>44 - 52</td>
            <td>16 - 22</td>
            </tr>
            <tr>
            <td>PLUS2</td>
            <td>22 - 28</td>
            <td>52 - 56</td>
            <td>22 - 30</td>
            </tr>
            </tbody>
            </table>
            <div style="border-bottom: 1px solid #00c4b3; padding-top: 50px; margin-bottom: 50px;"></div>
            <h4>SWEETLEGS KIDS</h4>
            <table border="0" class="sizingchart">
            <tbody>
            <tr>
            <th scope="col">SIZE</th>
            <th scope="col">NUMERIC</th>
            <th scope="col">LENGTH</th>
            <th scope="col">HEIGHT</th>
            </tr>
            <tr>
            <td>2/4Y</td>
            <td>2 - 4 yrs</td>
            <td>16.5” - 17.5”</td>
            <td>3'6"</td>
            </tr>
            <tr>
            <td>6/8Y</td>
            <td>5 - 8 yrs</td>
            <td>19.5” - 20.5”</td>
            <td>4'6"</td>
            </tr>
            <tr>
            <td>10/12Y</td>
            <td>9 - 12 yrs</td>
            <td>23.5” - 24.5”</td>
            <td>5'2"</td>
            </tr>
            </tbody>
            </table>
            <table border="0" class="sizingchart">
            <tbody>
            <tr>
            <th scope="col">SIZE</th>
            <th scope="col">CAN/US</th>
            <th scope="col">EU</th>
            <th scope="col">UK</th>
            </tr>
            <tr>
            <td>2/4Y</td>
            <td>24M - 4T</td>
            <td>92 - 104</td>
            <td>23/24M - 3A</td>
            </tr>
            <tr>
            <td>6/8Y</td>
            <td>6 - 8</td>
            <td>110 - 128</td>
            <td>4A - 7A</td>
            </tr>
            <tr>
            <td>10/12Y</td>
            <td>10 - 12</td>
            <td>140 - 152</td>
            <td>8A - 10A</td>
            </tr>
            </tbody>
            </table>
          </div> 
        </div>
        </div>

<style>
@media only screen and (max-width: 1200px) {
  .chart-header{
  font-size:1.2rem;
  }


}

</style>
