        <div class="offcanvas_aside_content" style='position: relative; top: -100%; padding: 70px 50px 0;height:2000% ;width: 115%; right: 20px;'>
        <div id="sizechart-offcanvas" class="offcanvas_sizechart offcanvas_target">
          <div class="offcanvas_close" style="display:none;"></div>
          <h2 class="sizechart-title">Size Chart</h2>
          <div class="sizechart-content" style="height:300%!important;">
           

<div style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/2445/2869/t/169/assets/SweetTopsLogo-BLACK.png?5347" alt="SweetTop" width="" height="" style="float: none;width:100%" /></div>
<table border="0" class="sizingchart" height="145" style="width: 100%;">
<tbody>
<tr>
<th scope="col" style="width: 111px; text-align: center;"></th>
<th scope="col" style="width: 120px; text-align: center;"><strong>DRESS SIZE</strong></th>
<th scope="col" style="width: 129px; text-align: center;"><strong>BUST</strong></th>
<th scope="col" style="width: 119px; text-align: center;"><strong>WAIST</strong></th>
<th scope="col" style="width: 172px; text-align: center;"><strong>HIP</strong></th>
</tr>
<tr>
<td style="width: 111px; text-align: center;">
<div><meta charset="utf-8" /></div>
<strong>S</strong></td>
<td style="width: 120px; text-align: center;">4-6</td>
<td style="width: 129px; text-align: center;">33 - 36"</td>
<td style="width: 119px; text-align: center;">24 - 27"</td>
<td style="width: 172px; text-align: center;">38-41"</td>
</tr>
<tr>
<td style="width: 111px; text-align: center;"><strong>M</strong></td>
<td style="width: 120px; text-align: center;">8-10</td>
<td style="width: 129px; text-align: center;">37 - 40"</td>
<td style="width: 119px; text-align: center;">28 - 31"</td>
<td style="width: 172px; text-align: center;">42-45"</td>
</tr>
<tr>
<td style="width: 111px; text-align: center;"><strong>L</strong></td>
<td style="width: 120px; text-align: center;">12-14</td>
<td style="width: 129px; text-align: center;">41 - 44"</td>
<td style="width: 119px; text-align: center;">32 - 35"</td>
<td style="width: 172px; text-align: center;">46-49"</td>
</tr>
<tr>
<td style="width: 111px; text-align: center;">
<div><meta charset="utf-8" /></div>
<strong><span>XL</span></strong></td>
<td style="width: 120px; text-align: center;">16 - 18</td>
<td style="width: 129px; text-align: center;">45 - 48"</td>
<td style="width: 119px; text-align: center;">36 - 39"</td>
<td style="width: 172px; text-align: center;">50-53"</td>
</tr>
<tr>
<td style="width: 111px; text-align: center;"><strong><span>2XL</span></strong></td>
<td style="width: 120px; text-align: center;">20 - 22</td>
<td style="width: 129px; text-align: center;">49 - 53"</td>
<td style="width: 119px; text-align: center;">40 - 44"</td>
<td style="width: 172px; text-align: center;">54-58"</td>
</tr>
<tr>
<td style="width: 111px; text-align: center;"><strong><span>3XL</span></strong></td>
<td style="width: 120px; text-align: center;">24 - 26</td>
<td style="width: 129px; text-align: center;">54 - 58"</td>
<td style="width: 119px; text-align: center;">45 - 49"</td>
<td style="width: 172px; text-align: center;">58-62"</td>
</tr>
</tbody>
</table>
<div style="text-align: center;"><a href="/pages/sweettops-sizing" target="_blank" rel="noopener noreferrer"><img src="https://cdn.shopify.com/s/files/1/2445/2869/files/sweettops-sizing_1024x1024.jpg?v=1572915906" alt="sweettops sizing" width="1024x1024" height="1024x1024" style="float: none;width:100%" /></a></div>
 

          </div> 
        </div>
        </div>
