<div class="wrapper--full section-padding" style="background: #F1F1F1; padding: 3rem">
    
      <h2 class="home__subtitle">PURPOSE - MEANING - CREATIVITY</h2>
    

    
      
        <div class="homepage__content">
          <div class="logo-bar ticker--unloaded">
            
  
    <div class="logo-bar__item" style="--gutter: 10px; --width: 175px;" data-slide="logo-0" data-slide-index="0">
        

        
          
          <div class="logo-bar__image lazy-image" style="padding-top:100.33333333333334%;">
            <img loading="lazy" width="300" height="301" alt="" src="//cdn.shopify.com/s/files/1/1614/7277/files/hobby-lobby_320x320.png?v=1614312719" srcset="//cdn.shopify.com/s/files/1/1614/7277/files/hobby-lobby_110x.png?v=1614312719 110w,
              //cdn.shopify.com/s/files/1/1614/7277/files/hobby-lobby_160x.png?v=1614312719 160w,
              //cdn.shopify.com/s/files/1/1614/7277/files/hobby-lobby_220x.png?v=1614312719 220w,
              
              " sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)">
          </div>
          <noscript><img src="//cdn.shopify.com/s/files/1/1614/7277/files/hobby-lobby.png?v=1614312719&amp;width=300" alt="" width="300" height="301" class="img-object-contain">
</noscript>
        

        
    </div>
  
    <div class="logo-bar__item" style="--gutter: 10px; --width: 175px;" data-slide="logo-1" data-slide-index="1">
        

        
          
          <div class="logo-bar__image lazy-image" style="padding-top:100.33333333333334%;">
            <img loading="lazy" width="300" height="301" alt="" src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Inspired_320x320.png?v=1614312720" srcset="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Inspired_110x.png?v=1614312720 110w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Inspired_160x.png?v=1614312720 160w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Inspired_220x.png?v=1614312720 220w,
              
              " sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)">
          </div>
          <noscript><img src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Inspired.png?v=1614312720&amp;width=300" alt="" width="300" height="301" class="img-object-contain">
</noscript>
        

        
    </div>
  
    <div class="logo-bar__item" style="--gutter: 10px; --width: 175px;" data-slide="logo-2" data-slide-index="2">
        

        
          
          <div class="logo-bar__image lazy-image" style="padding-top:100.33333333333334%;">
            <img loading="lazy" width="300" height="301" alt="" src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_320x320.png?v=1680206970" srcset="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_110x.png?v=1680206970 110w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_160x.png?v=1680206970 160w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_220x.png?v=1680206970 220w,
              
              " sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)">
          </div>
          <noscript><img src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512.png?v=1680206970&amp;width=300" alt="" width="300" height="301" class="img-object-contain">
</noscript>
        

        
    </div>
  
    <div class="logo-bar__item" style="--gutter: 10px; --width: 175px;" data-slide="logo-3" data-slide-index="3">
        

        
          
          <div class="logo-bar__image lazy-image" style="padding-top:100.33333333333334%;">
            <img loading="lazy" width="300" height="301" alt="" src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Creative_Founders_300x_c881b75a-41fa-45c6-aa89-532fe3903a77_320x320.png?v=1680206964" srcset="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Creative_Founders_300x_c881b75a-41fa-45c6-aa89-532fe3903a77_110x.png?v=1680206964 110w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Creative_Founders_300x_c881b75a-41fa-45c6-aa89-532fe3903a77_160x.png?v=1680206964 160w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Creative_Founders_300x_c881b75a-41fa-45c6-aa89-532fe3903a77_220x.png?v=1680206964 220w,
              
              " sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)">
          </div>
          <noscript><img src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Creative_Founders_300x_c881b75a-41fa-45c6-aa89-532fe3903a77.png?v=1680206964&amp;width=300" alt="" width="300" height="301" class="img-object-contain">
</noscript>
        

        
    </div>
  
    <div class="logo-bar__item" style="--gutter: 5px; --width: 175px;" data-slide="logo-4" data-slide-index="4">
        

        
          
          <div class="logo-bar__image lazy-image" style="padding-top:100.33333333333334%;">
            <img loading="lazy" width="300" height="301" alt="" src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_320x320.png?v=1680206970" srcset="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_110x.png?v=1680206970 110w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_160x.png?v=1680206970 160w,
              //cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512_220x.png?v=1680206970 220w,
              
              " sizes="(min-width: 1200px) calc((1200px - 10rem) / 2), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw - 4rem)">
          </div>
          <noscript><img src="//cdn.shopify.com/s/files/1/1614/7277/files/Featured_-_Spiritually_Minded_300x_d21e1c40-ff6f-46d0-9e26-62aa4cc7d512.png?v=1680206970&amp;width=300" alt="" width="300" height="301" class="img-object-contain">
</noscript>
        

        
    </div>
  

          </div>
        </div>
      
    

    

  </div>