<style>
  #recommendedsize{
    background: #FAFAFA;
    padding: 20PX;
    font-size: 30px;
    text-align: center;
  }
  .sizing_label_image{
    float: none; 
    width: 100%;  
    height: 650px; 
    object-fit: contain;
  }
  .view-hide-button{
    display: flex;
    align-items: center;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #00c4b3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #00c4b3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: 2px;
  }
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
/*    */
  .accordiance-container {
    height: 0px;
    opacity: 0;
    margin-top: 10px;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .accordiance-container.show {
    height: 350px;
    min-height: 100%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .range-slider {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
  }
  .range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #000;;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
  }
  .range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
  }
  .range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
  }
  .range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
  }
  .range-slider__range:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
  }
  .range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #000;
    padding: 5px 10px;
  }

  ::-moz-range-track {
    background: #d7dcdf;
    border: 0;
  }

  input::-moz-focus-inner, input::-moz-focus-outer {
    border: 0;
  }

  .range_slider_title{
    width: 65px;
    font-size: 14px;
    font-weight: 600;
    color: #585858;
  }

  /*    */
  .size_chart_wrapper{
    height: 0;
    opacity: 0;
    transition: all .8s ease-out;
  }

  .range-slider {
    height: 0;
    opacity: 0;
    margin: 0;
    transition: all .8s ease-out;
  }
  #recommend_size{
    height: 0;
    opacity: 0;
    margin: 0;
    transition: all .8s ease-out;
  }
  #sizing{
    height: 0;
    opacity: 0;
    transition: all .8s ease-out;
  }
  .size_chart_container{
    position: relative;
  }
  .recommended_result{
    position: relative;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%);
  }
  .recommended_result > *{
    opacity: 0;
    height: 0;
    transition: all 1s ease-out;
  }
  .sizing_message{
    font-size: 16px;
  }
  .sizing_message_bold {
    font-size: 21px;
    color: #6a6a6a;
    line-height: 24px;
    font-weight: 400;
    padding: 10px 0;
  }
  #sizing .topRow {
    border: 1px solid #808080ba;
    width: 150px;
  }
  #sizing .topRow.noBorder {
    border: none;
    text-align: left;
    padding: 0 10px 0 0;
  }
  #sizing  th.labelMeasurements {
    text-align: left;
  }
  span.metric{
    font-size: 14x;
    text-align: center;
  }
  #sizing table td{
    border: 1px solid #808080ba;   
    padding: 0.6rem 0;
  }
  #sizing table th{
    padding: 1rem 0;
  }
  .size_convertor{
    float: right;
    display: flex;
    align-items: center;
  }
  .size_convertor > .active{
    background: #00c4b354;
    transition: background 0.15s ease-in-out;
    color: #00c4b3;
    padding: 2px 8px;
    font-weight: 500;
    border-radius: 0.189em;
  }
  #sizing{
    position: relative;
  }
  table.sizetable.measurements-table.sizing_cm {
    position: absolute;
    top: 36px;
  }
  
  .convert_inches, 
  .convert_cm{
  	cursor: pointer;
  }
  
  .sizing_cm{
    opacity: 0;
    transition: all .25s ease-out;
  }
  #edit_size{
    width: 50%;
  }
  
  @media(max-width: 600px){
    span.metric {
      font-size: 10px;
      padding: 0px 5px;
    }
    #sizing table th{
      font-size: 10px;
    }
    #sizing table th {
      padding: 0.5rem 0;
    }
    #sizing .topRow {
      width: 50px;
    }
    .size_convertor > .active{
      font-size: 10px;
      padding: 2px 4px;
    }
    .size_convertor {
      margin-bottom: 5px;
    }
    table.sizetable.measurements-table.sizing_cm {
      top: 39px;
    }
    .sizing_label_image{
      height: unset;
    }
    .accordiance-container.show{
      height: 240px;
    }
    #edit_size{
      width: 100%;
    }
  }
  .flip-card {
    perspective: 1000px;
    position: relative;
    width: 60px;
    margin-left: 8px;
    margin-top: -25px;
  }
  
  .flip-card-inner {
    position: relative;
    text-align: center;
    width: inherit;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .value_in_inches, .value_in_cm{
    width: inherit;
  }

  .flip-card-back {
    transform: rotateY(180deg);
  }
  .border-dashed-bottom {
    border-bottom-style: dashed;
    border-top-style: dashed;
    border-color: #80808063;
    padding: 10px 0px;
  }
</style> 

<!--       Sizing Calculator         -->
<div class="size_chart_wrapper">
  <div class="size_chart_container">
    <div class="range_slider_container">
      <p class="sgheading">ENTER YOUR MEASUREMENTS</p>
      <div class="range-slider">
        <span class="range_slider_title">BUST</span>
        <input id="bust" class="range-slider__range" type="range" value="42" min="32" max="54">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <span class="range-slider__value value_in_inches bust">42</span>
            </div>  
            <div class="flip-card-back">
              <span  class="range-slider__value value_in_cm bust">107</span>
            </div>  
          </div>
        </div>
      </div>

      <div class="range-slider">
        <span class="range_slider_title">WAIST</span>
        <input id="waist" class="range-slider__range" type="range" value="37" min="24" max="48">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <span class="range-slider__value value_in_inches waist">37</span>
            </div>  
            <div class="flip-card-back">
              <span  class="range-slider__value value_in_cm waist">89</span>
            </div>  
          </div>
        </div>
      </div>

      <div class="range-slider">
        <span class="range_slider_title">HIP</span>
        <input id="hip" class="range-slider__range" type="range" value="49" min="35" max="59">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <span class="range-slider__value value_in_inches hip">49</span>
            </div>  
            <div class="flip-card-back">
              <span  class="range-slider__value value_in_cm hip">127</span>
            </div>  
          </div>
        </div>
      </div> 
      <div style="width: 100%; display: flex;">  
        <a href="" id="recommend_size" class="button btn1 bshadow alt" style="width: 50%; margin: 20px auto; letter-spacing: .125rem;"><span>RECOMMEND SIZE</span></a>
      </div>
    </div>  
    <div class="recommended_result">
      <div>
        <div style="text-align: center;">
          <p class="sgheading">RECOMMENDED SIZE FOR THIS PRODUCT</p>
          <h1 id="recommendedsize" class="bigsize sgheading text-focus-in"></h1>
          <p id="dynamic_message" class="sizing_message_bold"></p>
        </div>  
      </div>
      <div style="width: 100%; display: flex;">  
        <a href="" id="edit_size" class="button btn1 bshadow alt" style="margin: 20px auto; letter-spacing: .125rem;"><span>EDIT SIZE</span></a>
      </div>
    </div>
  </div>
  
  <!-- Size table -->
  <div id="sizing">
    <div class="accordiance">
      <div class="accordiance-title" style="display: flex;justify-content: space-between">
        <div class="view-hide-button">
          <span><b>CHART: </b></span>&nbsp;&nbsp;
          <label class="switch">
            <input class="sizing_toggling" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
           <div class="size_convertor">
             <span>UNITS:</span>
              <span class="convert_inches active" onclick="myConvertor('IN')">IN</span> /
              <span class="convert_cm" onclick="myConvertor('CM')">CM</span>
            </div>
      	</div>
   <div class="accordiance-container">     
    <div class="measurements-container">
      <table class="sizetable measurements-table sizing_inches">
        <tbody>
          <tr>
            <th class="topRow noBorder" rowspan="2">Sizing</th>
            <th colspan="2"class="topRow">PETITE</th>
            <th colspan="2"class="topRow">ONE SIZE</th>
            <th colspan="2"class="topRow">PLUS</th>
            <th colspan="2"class="topRow">PLUS2</th>
          </tr>
          <tr>
            <th class="topRow">XS</th>
            <th class="topRow">S</th>
            <th class="topRow">M</th>
            <th class="topRow">L</th>
            <th class="topRow">XL</th>
            <th class="topRow">2X</th>
            <th class="topRow">3X</th>
          </tr>
          <tr>
            <th class="topRow noBorder">Dress Size</th>
            <th class="topRow">0-2</th>
            <th class="topRow">4-6</th>
            <th class="topRow">8-10</th>
            <th class="topRow">12-14</th>
            <th class="topRow">16-18</th>
            <th class="topRow">20-22</th>
            <th class="topRow">24-26</th>
          </tr>
          <tr>
            <th class="labelMeasurements">Bust</th>
            <td><span class="metric" style="display: block;">32-33</span></td>
            <td><span class="metric" style="display: block;">34-35</span></td>
            <td><span class="metric" style="display: block;">36-37</span></td>
            <td><span class="metric" style="display: block;">38-41</span></td>
            <td><span class="metric" style="display: block;">42-46</span></td>
            <td><span class="metric" style="display: block;">47-50</span></td>
            <td><span class="metric" style="display: block;">51-54</span></td>
          </tr>
          <tr>
            <th class="labelMeasurements">Waist</th>
            <td><span class="metric" style="display: block;">24-25</span></td>
            <td><span class="metric" style="display: block;">26-27</span></td>
            <td><span class="metric" style="display: block;">28-29</span></td>
            <td><span class="metric" style="display: block;">30-34</span></td>
            <td><span class="metric" style="display: block;">35-39</span></td>
            <td><span class="metric" style="display: block;">40-44</span></td>
            <td><span class="metric" style="display: block;">45-48</span></td>
          </tr>
          <tr>
            <th class="labelMeasurements">Hip</th>
            <td><span class="metric" style="display: block;">35-36</span></td>
            <td><span class="metric" style="display: block;">37-38</span></td>
            <td><span class="metric" style="display: block;">39-41</span></td>
            <td><span class="metric" style="display: block;">42-45</span></td>
            <td><span class="metric" style="display: block;">46-50</span></td>
            <td><span class="metric" style="display: block;">51-55</span></td>
            <td><span class="metric" style="display: block;">56-59</span></td>
          </tr>
        </tbody>
      </table>
      <!--  Sizing In CM      -->
      <table class="sizetable measurements-table sizing_cm">
        <tbody>
          <tr>
            <th class="topRow noBorder" rowspan="2">Sizing</th>
            <th colspan="2"class="topRow">PETITE</th>
            <th colspan="2"class="topRow">ONE SIZE</th>
            <th colspan="2"class="topRow">PLUS</th>
            <th colspan="2"class="topRow">PLUS2</th>
          </tr>
          <tr>
            <th class="topRow">XS</th>
            <th class="topRow">S</th>
            <th class="topRow">M</th>
            <th class="topRow">L</th>
            <th class="topRow">XL</th>
            <th class="topRow">2X</th>
            <th class="topRow">3X</th>
          </tr>
          <tr>
            <th class="topRow noBorder">Dress Size</th>
            <th class="topRow">0-2</th>
            <th class="topRow">4-6</th>
            <th class="topRow">8-10</th>
            <th class="topRow">12-14</th>
            <th class="topRow">16-18</th>
            <th class="topRow">20-22</th>
            <th class="topRow">24-26</th>
          </tr>
          <tr>
            <th class="labelMeasurements">Bust</th>
            <td><span class="metric" style="display: block;">81-85</span></td>
            <td><span class="metric" style="display: block;">86-90</span></td>
            <td><span class="metric" style="display: block;">91-95</span></td>
            <td><span class="metric" style="display: block;">96-105</span></td>
            <td><span class="metric" style="display: block;">106-118</span></td>
            <td><span class="metric" style="display: block;">119-128</span></td>
            <td><span class="metric" style="display: block;">129-137</span></td>
          </tr>
          <tr>
            <th class="labelMeasurements">Waist</th>
            <td><span class="metric" style="display: block;">61-65</span></td>
            <td><span class="metric" style="display: block;">66-70</span></td>
            <td><span class="metric" style="display: block;">71-75</span></td>
            <td><span class="metric" style="display: block;">76-87</span></td>
            <td><span class="metric" style="display: block;">88-100</span></td>
            <td><span class="metric" style="display: block;">101-113</span></td>
            <td><span class="metric" style="display: block;">114-122</span></td>
          </tr>
          <tr>
            <th class="labelMeasurements">Hip</th>
            <td><span class="metric" style="display: block;">89-92</span></td>
            <td><span class="metric" style="display: block;">93-98</span></td>
            <td><span class="metric" style="display: block;">99-105</span></td>
            <td><span class="metric" style="display: block;">106-115</span></td>
            <td><span class="metric" style="display: block;">116-128</span></td>
            <td><span class="metric" style="display: block;">129-141</span></td>
            <td><span class="metric" style="display: block;">142-150</span></td>
          </tr>
        </tbody>
      </table>
    </div>
      </div>
    </div>
    
  </div>
  <div>
    <p class="sgheading border-dashed-bottom">HOW TO MEASURE</p>
    <img class="sizing_label_image" src="https://cdn.shopify.com/s/files/1/2445/2869/files/sweettops-sizing_1024x1024.jpg?v=1572915906" alt="sweettops sizing" width="1024x1024" height="1024x1024">
  </div>
</div>  

<script>
  //
  var rangeSlider = function(){
    var slider = $('.range-slider'),
        range = $('.range-slider__range'),
        value = $('.range-slider__value');

    slider.each(function(){
      value.each(function(){
        var each_value = $(this).prev().attr('value');
        $(this).html(each_value);
      });
      
      range.on('input', function(){
        if(($('.convert_inches')).hasClass('active')){
          let range_slider_value = $(this).parent().find('.range-slider__value.value_in_inches');
          range_slider_value.html(this.value);
        }else{
          let range_slider_value = $(this).parent().find('.range-slider__value.value_in_cm');
          range_slider_value.html(this.value);
        }

      });
    });
  };
  rangeSlider();
  
  //   convertor
  function myConvertor(e){
    rangeSlider();
    if(e == "CM"){
      Measeurement_In_CM = true;
      $('.sizing_inches').css("opacity", "0");
      $('.convert_inches').removeClass ("active");

      let bust_value_inches = $('.range-slider__value.value_in_inches.bust').text();
      let waist_value_inches =  $('.range-slider__value.value_in_inches.waist').text();
      let hip_value_inches =  $('.range-slider__value.value_in_inches.hip').text();

      var bust_inches_to_cm = (bust_value_inches/0.393700787).toFixed(0);
      $('.range-slider__value.value_in_cm.bust').text(bust_inches_to_cm);

      var waist_inches_to_cm = (waist_value_inches/0.393700787).toFixed(0);
      $('.range-slider__value.value_in_cm.waist').text(waist_inches_to_cm);

      var hip_inches_to_cm = (hip_value_inches/0.393700787).toFixed(0);
      $('.range-slider__value.value_in_cm.hip').text(hip_inches_to_cm);

      $('#bust').attr('max', 137);
      $('#bust').attr('min', 81);
      $('#bust').val(bust_inches_to_cm);

      $('#waist').attr('max', 122);
      $('#waist').attr('min', 61);
      $('#waist').val(waist_inches_to_cm);

      $('#hip').attr('max', 150);
      $('#hip').attr('min', 89);
      $('#hip').val(hip_inches_to_cm);

      $('.sizing_cm').css("opacity", "1");
      $('.convert_cm').addClass("active");
      //  
      $('.flip-card-inner').css("transform", "rotateY(180deg)");
    }else{
      Measeurement_In_CM = false;
      $('.sizing_inches').css("opacity", "1");
      $('.convert_inches').addClass ("active");

      let bust_value_cm = $('.range-slider__value.value_in_cm.bust').text();
      let waist_value_cm =  $('.range-slider__value.value_in_cm.waist').text();
      let hip_value_cm =  $('.range-slider__value.value_in_cm.hip').text();

      var bust_cm_to_inches = (bust_value_cm*0.393700787).toFixed(0);
      $('.range-slider__value.value_in_inches.bust').text(bust_cm_to_inches);


      var waist_cm_to_inches = (waist_value_cm*0.393700787).toFixed(0);
      $('.range-slider__value.value_in_inches.waist').text(waist_cm_to_inches);

      var hip_cm_to_inches = (hip_value_cm*0.393700787).toFixed(0);
      $('.range-slider__value.value_in_inches.hip').text(hip_cm_to_inches);


      $('#bust').attr('max', 54);
      $('#bust').attr('min', 32);
      $('#bust').val(bust_cm_to_inches);

      $('#waist').attr('max', 48);
      $('#waist').attr('min', 24);
      $('#waist').val(waist_cm_to_inches);

      $('#hip').attr('max', 59);
      $('#hip').attr('min', 35);
      $('#hip').val(hip_cm_to_inches);

      $('.sizing_cm').css("opacity", "0");
      $('.convert_cm').removeClass("active");
      //  
      $('.flip-card-inner').css("transform", "rotateY(0deg)");
    }
  }

  $('.sizing_toggling').click(function() {
    $('.accordiance-container').toggleClass('show');
  });
  
  
  
  
</script>  