<style>
  .header-about-us-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: 2rem;
    margin-bottom: 0px;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 1.5rem;
  }
.header-about-us-section .text-wrapper {
  display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-about-us-section .image-wrapper{
  grid-area: column1;
}

.header-about-us-section .text-wrapper {
  grid-area: column2;
}
.header-about-us-section .heading {
  margin: 30px 0px;
  font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}
 .header-about-us-section .text-wrapper p {
      font-weight: 400;
    font-size: 18px;
   margin-bottom: 0px;
  }

@media only screen and (max-width: 600px) {
  .header-about-us-section{
    display: block;
       margin-top: 0rem;
    padding-bottom: 0rem;
  }
  .header-about-us-section  .text-wrapper {
    padding-bottom: 50px;
  }
}
</style>

<section class="section container">
  <div class="header-about-us-section" style='grid-template-areas: 
    "{{ section.settings.header_position }}"'>
    <div class="image-wrapper">
      <h1 class="heading">{{ section.settings.title }}</h1>
    </div>
    <div class="text-wrapper">
      
      {{ section.settings.text }}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "About us header",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "select",
      "id": "header_position",
      "label": "Header Position",
      "options": [
        {
          "value": "column2 column1",
          "label": "Left"
        },
        {
          "value": "column1 column2",
          "label": "Right"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "About us header"
    }
  ]
}
{% endschema %}
