{% capture style_custom_color %}
  {% if section.settings.custom_color %}
    color: {{ section.settings.body_text_color }} !important
  {% endif %}
{% endcapture %}

<div class="count-section wrapper arena-heading {{ section.id }} two-rows --instafeed">
  <div class="--text">
    <div>
      {% for block in section.blocks %}
        <h2 class="{{ block.settings.font_style }}">
          {{ block.settings.heading }}
        </h2>
      {% endfor %}
    </div>
    <a href="" class="hero__btn btn uppercase btn--white --mobile">FOLLOW US</a>
  </div>
  <div class="--second-row">
    <div id="insta-feed"></div>
    <div class="section-counter"></div>
  </div>
  <div class="instagram --desktop">#arenaparel</div>
  <a href="" class="hero__btn btn uppercase btn--white --desktop">FOLLOW US</a>
</div>
{% schema %}
{
  "name": "Arena Instafeed Section",
  "settings": [
    {
      "type": "checkbox",
      "id": "custom_color",
      "label": "Overwrite text color?",
      "default": false
    },
    {
      "type": "color",
      "id": "body_text_color",
      "label": "Body color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "select",
          "label": "Font family",
          "id": "font_style",
          "default": "heading-neue",
          "options": [
            {
              "value": "heading-neue",
              "label": "Neue"
            },
            {
              "value": "heading-ozymandias",
              "label": "Ozymandias"
            },
            {
              "value": "heading-neumeister-a",
              "label": "FDI Neumeister A"
            },
            {
              "value": "heading-neumeister-b",
              "label": "FDI Neumeister B"
            },
            {
              "value": "heading-sentient",
              "label": "Sentient"
            },
            {
              "value": "heading-sf-pro",
              "label": "SF Pro Text"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Arena Instafeed Section"
    }
  ]
}
{% endschema %}
