<div class="row" style="text-align: center; margin-top:20px;">
    <h1 data-aos="fade-up" data-aos-offset="100" data-aos-delay="250" data-aos-duration="1000" class="columns large-12" style="color: #333; font-weight: 400;">CONFIDENCE IN MOTION.</h1>
    <h1 data-aos="fade-up" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000" class="columns large-12" style="color: #333; font-weight: 400;">YOU ARE <span class="it-bold">WILD, UNSTOPPABLE</span>, AND <span class="it-bold">EXCITING</span>.THIS COLLECTION IS DESIGNED FOR <span class="it-bold">YOU.</span></h1>
  </div>
<div class="row video-row aos-init aos-animate" data-aos="fade-up" data-aos-offset="200" data-aos-delay="450" data-aos-duration="1000">
  <div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe class="athleisure-video" src="https://www.youtube.com/embed/TLQjCl8RPc4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" name="fitvid0"></iframe></div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}