<div class="second-section">
  <div class="row" style="text-align: center">
      <h2 data-aos="fade-up" data-aos-offset="100" data-aos-delay="250" data-aos-duration="1000" class="columns large-12" style="color: #333; font-weight: 800;">{{ section.settings.heading }}</h2>
    <h3 data-aos="fade-up" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000" class="columns large-12" style="color: #333; font-weight: 400;font-size: 26px">
      Created with <span class="it-bold"> every lifestyle in mind,</span> designed to move with you during your <span class="it-bold" style="white-space: nowrap;">  day-to-day activities </span> while still being <span class="it-bold"> ultra-comfortable</span> for your next streaming session.
   </h3>
  </div>


{% schema %}
  {
    "name": "Athleisure Slogan",
    "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "THE FREE MOTION COLLECTION"
    }
      
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

