<style>  
  /* fabric-benefit css goes here   */
  #fabric-benefit {
    background-image: url(https://cdn.shopify.com/s/files/1/2445/2869/files/Athleisure-FabricBenefitsPhoto.jpg?v=1634929759);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #fabric-benefit h1 {
    color: white;
  }
  #fabric-benefit img {
    height: 210px;
  }
  #fabric-benefit .fab-cont {
    background: #00000078;
    padding: 100px 0px;
  }
  
/* fabric-benefit ends css goes here   */
  html {
    scroll-behavior: smooth;
  }
  .altheisure-banner{
    position: relative;
    height: 70vh;
    background: #171513;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .altheisure-banner-child{
      position: absolute;
  }
  .altheisure-banner h1,
  .altheisure-banner h3{
  	color: white;
    text-align: right;
  }

  .topbar{
    background-color: #171513 !important
  }
  
  .topbar .topbar-menu a:hover {
    color: white !important;
  }
  
  .header-v2{
    background-color: rgb(0, 0, 0) !important;
    color: white !important;
  }
  
  header.site-header .header-wrapper .menu-item > a {
     color: white !important;
  }
  
  header.site-header .header-wrapper .is-mega-menu .sub-menu .menu-item > a {
    color: rgb(0, 0, 0) !important;
  }
  
  .copyright img{
    display: none !important;
  }

  
  header.site-header .header-wrapper .sub-menu .menu-item > a {
    color: rgb(0, 0, 0) !important;
  }
  
  i.fas.fa-heart {
     color: white !important;
  }
  
  header.site-header .header-wrapper .tools ul li.cart-button .cart-desc{
      color: white !important;
  }

  .mainImg{
    filter: invert(97%) sepia(100%) saturate(12%) hue-rotate( 
      219deg) brightness(250%) contrast(103%) !important;
  }
  
  
  header.site-header .header-wrapper .tools ul li.cart-button i:before, header.site-header .header-wrapper .tools ul li.search-button i:before {
      color: white !important;
  }
  
  .banner {
    background-color: #222;
    height: 100vh;
  }
  
  .second-section{
    background-color: white !important;
    padding: 3rem 0;
  }
  
  .offcanvas_main_content {
    margin-top: 0;
  }
  

  h5.widget-title{
   color: white !important;
  }
  
 .site-footer{
   background-color: rgb(0, 0, 0) !important;
  }
  
  .topbar-menu.social-icons{
    background-color: #171513 !important
  }
  
footer.site-footer .f-copyright .socials .social-icons{                   
    background-color: rgb(0, 0, 0) !important;           
  }
  
  li.menu-item.bulk-order-button span {
    color: white !important;
  }

  .medium-12.columns.copytxt,  
  .medium-12.columns.copytxt a,                               
  .column.column-widget.left-align,        
  ul.menu a,
  i.fa.fa-heart-o.tooltipstered
  {
    color: white !important;
  }
  
  
/* form   */

.form{
  margin: 0 auto !important;
}
.form-item{
  position: relative !important;
  margin-bottom: 15px !important;
}
.form-item input{
  display: block !important;
  width: 100% !important;
  height: 50px !important;
  background: #171513 !important;
  border: solid 2px #22201e !important;
  transition: all .3s ease !important;
  padding: 15px !important;
  color: white !important;
  border-radius: 5px;
  font-size: 16px !important;
}
.form-item input:focus{
  border-color: white !important;
}
.form-item label{
  position: absolute !important;
  cursor: text !important;
  z-index: 2 !important;
  top: 13px;
  left: 10px !important;
  font-size: 12px !important;
  font-weight: bold !important;
  background: #171513 !important;
  padding: 0 10px !important;
  color: white !important;
  transition: all .3s ease !important;
}
.form-item input:focus + label,
.form-item input:valid + label{
  font-size: 11px !important;
  top: -8px !important;
}

  .active{
    top: -8px !important;
  }  
  
  
.form-item input:focus + label{
  color: white !important;
}
 
  
/*  */

.athleisure-button,
button.athleisure-button{
	font-weight: 700;
    font-size: 16px;
    background-color: white;
    color: rgb(0,0,0);
    border: .8px solid white;
  	border-radius: 3px;
  	padding: .6375rem 1.575rem;
    background: linear-gradient(to right, white 50%, #171513 50%) left;
    background-size: 200%;
    transition: all 1.2s .25s cubic-bezier(0,1,.3,1), opacity .6s .25s ease-out;
}
  
  button.athleisure-button:hover{
    background-position: right;
    color: white;
  }
  
  .form-container {
  background: #171513;
  border-radius: 12px;
  height: 286.8px;
}

.form-container2{
  background: #171513;
  padding: 2rem 4rem;
  margin: 0;
  border-radius: 12px;
  height: 286.8px;
}
  
 .social-container{
  background: #171513;
  padding: 2rem;
  margin: 0 0px 30px 0;
  border-radius: 12px;
  height: 286.8px;
  color: white;
 }
  
  .second-sub p{
    color: white;
    font-size: 25px;
    font-weight: unset;
    margin: 2rem 0;
    padding: 0 15px;
  }
  /*    */
  .wrapper{
    width: 100%;
    height: 400px;
    overflow: hidden;
  }
  tbody tr {
    text-align: center;
  }

  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .social-container {
       padding: 2rem;
       height: unset;
    }
    .second-sub p{
      font-size: 18px;
      padding: 0;
    }
    .form-container {
      height: 367.6px;
	  margin: 0 0 30px 0;
      padding: 0;
    }
   	.form-container2{
      margin: 0;
      padding: 2rem;
      height: 367.6px;
    }
    .section-third {
      margin-top: 0;
    }
    .wrapper{
      height: 292.8px;
    }
    #card{
      padding-left: 0;
    }
  }
  
  @media only screen and (max-width: 768px) and (min-width: 601px) {
    .form-container {
      height: 334.6px;
      margin: 0 0 30px 0;
      padding: 0;
    }
    .form-container2{
      margin: 0;
      padding: 2rem;
      height: 334.6px;
    }
    .flip-card {
      padding: 0;
    }
  }
  
  .form-container p,
  .social-container p{
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
  }
  

  
  @media only screen and (min-width: 769px) and (max-width: 1100px) {
    .form-container,
    .form-container2
    {
      height: 244px;
    }
    .social-container{
      height: unset;
    }
    .form-container{
      margin-bottom: 30px;
    }
    .flip-card {
      padding: 0;
    }
    .form-container2{
      margin-right: 10px;
    }
  }
  
  
  header.site-header .header-wrapper .nav .header-nav .menu-trigger div span, header.site-header .header-wrapper .nav .header-nav .menu-trigger div span::after, header.site-header .header-wrapper .nav .header-nav .menu-trigger div span::before {
     background: white !important; 
  }
  
  .social-icons2{
    margin-top: 1.2rem;
    background-color: #171513 !important;
    padding: 0;
    margin-left: 0;
    display: flex;
    text-align: center;
    list-style: none;
  }
  
  .social-icons2 li a:before {
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    color: #00c4b3 !important;
    font-size: 24px;
    width: 45px;
    height: 35px;
    -moz-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    transition: transform .3s ease;
}
  
  .social-icons2 li.facebook a:before {
    content: "\f09a";
}
  
  .social-icons2 li.instagram a:before {
    content: "\f16d";
}

 .social-icons2 li a:hover:before{
   transform: scale(1.4) !important;
}
  
  #share-email{
    display: flex;
    align-items: center;
    margin-top: 3px;
  }
  
  span.fa.fa-envelope-o {
    color: #00c4b3;
    font-size: 1.5rem;
    transition: all .3s ease;
  }
  
  span.fa.fa-envelope-o:hover {
    font-size: 2rem;
  }
  
  
/* new CSS */  
.row-flex {
  display: flex;
  flex-wrap: wrap;

}

[class*="col-"] {
  margin-bottom: 30px;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  border: none;
}
  
/* Flip the card */
  .flip-card {
  background-color: transparent;
  perspective: 1000px;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective:1000;
    -ms-perspective: 1000;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
    -moz-transform-style: preserve-3d; 
        -ms-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  color: white;
  transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
}
  
  #altheisure input:-webkit-autofill {
    color: white !important;
    background-color: #171513 !important;
    -webkit-box-shadow: 0 0 0 60px #171513 inset !important;
  }

  input:-webkit-autofill {
    color: white !important;
    background-color: #171513 !important;
    -webkit-box-shadow: 0 0 0 60px #171513 inset !important;
  }
  input:autofill {
    color: white !important;
    background-color: #171513 !important;
    -webkit-box-shadow: 0 0 0 60px #171513 inset !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    color: white !important;
    -webkit-box-shadow: 0 0 0 60px #171513 inset !important;
    background-color: #171513 !important;
    background: transparent !important;
    -webkit-text-fill-color: white !important;
    background-clip: content-box !important;
  }
  
  .vimeo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
  }
  .vimeo-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .second-paragraph{
    line-height: 2.6rem;
    color: #333;
    font-weight: 400;
    font-size: 18px;
  }

  .section-fifth, .section-fourth, .section-third {
    background: white;
    padding-top: 3rem;
  }

  .section-sixth {
    color: white;
    background-image: url(https://cdn.shopify.com/s/files/1/2445/2869/files/Bag-blackbg.jpg?v=1619024123.jpg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .section-sixth-content{
    background: #00000078;
    padding: 3rem 0;
  }
  
/*   .section-fifth-heading {
    padding: 3rem 0 2rem 0;
  } */
  
  p.section-fifth-paragraph {
    font-size: 18px;
    font-weight: 500;
  }
  
  ul.section-fifth-list {
    line-height: 2.6rem;
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
}
  
  #altheisure .altheisure-table>tbody>tr>td{
    text-align: center !important;
    padding: 15px !important;
  }
  
  .altheisure-table{
    margin-top: 1rem;
  }
  .eco-images img{
    height: 100px;
  }
  .section-fifth-heading{
    display: flex;
    justify-content: space-between;
  }
  
  .img-styling{
  	box-shadow: 21px 25px 23px -7px rgba(0,0,0,0.15);
    border-radius: 20px;
  }
  .second-paragraph-heading{
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
  }
  
  @media only screen and (max-width: 600px) {
    .content,.main-altheisure-table{
      padding: 0;
    }
    .section-fifth{
      padding-top: 0;
    }
    .second-paragraph, ul.section-fifth-list {
      line-height: 1.6rem;
      font-weight: 300;
      font-size: 16px;
    }
    .altheisure-table {
      margin-top: 0rem;
    }
    .eco-images{
      display: none;
    }
    .second-paragraph-heading{
      font-size: 20px;
      line-height: 35px;
    }
    .video-row{
      padding: 0;
    }
    .athleisure-video{
      border-radius: 0 !important;
    }
  }
  
/*  second video  */
  .fluid-width-video-wrapper {
    margin: 50px 0;
  }

  .athleisure-video{
    border-radius: 15px;
    box-shadow: 21px 25px 23px -7px rgba(0,0,0,0.15);
  }
  
  .it-bold {
    font-weight: 800;
    font-style: italic;
  }
  
  .just-bold {
    font-weight: 500;
  }
  
  .footer-text {
    font-size: 26px;
    background: black;
  }
  
  .button-wrapper{
  	display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  
  #site-footer-footer .subscribebtn:hover{
    color: white;
    border: 2px solid white;
  }
  
/*    */
  #myBtn_onscroll {
    opacity:0;
    position: fixed;
    bottom: 25px;
    left: 25px;
    z-index: 99;
    background-color: #00C4B2;
    font-size: 18px;
    border: 2px solid #00C4B2;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 30px;
    font: inherit;
    white-space: nowrap;
    transform: translateY(100px);
    transition: transform 1s .25s cubic-bezier(0,1,.3,1), opacity .6s .25s ease-out;
    will-change: transform, opacity;
  }

  #myBtn_onscroll:hover {
    background-color: transparent;
    border: 2px solid #00C4B2;
    color: #00C4B2;
  }
  
  .shownow-icon{
    display: none;
  }

  i.fas.fa-shopping-bag {
    font-size: 20px;
  }
  
  span.shownow-text {
    font-weight: 400;
  }
  
  @media only screen and (max-width: 600px) {
    .shownow-text{
      display: none;
    }
    .shownow-icon{
      display: block;
    }
    #myBtn_onscroll{
      border-radius: 50%;
      left: 10px;
      bottom: 25px;
    }
  }

  
</style>  


<div class="wrapper" style="display:flex; align-items: center; justify-content: center;background: black">
<img src="https://cdn.shopify.com/s/files/1/2445/2869/files/AthleisureLogo.svg?v=1678400887" style="max-width: 600px"/>
</div>

{% schema %}
  {
    "name": "Banner Logo",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
