<div class="section-fifth">
          <div class="row">
            <h1 data-aos="fade-up" data-aos-offset="200" data-aos-delay="250" data-aos-duration="1000" class="col-xs-12 section-fifth-heading aos-init aos-animate">DESIGN FEATURES</h1>
            <img data-aos="fade-up" data-aos-offset="200" data-aos-delay="350" data-aos-duration="1000" class="col-xs-12 img-styling aos-init aos-animate" src="https://cdn.shopify.com/s/files/1/2445/2869/files/Athleisure-DesignFeauturesPhoto.jpg?v=1619024123" alt="Atleisure Legging">         
          </div>
        </div>
{% schema %}
  {
    "name": "Design feature athleisure",
    "settings": [],
    "presets": [
      {
        "name": "Design feature athleisure"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}