{% paginate blog.articles by 21 %}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content" style="padding-top: 0;">

    <div class="blog-template__container">
      {%- include 'breadcrumbs' -%}
     
      <div class="grid grid--uniform MasonGrid">
        {% for article in blog.articles %}
          {% include 'article-grid-item', grid_item_width: 'medium-up--one-third', per_row: '3', image_size: section.settings.blog_image_size %}
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  </div>
</div>

{% endpaginate %}
<script src="{{ 'grid.js' | asset_url }}"  defer="defer"></script>

{% schema %}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_tag_filter",
        "label": "Show tag filter"
      },
      {
        "type": "checkbox",
        "id": "blog_show_rss",
        "label": "Show RSS link"
      },
      {
        "type": "checkbox",
        "id": "blog_show_tags",
        "label": "Show tags"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_comments",
        "label": "Show comment count",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author"
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt"
      },
      {
        "type": "select",
        "id": "blog_image_size",
        "label": "Image size",
        "default": "wide",
        "options": [
          {
            "value": "natural",
            "label": "Natural"
          },
          {
            "value": "square",
            "label": "Square (1:1)"
          },
          {
            "value": "landscape",
            "label": "Landscape (4:3)"
          },
          {
            "value": "portrait",
            "label": "Portrait (2:3)"
          },
          {
            "value": "wide",
            "label": "Wide (16:9)"
          }
        ]
      }
    ]
  }
{% endschema %}