<div class="section-sixth">
   		<div class="section-sixth-content">
          <div class="row">
            <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="250" data-aos-duration="1000" class="section-fifth-heading aos-init aos-animate">
              <h1>ECO PACKAGING</h1>
              <div class="eco-images">
                <img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Eco-Icon-1.svg?v=1619024123" alt="icons">
                <img src="https://cdn.shopify.com/s/files/1/2445/2869/files/Eco-Icon-2.svg?v=1619024123" alt="icons">
              </div>
            </div>
            <div data-aos="fade-up" data-aos-offset="200" data-aos-delay="400" data-aos-duration="1000" class="section-fifth-paragraph aos-init aos-animate">
              <div class="footer-text">
                As part of our ongoing commitment to the environment, our Athleisure packaging is proudly made from plant starch and will safely biodegrade in a landfill or your home compost.
              </div>
            </div>
          </div>
          </div>
        </div>


{% schema %}
  {
    "name": "Footer athleisure text",
    "settings": [],
    "presets": [
      {
        "name": "Footer athleisure text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}