<div id="foursixty-hideable-container" style="display:none">
  
<br/>
<div class="fs-script">
  <h4 class="home__subtitle"> AS SEEN ON </h4>
<script src="//foursixty.com/media/scripts/fs.slider.v2.5.js" data-feed-id="deandavidson" data-for-url="true" data-has-posts-selector="#foursixty-hideable-container" data-theme="slider_v2_5" data-cell-size="20%" data-for-url="true"></script><style>.fs-has-links::after {  padding: 3px 6px; color:#fff; content: "SHOP";  }.fs-wrapper { height: auto } .fs-entry-container { height: 0 !important; width: 20% !important; padding-top: 20% !important; }.fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:"Avenir Next", sans-serif;;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:"Avenir Next", sans-serif;;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:#fff}.fs-wrapper div.fs-text-container {background-color:rgba(0,0,0,0.8); margin: 1px}div.fs-entry-date{display:none}div.fs-service-icon{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 1px }.fs-wrapper { text-align: center; }.fs-script { padding-top: 20px; }</style>
  </div>
</div>

  {% schema %}
  {
    "name": "FourSixty",
"presets": [{ "name": "Foursixty Product Page Slider", 
"category": "Foursixty"}]

}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
