<div class="index-section {{ section_class }}">
    <div class="page-width text-{{ section.settings.align_text }}">
      <div class="grid">
        <div class="grid__item{% if section.settings.narrow_column %} medium-up--four-sixths medium-up--push-one-sixth{% endif %}">
          {% if section.settings.title != blank %}
            <p class="h2">
              {{ section.settings.title | escape }}
            </p>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="rte">
              {% if section.settings.enlarge_text %}<div class="enlarge-text h2">{% endif %}
                {{ section.settings.text }}
              {% if section.settings.enlarge_text %}</div>{% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
   
  
  {% schema %}
    {
      "name": "Page Description",
      "settings": [
          {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Rich text block"
          },
          {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>"
          },
          {
              "type": "select",
              "id": "align_text",
              "label": "Text alignment",
              "default": "center",
              "options": [
                  {
                      "value": "left",
                      "label": "Left"
                  },
                  {
                      "value": "center",
                      "label": "Centered"
                  }
              ]
          },
          {
              "type": "checkbox",
              "id": "narrow_column",
              "label": "Narrow column",
              "default": true
          },
          {
              "type": "checkbox",
              "id": "enlarge_text",
              "label": "Enlarge text"
          }
      ]
    }
  {% endschema %}