<style> 
  
  .video-row {
    margin-top: 50px;
  }
  
  #player{
    border-radius: 15px;
    box-shadow: 21px 25px 23px -7px rgba(0,0,0,0.15);
    background: none;
  }
    
  .plyr__control {
     border-radius: 50px;
  }
  .plyr__control--overlaid {
    background: rgb(34 48 59);
 
  }
  .plyr__control--overlaid:hover {
    background: #F5969E!important;
  }
  .plyr__control--overlaid:hover .plyr__sr-only {
    color: black;
  }
  .plyr__video-wrapper  {
    background: none;
  }
  .plyr--full-ui input[type=range] {
    color:  rgb(34 48 59);
 }

  
</style>
<div class="row video-row">
    <div class="plyr__video-embed" id="player"> 
      {{section.settings.maternity_video}}
	</div>
</div>
  
{% schema %}
  {
    "name": "Video Section",
    "settings": [
  		{
  		"type": "text",
  		"id": "maternity_video",
  		"label": "Video Link"
  		}
  	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
