<style>
  .numbered-cards__card-sub-header {
    font-size: 18px;
  }
  .step-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }
  .panel-heading {
    padding: 15px;
    border-top: 1px solid #33333326;
    border-bottom: none;
    font-weight: 500;
    
  }
  .panel-default>.panel-heading {
    background-color: inherit;
  }
  .panel {
    -webkit-box-shadow: none;
        margin-bottom: 0px;
    border-radius: 0px;
  }
.panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: none;
}

  .question {
    cursor: pointer;
    font-size: 16px;
  }
.panel-heading .accordiance-icon {
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 1.5em;
  position: relative;
}

.panel-heading.collapsed .accordiance-icon span {
  position: absolute;
  transition: 300ms;
  background: black;
  border-radius: 2px;
}
.panel-heading .accordiance-icon span:first-child {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.panel-heading.collapsed .accordiance-icon span:last-child {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

/* Morph the shape when the button is hovered over */
.panel-heading .accordiance-icon span {
  transform: rotate(90deg);
  position: absolute;
  transition: 300ms;
  background: black;
  border-radius: 2px;
}

.panel-heading .accordiance-icon span:last-child {
  left: 50%;
  right: 50%;
  height: 10%;
  top: 45%;
}
  .numbered-cards__card-inner {
    width: 30%;
    padding: 2rem;
    background-color: #f6f6f6;
    text-align: center;
  }
  .numbered-cards__card-number {
      align-self: center;
    width: 5.75rem;
    height: 5.75rem;
    margin-bottom: 1.875rem;
    background-color: transparent;
    font-size: 3.0rem;
    font-weight: 700;
    line-height: 1.9;
    color: #00c4b3;
    border-radius: 50%;
    border: 2px solid #00c4b3;
    margin: auto;
    margin-bottom: 2rem;
  }
  .panel:last-child {
    border-bottom: 1px solid #33333326;
  }

  
@media screen and (max-width: 850px) {
  .step-container {
    display: block;
  }
  .numbered-cards__card-inner {
    width: 100%;
    margin-bottom: 2rem;
  }
}
</style>
<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
   <article class="page">
      <div class="row">
         <div class="large-12 columns">
            <div class="entry-content">
               <p style="max-width: 800px ; margin: auto" data-aos="fade-up"  data-aos-delay="350" data-aos-duration="1000" class="text-center" style="font-size: 20px">
                 Welcome to the SweetLegs returns portal! We hope you love your purchase, but if for any reason you 
                 need to make a return, we’re here to help. Please follow the instructions on this page to process your return and
                  ensure a smooth and hassle-free experience.
               </p>
               <div class="step-container">
                  <div data-aos="fade-up" " data-aos-delay="450" data-aos-duration="1000" class="numbered-cards__card-inner flex flex-column">
                     <div class="numbered-cards__card-number">1</div>
                     <h5 class="numbered-cards__card-header heading heading--5">START AN ONLINE  RETURN</h5>
                     <div class="numbered-cards__card-sub-header paragraph paragraph--small">
                        Ready to start your return or exchange? Simply click the “Start A Return or Exchange” button below and follow the on-screen instructions. It’s that easy!

                     </div>
                  </div>
                  <div data-aos="fade-up"  data-aos-delay="650" data-aos-duration="1000" class="numbered-cards__card-inner flex flex-column">
                     <div class="numbered-cards__card-number">2</div>
                     <h5 class="numbered-cards__card-header heading heading--5">PACKAGE  ITEM(S)</h5>
                     <div class="numbered-cards__card-sub-header paragraph paragraph--small">
                       Once you're ready to send your return back to us, just pack up those items, stick on that return label, and drop it off at your nearest <strong><a href="https://www.canadapost-postescanada.ca/information/app/fpo/personal/findpostoffice" style="font-weight: bold;
    text-decoration: underline!important;" target="_blank" rel="noopener noreferrer">Canada Post </strong></a>location. Easy peasy!
                     </div>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="850" data-aos-duration="1000" class="numbered-cards__card-inner flex flex-column">
                     <div class="numbered-cards__card-number">3</div>
                     <h5 class="numbered-cards__card-header heading heading--5">GET YOUR CONFIRMATION</h5>
                     <div class="numbered-cards__card-sub-header paragraph paragraph--small">
                        Once we receive your item(s), we’ll process your request and send you a confirmation email with your store credit or replacement details. Time to shop!
                     </div>
                  </div>
               </div>
               <button data-aos="fade-up"  data-aos-delay="750" data-aos-duration="1000" id="start-return-portal-button" class="button" style="margin: auto; height: 45px; radius: 25px; color: black;" type="button" onclick="window.location.href = 'https://sweetlegs.loopreturns.com/'">Start a Return or exchange</button>
            </div>
         </div>
      </div>
   </article>
</div>
</div>