<div class="page-sts-forms-1">
  {% for block in section.blocks %}
  	{%- assign hide = false -%}
    {% unless block.settings.customer_tags == blank %}
      {% assign tags = block.settings.customer_tags | split: ',' %}
      {% assign hide = true %}
      {% for tag in tags %}
        {% if customer.tags contains tag %}
  		  {% assign hide = false %}
        {% endif %}
      {% endfor %}
    {% endunless %}
    {% if hide %}
      {% continue %}
    {% endif %}
  	{% if block.type == 'header' %}
	  <h2>{{block.settings.title}}</h2>
  	{% elsif block.type == 'form' %}
     <p><a href="{{block.settings.link}}" target="_blank">{{block.settings.title}}</a></p>
  	{% endif %}
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Forms",
    "settings": [],
	"blocks": [
	  {
		"type": "header",
		"name": "Header",
		"settings": [
		  {
			"id": "title",
			"label": "Title",
			"type": "text"
		  }
		]
	  },
	  {
		"type": "form",
		"name": "Form",
		"settings": [
		  {
			"id": "title",
			"label": "Title",
			"type": "text"
		  },
		  {
			"id": "link",
			"label": "Link",
			"type": "url"
		  },
		  {
			"type": "textarea",
			"id": "customer_tags",
			"label": "Customer Tags",
			"info": "Commada separated tags format (no spaces) (leave blank to show to all users)"
		  }
		]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
