{%- if section.settings.product_reviews_enable -%}
  <section data-section-id="{{ section.id }}" data-section-type="product-reviews" class="product-reviews" style="background-color: {{ section.settings.bg }}">
    <div class="wrapper">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
  </section>
{%- endif -%}


{% schema %}
{
  "name": "Product reviews",
  "settings": [
    {
      "id": "product_reviews_enable",
      "type": "checkbox",
      "label": "Enable reviews",
      "info": "Requires the [Shopify Product Reviews app](https://apps.shopify.com/product-reviews)."

    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background color",
      "default": "#DCCDD2"
    }
  ]
}
{% endschema %}
