<div class="section-fourth">
          <div class="row row-flex">
            <div data-aos="fade-left" data-aos-offset="250" data-aos-delay="375" data-aos-duration="1000" class="col-md-6 col-sm-12 col-xs-12 aos-init aos-animate">
              <div class="content">
                <img class="" src="https://cdn.shopify.com/s/files/1/2445/2869/files/Athleisure-SizeChartPhoto.jpg?v=1619024123" alt="Athleisure Size Chart">
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 main-altheisure-table aos-init aos-animate" data-aos="fade-right" data-aos-offset="250" data-aos-delay="375" data-aos-duration="1000">
              <div class="content">
                <h1 class="section-fourth-heading">SIZE CHART</h1>
                <table class="table altheisure-table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">BUST</th>
                      <th scope="col">WAIST</th>
                      <th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">XS</th>
                      <td>32-33</td>
                      <td>24-25</td>
                      <td>35-36</td>
                    </tr>
                    <tr>
                      <th scope="row">S</th>
                      <td>34-35</td>
                      <td>26-27</td>
                      <td>37-38</td>
                    </tr>
                    <tr>
                      <th scope="row">M</th>
                      <td>36-37</td>
                      <td>28-29</td>
                      <td>39-41</td>
                    </tr>
                    <tr>
                      <th scope="row">L</th>
                      <td>38-41</td>
                      <td>30-34</td>
                      <td>42-45</td>
                    </tr>
                    <tr>
                      <th scope="row">XL</th>
                      <td>42-46</td>
                      <td>35-39</td>
                      <td>46-50</td>
                    </tr>
                    <tr>
                      <th scope="row">2X</th>
                      <td>47-50</td>
                      <td>40-44</td>
                      <td>51-55</td>
                    </tr>
                    <tr>
                      <th scope="row">3X</th>
                      <td>51-54</td>
                      <td>45-48</td>
                      <td>56-59</td>
                    </tr>         
                  </tbody>
                </table>
                <p>Our compression fabric will apply gentle pressure to the body and have a tight, close fit that will provide support to your stomach, back, and legs.</p>
                <p>To find your perfect fit, we recommend measuring your bust, hips, and waist with a soft measuring tape and comparing your measurements to the size chart above. <span class="just-bold">If your measurements fall in between sizes, we recommend sizing up.</span></p>
              </div>
            </div>
          </div>          
        </div>
{% schema %}
  {
    "name": "Size Chart Athleisure",
    "settings": [],
    "presets": [
      {
        "name": "Size Chart Athleisure"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}