.delivery-timer {
  border: 1px solid #435363;
  text-align: center;
  padding: 1rem;
  display: none;
  margin: 20px 0px;
}
#delivery-timer {
    display: none;
  }
#wishlisthero-product-page-button-container button {
  width: 100%;
  max-width: 400px;
}
#variantDefectMessage {
  text-align: center;
  color: red;
}
.shopify-payment-button__button{
  display: none;
}
body {
  letter-spacing: 2px;
}
.btn--neutral.btn {
  --btn-bg: var(---color-secondary);
}
.home__subtitle {
  font-size: 1.2rem;
}

.home__subtitle:after {
  display: none;
}

.btn {
  padding: 16px;
}

.btn--long{
  min-width: 174px;
}

.price {
  color: #6a6a6a;
}

.homepage-collection-grid {
  margin: 0px var(--gutter);
}

.theme__header {
  box-shadow: 0 -1px rgb(255 255 255 / 25%) inset;
  padding: 5px 0px;
/*   background-color: white!important; */
}

.js__header__stuck.js__header__stuck__backdrop .theme__header { 
  background: white;
}

.header-hover {  
  background-color: white!important;
  color: black;
}

.image__fill {
  min-height: 500px;
}

/*.double__image{
  min-height: 475px;
}*/

.collection-grid-item .subtitle {
  font-size: 12px;
  margin-bottom: 1rem;
}

.homepage-newsletter {
  background: #ddcdd3;
}

.logo_black {
  display: none;
}
.logo_white {
  display: block;
}
.header-hover .logo_black {
  display: block;
}

.header-hover .logo_white {
  display: none;
}

.js__header__stuck.js__header__stuck__backdrop .theme__header .logo_white{
   display: none;
}

.js__header__stuck.js__header__stuck__backdrop .theme__header .logo_black{
   display: block;
}

  
[data-header-transparent=false]:not(.meganav--visible) .theme__header .logo_white{
    display: none;
}
  
    
[data-header-transparent=false]:not(.meganav--visible) .theme__header .logo_black{
    display: block;
}
  
.artisanal_cnt .hero__kicker{
  background: white;
  color: #96a3ad;
  font-size: 24px;
  padding: 30px;
  font-weight: bold;
}
 .less-inventory {
    text-align: center;
    box-sizing: border-box;
    font-family: var(---font-stack-accent);
    font-style: var(---font-style-accent);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: calc(10px*var(---font-adjust-accent));
    position: absolute;
    left: calc(var(--inner)/2);
    top: calc(var(--inner)/2);
    padding: 5px 10px;
    background:var(---color-badge-text) ;
    color: var(---color-badge);
    z-index: 400;
    font-weight: var(---font-weight-accent-bold);
  }
  .product__badge { 
    font-size: calc(10px*var(---font-adjust-accent));
  }

/*! ============ Add any custom styles below this line ================== */
    
.product__title {
  font-size: 18px;
  letter-spacing: .2em;
  line-height: 1.65;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  .product__title {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .product__title {
    font-size: 18px;
  }
}








.product__price__main {
  display: block;
  font-size: 16px;
  line-height: 1.65;
}

.ProductMeta__Price {
  color: #6a6a6a;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.Price--highlight {
  color: #f94c43;
}
.Price--compareAt {
  color: #6a6a6a;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 3px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.Price--compareAt:before {
  position: absolute;
  content: '';
  top: 50%;
  left: -0.4em;
  width: calc(100% + 0.8em);
  height: 1px;
  background: currentColor;
}

.final-sale {
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #1c1b1b;
  float: right;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 3px 10px;
  text-transform: uppercase;
  white-space: nowrap;
}
@media (max-width: 950px) {
  .final-sale {
    float: none;
  }
}






.final-sale-message {
  color: #f94c43;
  font-family: "Nunito Sans",sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  margin-top: 25px;
  text-align: center;
}


.jdgm-widget {
  background-color: #99A4AE;
}
.jdgm-widget h2 {
  font-size: inherit;
  font-weight: inherit;
}

.header__desktop__button.gt_desktop {
  position: relative;
  padding-right: 30px;
}
.header__desktop__button.gt_desktop .gep-switcher-desktop {
  position: absolute;
  right: 0;
  top: 0;
}


@media screen and (max-width: 700px) {
  #delivery-timer {
    display: block;
  }
}


.product__align-left .swatch__button:first-of-type {
  margin-left: 0;
}

.loop-returns-activated #afterpay { display: none !important; }
  
#loop-onstore {
  z-index: 10!important;
}
  
.idme-shopify {
  display: none;
}

.sub-menu {
  position: absolute;
  left: 195px;
  background: white;
  min-width: 200px;
  padding: 10px 20px;
  top: -20px;   
  border: 1px solid #ddd;
  display: none;
  white-space: normal; 
}
  
.dropdown__family {
  position: relative;
  padding: 0px 30px;
  
}
  
.navlink.navlink--child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.parent-sub-menu > .navlink:first-child:after {
    content:'\003E';
}
.showMe {
  display: block;
}