.header-search__wrapper {
  display: flex;
  align-items: center;
  
}
.header-currency  {
  float: left;
  cursor: pointer;
  margin-right: 10px;
}
.header-currency img {
  max-height: 20px;
}

.header-currency form {
  margin: 0px;
  display: flex;
}

#currency-popup .content{
  max-height: 200px;
}

#currency-popup ul {
  width: 100%;
  text-align: center;
  bottom: auto;
}

#currency-popup ul li{
  text-align: center;
}

#geolocation-popup .action-button {
  display: flex;
  justify-content: center;
}

#geolocation-popup .action-button button {
    border: none;
    background: none;
  
}

.hideMe {
  display: none;
}