


@font-face {
  font-family: "ITC Clearface";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/itc_clearface/itcclearface_n4.0b8e5be1178a7d02f1cb5b4354ada58ec706fc90.woff2?h1=aW5ub3NlYWwuY29t&hmac=164de20d26b8563f82e69d10d1f5f4a4e5ec32ff5d0ba6b6e60ccdfdf2a024ac") format("woff2"),
       url("https://fonts.shopifycdn.com/itc_clearface/itcclearface_n4.3e5bedaa384b59e204df7f200155500d48e610ba.woff?h1=aW5ub3NlYWwuY29t&hmac=8d1f2e46dacb151e748ea0771cbf44025db808aebc8c2bfdff566f92cbc4114d") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=aW5ub3NlYWwuY29t&hmac=e11bb7eac245f0472c7fd0732fa10d42fbbe431866a4a20eb179d782ba7a843e") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=aW5ub3NlYWwuY29t&hmac=9d2a336f218b62b194edcd59c664e0cc7b391896e8e2f9b354d54a6225738602") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=aW5ub3NlYWwuY29t&hmac=b707b1fdaa11cc57138fca8654995651c7173eef585cd38616f75960a9a70db4") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=aW5ub3NlYWwuY29t&hmac=50d485e6bfedfe9a580a1dcd6451f61b796360024c7ce9417a92d413f852e749") format("woff");
}



  @font-face {
  font-family: "ITC Clearface";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/itc_clearface/itcclearface_n7.9f5e17613f1c79bf939e997402c6a337cb5a1918.woff2?h1=aW5ub3NlYWwuY29t&hmac=3dec2d3a2040ef5880d3b23634c4193454f3eadc994a890d9ba0a5cb85becf84") format("woff2"),
       url("https://fonts.shopifycdn.com/itc_clearface/itcclearface_n7.e3ea15eceb7664d2c5489ced18cca9f56fd7fa47.woff?h1=aW5ub3NlYWwuY29t&hmac=36bfe29a8e6fd55c485c6bada41c7cce0e47a706f6cee0d7565de323c0d0b1f7") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n6.08f6a09127d450aa39c74986de08fd8fa84e6a11.woff2?h1=aW5ub3NlYWwuY29t&hmac=459c9ac5cdfd011ddcb96dadeda0c1e8774c44c3db189f10b5dda3681c6aefb6") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n6.bd2f76897d6f40c767db7c40226916ec7b6ffc65.woff?h1=aW5ub3NlYWwuY29t&hmac=f6810264105b847071e52509ca68a33ed317bbe0814003dfb97adf8ea98dbb04") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=aW5ub3NlYWwuY29t&hmac=b707b1fdaa11cc57138fca8654995651c7173eef585cd38616f75960a9a70db4") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=aW5ub3NlYWwuY29t&hmac=50d485e6bfedfe9a580a1dcd6451f61b796360024c7ce9417a92d413f852e749") format("woff");
}







  @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=aW5ub3NlYWwuY29t&hmac=aa5955f1fa0f33a1d1ea480d86b4da42065ff34f30d4668f4fa4c21753f4298f") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=aW5ub3NlYWwuY29t&hmac=4c322516df958c0d1e6cbc89dd3e0be163c21887ef352b1d5e4dee7f5086cb16") format("woff");
}



  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.2d1a6d537e5b485482d6bcca34a56cc10d441a55.woff2?h1=aW5ub3NlYWwuY29t&hmac=9e11da653395348f99ab01cacd36caaa189c78c02e6130279b01e18357c81f16") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.fcfa37c68ca483c41031623bfae4701d99bb4b95.woff?h1=aW5ub3NlYWwuY29t&hmac=2306d2c6b8f5c7f035a975dc519dc599ff273382b729333cc5543f2d78a09fd1") format("woff");
}


