


@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=7872a72c0fa33024970e779a0ba5969b38afe772c3f370291965a79f7b4a1351") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=93f6f66e1c654882c5c22d3c21edb592f919eec5c234be88c506487c5a6deddd") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=7872a72c0fa33024970e779a0ba5969b38afe772c3f370291965a79f7b4a1351") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=93f6f66e1c654882c5c22d3c21edb592f919eec5c234be88c506487c5a6deddd") format("woff");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=7872a72c0fa33024970e779a0ba5969b38afe772c3f370291965a79f7b4a1351") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n4.a26a334a0852627a5f36b195112385b0cd700077.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=93f6f66e1c654882c5c22d3c21edb592f919eec5c234be88c506487c5a6deddd") format("woff");
}



  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=f551ccbc0d9dfbbe1fd1795516fc4dcde863c0a11b8ba65b81824507319f6763") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=61108f95989ec7250e2d04ac2c8f1a5306d6c35e1eabc94e3c0ddcefbcb65de8") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=f551ccbc0d9dfbbe1fd1795516fc4dcde863c0a11b8ba65b81824507319f6763") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=61108f95989ec7250e2d04ac2c8f1a5306d6c35e1eabc94e3c0ddcefbcb65de8") format("woff");
}




  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.972a96b7a049f12c89d6d1cd0e1b6c9211f7ba14.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=f551ccbc0d9dfbbe1fd1795516fc4dcde863c0a11b8ba65b81824507319f6763") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_n5.9e88d20fa9eb66ba268ac60ab013006ef69a310a.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=61108f95989ec7250e2d04ac2c8f1a5306d6c35e1eabc94e3c0ddcefbcb65de8") format("woff");
}







  @font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.f1583d9f457b68e44fbda187a48b4096d547d7f4.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=d27dd62b85be0e6a91b6e4db93d78abfa1d0b621ca33821d7703d89fcf6c7d6f") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i4.67fb53a3e0351125941146246183577ae8d8bf23.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=9d5c1f146a094bf292b998d1cfd40ece03c2a5d0d8d992af6934736ecf65df79") format("woff");
}



  @font-face {
  font-family: "Avenir Next";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.2d1a6d537e5b485482d6bcca34a56cc10d441a55.woff2?h1=ZGVhbmRhdmlkc29uLmNh&hmac=7a01913713f10e40c0dd9afa318cdd40558ceb03afcd0879e4bf0a79173ca0c7") format("woff2"),
       url("https://fonts.shopifycdn.com/avenir_next/avenirnext_i5.fcfa37c68ca483c41031623bfae4701d99bb4b95.woff?h1=ZGVhbmRhdmlkc29uLmNh&hmac=d6e2718c96f1a5ca60f0c39ae86ff1c94e17479f0d27b2ae34131df7115e1498") format("woff");
}


