{% section 'blog-press-header' %}
{% section 'blog-press-rich-text' %}
{% comment %}
{% section 'image-with-slider' %}
{% section 'blog-template' %}
{% endcomment %}
<header class="section-header">
  <h1 class="span-head__style popitheading">
    Press
  </h1>
</header>
{% section 'press-products' %}

<style>
  #shopify-section-hawke-rescue__content .product-wrapper {
    padding-bottom:130px;
  }
  
/*   #section-press-products .page-content {
    padding-top:0;
  }
  
  #section-press-products h2 {
    margin-top:-75px;
  }
  
  #section-press-products .grid__item.small--two-thirds .article__grid-meta {
    border: 1px solid #C5BBB6;
    margin-top: -60px;
    padding-top: 60px;
    padding-bottom: 30px;
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 34px;
    padding-left: 34px;
  }
  
  @media screen and (min-width:769px) {
    #section-press-products .grid__item.small--one-third {
      max-width:350px;
      margin:0 auto;
      float:none;
    }
  }
  @media screen and (min-width:769px) and (max-width:1300px) {
    #section-press-products .grid__item.small--two-thirds .article__grid-meta {
      margin-top: -80px;
    }
    #section-press-products .grid__item .image-wrap img{
      padding: 0 10px;
    }
  }
  @media screen and (max-width:768px) {
    #section-press-products .grid__item.small--two-thirds .article__grid-meta {
      margin-top: 0;
      padding-top: 30px;
    }
  } */
/*   .blog-template__container .grid__item.small--one-third{
    padding: 0 22px 0 42px;
  }
  .blog-template__container .grid__item.small--two-thirds .article__grid-meta{
    border: 1px solid;
    padding: 20px;
    margin-top: -30px;
  } */
.h2 {
  font-size: 30px;
}
</style>