{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}

{% section 'collection-new-bundle-popshield-template' %}  <div class="powr-social-media-icons" id="ed03126d_1598019569"></div>
	