{% section 'collection-header' %}

<div id="CollectionAjaxResult" class="collection-content">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      <h2 class="span-head__style HeadlineSpan text-left">
        {{collection.metafields.global.header}}
      </h2>
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-photography-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
          <div class="collection-grid__wrapper">
            {% section 'collection-photography-template' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
