<div id="primary" class="content-area">
    {%- include 'landing-page-header' -%}
    <div id="content" class="site-content">
        <article class="page">

            <section class="first-container">
                <div class="wrapper">
                    <div style="text-align: center;">
                        <img src="https://cdn.shopify.com/s/files/1/0949/8004/files/black_blue-feature_full-size.jpg?13917"
                            class='main-img' />
                        <h1>Confidence strikes again.</h1>
                    </div>
                    <div class="info-box">Momming so hard you need something to block the glare of your responsibilities? Does your vacay look like an inflatable pool surrounded by toddlers? We’ve designed the perfect product to hide the bags under your eyes.</div>
                    <div class="info-box">Look no further than our brand new sleek,
                        sexy sunglasses. These light-weight, miracle-workers fit your face and flatter your features
                        like they
                        were made just for you. With three stylish frame colors and a variety of fun lens colors, you'll
                        be
                        channeling your inner Jackie-O in no time.</div>
                    <div class="info-box">Miss a birthday? No problem - simply wipe
                        these beauties down with your ultra-soft SweetLegs lens cloth and tuck them nicely back into
                        their
                        included branded protective bag and gorgeous box, because we've created a unisex accessory that
                        makes the
                        perfect gift for anyone!
                    </div>

                    <!--             <div class='promo' style="text-align: center;"><button id="watch-promo" onclick="toggleVideo()">Watch the
                  promo <img src="https://cdn.shopify.com/s/files/1/0949/8004/files/play-button_2.svg?13930"></button>
              </div> -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div id='video' style="text-align: center;"><iframe width="1120" height="630"
                                    src="https://www.youtube.com/embed/LXb3EKWsInQ" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe></div>
                        </div>
                    </div>
                    <div class='buynow'>
                      <a href="https://sweetlegs.com/collections/sunglasses" target="_self" class="subscribebtn">Buy Now</a></div>
                </div>
            </section>

            <section class="grey">
                <div class="wrapper">
                    <div>

                        <h1 style="text-align: left; padding: 0; margin: 0;"><span style="color: #cccccc;">100% UV
                                protection</span></h1>
                        <h1 style="padding: 0; margin: 0; margin-top: -15px;"><span style="color: #000000;">POLARIZED
                                Lenses,</span></h1>
                        <h1 style="padding: 0; margin: 0; margin-top: -15px;"><span style="color: #000000;">safe and stylish.</span></h1>
                    </div>
                    <div class="image-container" style='text-align: center;'>
                        <img src=https://cdn.shopify.com/s/files/1/0949/8004/files/lenses-1795.jpg?13989
                            class='primary-photo' />
                    </div>
                    <div style="text-align: right;">
                        <img class='secondary-photo'
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/lens-protection.png?14152" alt=""
                            style="float: right;" />
                    </div>
                    <p class="wrapped-text">Polarized lenses block over 99% of surface glare and shadows, as well as
                        prevent
                        scratching, delaminating, and hazing. 100% UV protection reduces eye fatigue after all-nighters
                        and
                        protects against long-term sun damage.</p>

                    <div style="text-align: right;">
                        <img class='detail-image'
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/lens-protection.png?14152" alt=""
                            style="float: right;" />
                    </div>
                </div>
            </section>

            <section class="white">
                <div class="wrapper">
                    <h1 style="text-align: left; padding: 0; margin: 0;"><span style="color: #cccccc;">Ultra-light
                            frames</span></h1>
                    <h1 style="padding: 0; margin: 0; margin-top: -15px;"><span style="color: #000000;">Strong, flexible &amp 
                            </span></h1>
                    <h1 style="padding: 0; margin: 0; margin-top: -15px;"><span style="color: #000000;">oh-so-comfortable.</span></h1>
                    <div class="image-container"><img
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/frames---full.jpg?14002"
                            class="primary-photo" />
                    </div>
                    <div style="text-align: right;">
                        <img class='secondary-photo'
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/frames-detail.png?14158" alt=""
                            style="float: right;" />
                    </div>
                    <div style="text-align: left;">
                        <p class="wrapped-text">Our amazing new frame technology offers an ultra-lightweight feel
                            combined with toughness and extreme
                            flexibility for long-lasting, toddler-proof year-round unisex eyewear.</p>
                    </div>
                    <div style="text-align: right;">
                        <img class='detail-image'
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/frames-detail.png?14158" alt=""
                            style="float: right;" />
                    </div>
                </div>
            </section>

            <section class="grey">
                <div class="wrapper">
                    <h1 style="text-align: left; padding: 0; margin: 0;"><span style="color: #cccccc;">Black,Tortoise
                            and Teal</span></h1>
                    <h1 style="padding: 0; margin: 0; margin-top: -15px;"><span style="color: #000000;">Choose your
                            flavor.</span></h1>
                    <div class="image-container"><img
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/3-SHOT-EDITED-grey-2000.jpg?14002"
                            class="primary-photo" /></div>
                    <div style="text-align: left;">
                        <div style="text-align: right;"><img class='frame-img'
                                src="https://cdn.shopify.com/s/files/1/0949/8004/files/lens-color.png?14158"
                                style="float: right;" /></div>
                        <p class="wrapped-text">Whether you are rolling around in a G-Wagon, station wagon, or straight-up minivan, we have 3 flattering unisex frames just for you. Smooth lines and three dynamic color-ways create delicious combos paired with a wicked choice of polarized lenses that are perfect for every outfit.</p>
                    </div>
                    <div style="text-align: right;">
                        <img class='detail-image'
                            src="https://cdn.shopify.com/s/files/1/0949/8004/files/lens-color.png?14158" alt=""
                            style="float: right;" />
                    </div>

                </div>

            </section>


            <section class="footer">
                <div class="wrapper">
                    <h1 class='limit-text'><span style="color: #cccccc;">Limited Quantities
                            Available</span></h1>
                    <h1 style="padding: 0px; margin: -15px 0px 0px; text-align: center;"><span
                            style="color: #000000;">Get yours
                            today.</span></h1>

                    <p style="text-align: center;"><a href="https://sweetlegs.com/collections/sunglasses" target="_self"
                                class="subscribebtn" >Buy
                                Now</a></p>

                </div>
            </section>

    </div>

    </article>
</div>
</div>

<style>
    /* Extra small devices (phones, 1000px and down) */
    @media only screen and (max-width: 1024px) {
        .wrapped-text {
            font-size: 18px !important;
            width: 95% !important;
            padding: 0 !important;
        }

        .detail-image {
            margin-top: 40px;
            margin-bottom: 100px;
            display: block !important;
            ;

        }

        .secondary-photo {
            display: none !important;
        }

        .frame-img {
            display: none !important;
        }

        .main-img {
            float: none !important;
            ;
            width: 100% !important;
            ;
            padding: 1% 0 !important;
            ;
            margin-bottom: 5% !important;
            
          	margin-top: 10% !important; 
         

        }

        .buynow {
            text-align center !important;
            margin-bottom: 100px;

        }

        .primary-photo {

            margin: 45px 0px !important;
            float: none !important;
            width: 100% !important;
            position: relative !important;
            right: 6% !important;


        }

        .limit-text {
            padding: 0px !important;
            margin: 0px !important;
            text-align: center !important;
            font-size: 20px !important;
            padding-bottom: 20px !important;


        }

        .white {
            padding-top: 1%;
            background: white;
            padding-bottom: 45% !important;
            ;
        }

        .grey {
            padding-top: 1%;
            background: #f9f9fa;
            padding-bottom: 45% !important;
        }
         .footer {
            padding-top: 1%;
            background: white;
           	padding-bottom: 0 !important;
        }
         .wrapper {
        margin: 5% 10% !important;
    }

    }


    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .page-wrapper {}

    }

    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        ...
    }
  	.subscribebtn{
  		background: #00c4b3;
    	color: white;
      	border-bottom: none !important;
   		border-radius: 20px;
  
  
  }
	.subscribebtn:hover {
  		background-color: white !important;
    	color: #00c4b3 !important;
      border-bottom: 2px solid #00c4b3 !important;
}
    .limit-text {
        padding: 0px;
        margin: 0px;
        text-align: center;
        font-size: 30px;



    }

    .info-box {
        text-align: center;
        padding: 10px;
        font-size: 16px;

    }

    .first-container {
        padding-top: 1%;
        background: white;
        padding-bottom: 1%;

    }

    .white {
        padding-top: 1%;
        background: white;
        padding-bottom: 1%;
    }
    .footer {
        padding-top: 1%;
        background: white;
        padding-bottom: 1%;
    }
    .grey {
        padding-top: 1%;
        background: #f9f9fa;
        padding-bottom: 1%;
    }

    .wrapper {
        margin: 5% 20%;
    }

    .main-img {
        float: none;
        width: 70%;
        padding: 1% 0;
        margin-bottom: 5%;

    }

    .primary-photo {
        float: none;
        width: 70%;
        position: relative;
        right: 6%;

    }

    .secondary-photo {
        width: 30%;
        margin-right: 25%;
    }

    .detail-image {
        display: none;

    }

    .wrapped-text {
        font-size: 18px;
        padding-right: 55%;
        width: 95%;
    }

    .frame-img {
        width: 30%;
        margin-top: -2%;
        margin-right: 25%;
    }

    .image-container {
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: left;
    }


    #watch-promo {
        color: #00c4b3;
        font-size: 18px;
        font-weight: 400;
    }

    #watch-promo>img {
        height: 23px;
        margin-left: 5px;
    }

    .buynow {
        text-align: center;
    }

    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("watch-promo");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

     function RedirectUrl(){    
        window.location.href ="https://sweetlegs.com/collections/sunglasses";
       }
                    
</script>

