<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            {%- include 'shortcode' load: page.content -%}
          </div>
        </div>
      </div>
    </article>
  </div>
</div>


<style>
.collapsible {
     color: black;
    cursor: pointer;
    padding: 8px 0px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    width: 100%;
}
  .content {
    border-bottom: 1px solid #e6e7e8;
  }
/* .active, .collapsible:hover {
  background-color: #f4f6f8;;
} */

.collapsible span:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.active span:after {
  content: "\2212";
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
  .content h5 {
    margin-top: 0px!important;
    border: none!important;
  }
  .content h5 {
    border-bottom: 1px solid #e6e7e8;
    margin: 0px;
    padding: 8px 0px;
    font-size: 16px!important;
    margin-top: 25px;
  }
 .cookie-banner {
   background: rgba(244, 246, 248, 0)!important;
  }
  .cookie-banner-content {
    height: 200px;
    overflow: scroll;
  }
  .entry-content {
    z-index: 99999999999;
  }
.content li:before {
  content: '— ';
  font-size: 8px;
  margin-left: -22px;
  font-weight: bold;
  padding-right: 10px;
}

.content li {
  margin-left: 20px;
  list-style: none;
}
</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    $( "button" ).not($(this)).removeClass( "active" );
    $('.content').not($(this).next()).css('max-height', '0px');
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight == '0px' || !content.style.maxHeight){
      content.style.maxHeight = content.scrollHeight + "px";
    } else {
      content.style.maxHeight =  "0px";
    } 
  });
}
  
  
</script>



<script>
  $(document).ready(function(e) {
     $('.cookie-banner, .cookie-banner-content').click(function(e) {
       if($('.cookie-banner-content').css('height') == '200px'){
    	$('.cookie-banner-content').css('height', 'auto');
       } else {
         $('.cookie-banner-content').css('height', '200px');
       }
  	});
  });
</script>