<style>
.languageChange {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
  

.languageChange button.active {
  color: #212b36!important;
  background-color: #0000002b;
  transition: all 0.3s ease;
}
.languageChange button {
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 16px;
  line-height: 1;
  border: none;
  background-color: #f5f5f5;
  position: relative;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  border-radius: 50%;
}
.languageChange button:hover {
  color: #212b36!important;
}
.languageChange button:hover:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}
.languageChange button:before {
  position: relative!important;
  z-index: 2!important;
}
.languageChange button:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #0000002b;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
  .FooterWrapper-sc-__sc-1ckh2u2-1.gJxRUj{
    display: none;
  }
  .lang-eng, .lang-fren {
    color: black;
  }
  #myProgress {
    width: 100%;
    background-color: #ddd;
  }

  #myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
  }
  .question1 {
    height: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
    border-radius: 3px;
    padding: 60px !important;
    margin: 50px 0px;
  }
  .submit .button-loader {
    display: none;
    margin-left: -30px;
    float: none;
    border: 2px solid rgba(0,196,179,0.3);
    border-bottom-color: #212b36;
  }
  .required:after {
    color: #e32;
    content: ' *';
    display:inline;
  }
  .hideMe {
    display: none;
  }
  textarea {
    border: 1px solid #ccc!important;
  }
  .personalInfo .form-group {
    display: flex;
  }
  .personalInfo .form-group label {
    flex-basis: 15%;
  }
  .personalInfo .form-group input {
    border: 1px solid #ccc!important;
    height: 30px!important;
    flex-basis: 40%;
  }
  .question {
    padding: 20px 0px;
    font-size: 16px;
    font-weight: bold;
    color: #00c4b3;
  }
  .title {
    margin: 5px 0px;
  }
  .ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
  }
  .translate {
    color: black;
  }

  .ajax-loader img {
    position: relative;
    top:50%;
    left:50%;
  }
  .lang-fren {
    display: none;
  }
  #spinner {
    display: none;
    text-align: center;
  }
  #spinner p{
    color: #00c4b3;
    font-weight: 600;
    font-size: 14px;
    display: inline;
  }
  #spinner img {
    height: 80px;
  }
  .question-level p {
    font-size: 14pt;
    line-height: 1.3;
    color: 14pt;
    color: #00c4b3;
    font-weight: bold; 
    margin: 0px!important;
  }
  .question1 { opacity: 0.3}
  .question1.active {opacity: 1}
  
  .loading-container {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: #454f5ba6;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  .spinner {
    height: 14rem;
    width: 14rem;
    border: 5px solid #00c4b3;
    border-left: 5px solid #59f5e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
  }

  .spinner-text {
    position: absolute;
    font-size: 16px;
    color: #ffff;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }

  @media (max-width: 768px){ 
    .personalInfo .form-group {
      display: block;
 	 }
  }
  
</style>

<main class="loading-container">
  <p class="spinner-text">
    Loading...
  </p>
  <div class="spinner"></div>
</main>

<div id="questionaire-onboarding" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
       {% include 'language-selector' %}
        <div class="row question-content">
          <div class="large-12 columns">
            <div class="entry-content english">
              <div data-tf-widget="dDcDjXWg" data-tf-hidden="customer_id={{customer.id}}" data-tf-transitive-search-params="customer_id" data-tf-iframe-props="title=Onboarding" style="width:100%;height:600px;"></div>
            </div>
            <div class="entry-content french hideMe">
            	<div data-tf-widget="hUIhoSmS" data-tf-iframe-props="title=Onboarding(FRN)"  data-tf-hidden="customer_id={{customer.id}}" data-tf-transitive-search-params="customer_id" data-tf-iframe-props="title=Onboarding" style="width:100%;height:550px;"></div>
            </div>
          </div>
        </div>
    </article>
  </div>
</div>


<div style="background-color: #ccc; height: 50px ; position: fixed; bottom: 0px; width: 100%"><div id="myProgress">
  <div id="myBar"></div>
</div></div>

<script src="//embed.typeform.com/next/embed.js"></script>
<div class="row">
  <div style="float: right; margin: 20px;" class="subscribebtn back_to_dashboard">BACK TO DASHBOARD</div>
</div>

<script>
  var customer_email = '{{customer.email}}';
  $(document).ready(function () {  
    if(localStorage.getItem('language') == 'french') {
       $('#questionaire-onboarding .entry-content.english').addClass('hideMe');
     $('#questionaire-onboarding .entry-content.french').removeClass('hideMe');
           $('.languageChange button').removeClass('active');
      $('.languageChange button.frn').addClass('active');
    } else {
      $('#questionaire-onboarding .entry-content.french').addClass('hideMe');
     $('#questionaire-onboarding .entry-content.english').removeClass('hideMe');
      $('.languageChange button').removeClass('active');
      $('.languageChange button.eng').addClass('active');
    }
    if ((window.location.href.indexOf("sign-up-form") > -1) && (customer_email == "")) {
      window.location.href = "/account/login?return_url=%2Faccount";
    }
  }); 
//   change langage
  $('.languageChange button.eng').click(function(e) {
    e.preventDefault();
    $('.languageChange button').removeClass('active');
    $(this).addClass('active');
     $('#questionaire-onboarding .entry-content.french').addClass('hideMe');
     $('#questionaire-onboarding .entry-content.english').removeClass('hideMe');
  });
   $('.languageChange button.frn').click(function(e) {
     e.preventDefault();
     $('.languageChange button').removeClass('active');
     $(this).addClass('active');
     $('#questionaire-onboarding .entry-content.english').addClass('hideMe');
     $('#questionaire-onboarding .entry-content.french').removeClass('hideMe');
  });
  
  $('.back_to_dashboard').click(function(){
    $('.loading-container').css("display", "flex");
    setTimeout(function(){    
      window.location = "/pages/id-sign-up-dashboard";
    }, 4000);
  });
</script>