<div id="primary" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            {%- include 'shortcode' load: page.content -%}
            <hr />
            <h4 style="text-align: left;">Adult sized SweetLegs come in four sizes and fit most individuals sized 00-28. Use our handy size chart to determine your size. If you are in-between sizes, size <em>down</em> if you prefer a compressed fit, and size <em>up</em> for a relaxed fit.</h4>
            <img class=" wp-image-1429 size-full" src="{{ 'sizing_chart_adult.png' | asset_url }}" width="{{section.settings.logo_max_width}}" alt="" width="2106" height="1562"> 
            <hr />
            <h4>SweetLegs Kids come in three sizes to fit most! Tweens that have outgrown our 10/12 size may like the adult Petite SweetLegs.</h4>   
            <img class=" wp-image-1429 size-full" src="{{ 'kids_sizing_chart.png' | asset_url }}" alt="" width="2106" height="1562"> 
          </div>
        </div>
      </div>
    </article>
  </div>
</div>

<style>
  hr {
  	box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .size-chart {
    display:none;
  }
</style>