<style>

#join-our-team .section {
  margin-top: 3rem;
}
.icon-double-quote-left:before {
    content: "\e91e";
}
#join-our-team .joinButton {
    display: flex;
    padding: 0 35px;
    color: #00c4b3;
    line-height: 35px;
    font-weight: 600;
    letter-spacing: .125rem;
    cursor: pointer;
    border: 2px solid;
    font-size: 16px;
    margin: auto;
    margin-top: 14px;
}
#join-our-team .heading-section {
  text-align: center;
}
#join-our-team .content {
max-height: 550px;
overflow: hidden;
}
.info-container {
  padding: 3rem;
}
  
.quotation-container {
    background: #a8e8e238;
    margin-top: 5rem;
    padding: 2rem;
}
.double-quote-icon {
  margin-right: 30px;

}

.double-quote-icon  img{
  animation: shake 0.5s;
  animation-iteration-count: 2;
  width: 250px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media only screen and (max-width: 700px) {
  .info-container {
    padding: 1rem 0px;
  }
  #join-our-team .section {
    margin-top: 1rem;
  }
  #join-our-team h1 {
    font-size: 22px;
  }
  #join-our-team .heading-section {
    text-align: left;
  }
  #join-our-team .page-header.spacing {
      margin-bottom: 20px;
  }
}

</style>

<div id="join-our-team" class="content-area">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
    <article class="page">
      <div class="row">
        <div class="large-12 columns">
          <div class="entry-content">
            <div class="heading-section wrapper">
              <h3 data-aos="fade-up" data-aos-offset="100" data-aos-delay="250" data-aos-duration="1000">Start your own business and work your way.</h3>
              <p data-aos="fade-up" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000">Combine your excitement for business with your passion for fashion! Enjoy the flexibility of working your own hours and connecting with your local community, all while spreading self-confidence and body positivity.</p>
              <p data-aos="fade-up" data-aos-offset="100" data-aos-delay="450" data-aos-duration="1000">If you love SweetLegs and enjoy social selling and connecting with your community, you’re in the right place!</p>
              <h5 data-aos="fade-up" data-aos-offset="100" data-aos-delay="550" data-aos-duration="1000" style="color: #47c1bf;
    font-weight: 400;">
              *Apply today and receive $150 off your first order<br>
              </h5>
              <p data-aos="fade-up" data-aos-offset="100" data-aos-delay="550" data-aos-duration="1000">After placing your first order, you will receive a $150 credit to use towards your first order.</p>
              <p data-aos="fade-up" data-aos-offset="100" data-aos-delay="650" data-aos-duration="1000">
              *Offer expires October 15, 2022
            </p>
            </div>   
          <div class="section">
            <div class="row row-flex">
              <div data-aos="fade-left" data-aos-offset="250" data-aos-delay="375" data-aos-duration="1000" class="col-md-6 col-sm-12 col-xs-12">
                <div class="content">
                  <img class="img-styling" src="https://cdn.shopify.com/s/files/1/2445/2869/files/1_JulyL1-Group1-WEBSITE_1.jpg?v=1660841216" alt="Athleisure Size Chart"/>
                </div>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12" data-aos="fade-right" data-aos-offset="250" data-aos-delay="375" data-aos-duration="1000">
                <div class="info-container">
                  <h3>Something for everybody.</h3>
                  <p>
                  We are proud to offer inclusive sizing, with sizes 00-28 in our Signature SweetLegs, Crops, Biker Shorts & Maternity Collection and sizes XS-3X in our SweetTops and Athleisure Collection. 
                  </p>
                  <p>
                    At SweetLegs, we make it our mission to bring you comfortable, fun, and inclusive clothing options. Our in-house design team creates bold & beautiful garments that allow you to fully express your personality, no matter the occasion.
                    With an extensive range of thoughtfully designed products to choose from, there’s something for everyone at SweetLegs!
                  </p>
                </div>
              </div>
            </div>
            </div>

            <div class="section">
              <div class="row row-flex">
                <div
                  data-aos="fade-left"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000"
                  class="col-md-6 col-sm-12 col-xs-12"
                >
                  <div class="info-container">
                    <h3>Focus On Your Business.</h3>
                    <p>
                      Get 1-on-1 support from our amazing Canadian headquarters team and Independent Distributor community. With access to an ongoing database of resources, professional photoshoots, videos, and graphics, plus professional marketing materials, you’ll look like a pro as soon as you start.
                    </p>
                  </div>
                </div>
                <div
                  class="col-md-6 col-sm-12 col-xs-12"
                  data-aos="fade-right"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000">
                   <div class="content">
                    <img
                      class="img-styling"
                      src="https://cdn.shopify.com/s/files/1/2445/2869/files/MySweetLegs-mockup-WEBSITE.jpg?v=1660838817"
                      alt="Athleisure Size Chart"
                    />
                  </div>            
                </div>
              </div>
            </div>


           <div class="section">
              <div class="row row-flex">
                <div
                  data-aos="fade-left"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000"
                  class="col-md-6 col-sm-12 col-xs-12"
                >
                  <div class="content">
                    <img
                      class="img-styling"
                      src="https://cdn.shopify.com/s/files/1/2445/2869/files/Earn_Your_Way_680d16e7-810a-42ec-83a9-896b67857f88.jpg?v=1659647062"
                      alt="Athleisure Size Chart"
                    />
                  </div>
                </div>
                <div
                  class="col-md-6 col-sm-12 col-xs-12"
                  data-aos="fade-right"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000"
                >
                  <div class="info-container">
                    <h3>Earn Your Way</h3>
                    <p>
                     SweetLegs Independent Distributors buy wholesale and make money off each item they sell, so you’re in control of your success. Distributors also benefit from an industry-leading warranty, full compensation for defective products, and discounted shipping rates to keep your business costs low and your earning potential high.
                    </p>
                  </div>
                </div>
              </div>
            </div>


       <div class="section">
              <div class="row row-flex">
                <div
                  data-aos="fade-left"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000"
                  class="col-md-6 col-sm-12 col-xs-12"
                >
                  <div class="info-container">
                   <h3>Social Selling Made Easy</h3>
                    <p>
                     Our direct sales model does not utilize multi-level marketing, so SweetLegs is void of any commissions, team building, or compensation for team building. This means you can focus on your customers in your community instead of recruiting a downline.
                    </p>
                  </div>  
                </div>
                <div
                  class="col-md-6 col-sm-12 col-xs-12 main-altheisure-table"
                  data-aos="fade-right"
                  data-aos-offset="250"
                  data-aos-delay="375"
                  data-aos-duration="1000"
                >
                  <div class="content">
                    <img
                      class="img-styling"
                      src="https://cdn.shopify.com/s/files/1/2445/2869/files/Social_Selling_Made_Easy.jpg?v=1659645764"
                      alt="Athleisure Size Chart"
                    />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </article>
    <button class="joinButton aos-init aos-animate" style="margin-top: 4rem" data-aos="fade-up" data-aos-offset="100" data-aos-delay="450" data-aos-duration="1000">APPLY NOW</button>
    <div class="quotation-container ">
      <div class="container">
        <div>
          <h3 style="text-align:center;margin-bottom: 20px" data-aos="fade-up" data-aos-offset="100" data-aos-delay="250" data-aos-duration="1000">SweetLegs Campbell River with Wendy</h3>
          <div style="display: flex">
            <div class="double-quote-icon" data-aos="zoom-in" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000">{{ 'quote.svg' | asset_url | img_tag }}</div>
            <p data-aos="fade-up" data-aos-offset="100" data-aos-delay="350" data-aos-duration="1000"> 
              Hi, I am Wendy and have been a proud SweetLegs Independent Distributor since August 2014, in Campbell River, Vancouver Island. I absolutely LOVE IT.
              Working with SweetLegs has given me the opportunity and freedom to work for myself, create my own schedule, and pay off my mortgage early - all while having FUN doing so.
              One of the things I am most proud of with my success as an Independent Distributor is the number of women I have helped overcome their "Oh no, I will never wear leggings" phobia. It is a wonderful feeling when someone feels absolutely beautiful and confident in the products that I have sold to them.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

