<style>
  .visibiltyHidden {
    display: none;
  }
  .loading-container {
    z-index: 999;
    height: 100vh;
    width: 100vw;
    background-color: #454f5ba6;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
  }

  .spinner {
    height: 14rem;
    width: 14rem;
    border: 5px solid #00c4b3;
    border-left: 5px solid #59f5e7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin infinite 1.5s linear;
  }

  .spinner-text {
    position: absolute;
    font-size: 16px;
    color: #ffff;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  @keyframes spin {
    to { transform: rotate(360deg); }
  }
  .footer-cnt {
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background:  #ED3393;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 99999;
  }
  .smile-launcher-frame {
    display: none;
  }
  /* -- Checkboxes -- */
  input[type="checkbox"] 
  {  
      display: none;   /* if you remove this or if the display is not none, it will show the default text box */
  }
      
  input[type="checkbox"] + label 
  {
      font-size: 30px;   /* defines the size of the check box */
      cursor: pointer;
      -moz-border-radius: 70px;
      -webkit-border-radius: 70px;
      border-radius: 70px;        
  }
          
  input[type="checkbox"] + label i 
  {
      color: white;
       padding: 25px 25px;
      -moz-border-radius: 70px;
      -webkit-border-radius: 70px;
      border-radius: 70px; 
      padding-left: 0px;
  }
 
  input[type="checkbox"]:checked + label i
  { 
    color: #fff;    
  }
  .footer-cnt p{
    font-weight: bold;
    margin-left: -35px;
    margin-bottom: 0px;
  }

  .footer-cnt a {
    height: 30px;
    width: 80px;
    background: #000;
    border-radius: 50px;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
@media only screen and (max-width: 600px) {
  .footer-cnt { 
    display: block;
  }
  .footer-cnt a {
    margin: auto;
    margin-bottom: 10px;
  }
}
</style>
{% unless customer  %}
<script type="text/javascript">
  window.location = "/account/login?return_url=/pages/review-the-policies-and-procedures";
</script>
{% endunless %}
<main class="loading-container">
  <p class="spinner-text">
    Loading.....
  </p>
  <div class="spinner"></div>
</main>
<div id="primary" class="content-area" id="review-the-policy-and-procedures">
  {%- include 'page-header' -%}
  <div id="content" class="site-content">
     {%- include 'language-selector' -%}
    {%- section 'review-the-policy-and-procedures-heading' -%}
    <div id="iframeContainer" style="height: 100vh; width: 100vw; max-width: 800px;overflow: hidden; margin:auto;text-align: center; margin-top: 2rem" class="english-version">
      <iframe id="myIframe" src="https://drive.google.com/file/d/1pftZexl5BJjmpZ5CHzwRyxSnEDNeIAq5/preview" style="width:100%; height:100%;" frameborder="0" allowfullscreen="" scrolling="no"></iframe>
    </div>
    <div id="iframeContainer-fr" style="height: 100vh; width: 100vw; max-width: 800px;overflow: hidden; margin:auto;text-align: center; margin-top: 2rem" class="french-version visibiltyHidden">
      <iframe id="myIframe" src="https://drive.google.com/file/d/1pfE9qjrntbSX8rahv9Cc7YceRiBGKgEP/preview" style="width:100%; height:100%;" frameborder="0" allowfullscreen="" scrolling="no"></iframe>
    </div>
      <div class="footer-cnt">
        <div style="display:flex; align-items: center; justify-content:center; height: 50px">
          <input type="checkbox" id="myCheckbox" />
            <label for="myCheckbox" class="myCheck">
                <i class="fa fa-square-o"></i>  <span class="checkboxText"></span>
            </label>
          <p>I have reviewed the Policies & Procedures</p>
        </div>
<!--         <a href="/pages/id-sign-up-dashboard">Go Back</a> -->
      </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    setTimeout(function(){
       $('.loading-container').css('display', 'none');
    }, 3000);
    
    $("#myCheckbox").on("click", function () {
        check = $("#myCheckbox").prop("checked");

        if (check) {
            if ($('.myCheck i').hasClass('fa-square-o')) {
              $('.loading-container').css('display', 'flex');
                $('.myCheck i').removeClass('fa-square-o').addClass('fa-check-square');
                $(".checkboxText").html('');
                     $.ajax({
                      url : `https://sweetlegs.rocks/api/distributor-onboarding/step3/policy-procedures`,
                      type : 'POST',
                      data: {
                        customerId: `{{customer.id}}`,
                      },
                      success : function(data) {
                        setTimeout(function(){
                          $('.loading-container').css("display", "none");
                          window.location = "/pages/id-sign-up-dashboard";
                        }, 1000);
                      }
                    });
            }
        } else {
            if ($('.myCheck i').hasClass('fa-check-square')) {
                $('.myCheck i').removeClass('fa-check-square').addClass('fa-square-o');
                $(".checkboxText").html('');
            }
        }
    });

    // let element = document.getElementById('privacy-policy-procedure-image');
    // let scale = 1.0;
    // element.addEventListener('wheel', (ev) => {
    //   // This is crucial. Without it, the browser will do a full page zoom
    //   ev.preventDefault();
    
    //   // This is an empirically determined heuristic.
    //   // Unfortunately I don't know of any way to do this better.
    //   // Typical deltaY values from a trackpad pinch are under 1.0
    //   // Typical deltaY values from a mouse wheel are more than 100.
    //   let isPinch = Math.abs(ev.deltaY) < 50;
    
    //   if (isPinch) {
    //     // This is a pinch on a trackpad
    //     let factor = 1 - 0.01 * ev.deltaY;
    //     scale *= factor;
    //     console.log('this scale', scale);
    //     element.scale = scale;
    //   } else {
    //     // This is a mouse wheel
    //     let strength = 1.4;
    //     let factor = ev.deltaY < 0 ? strength : 1.0 / strength;
    //     scale *= factor;
    //      console.log('this scale down', scale);
    //     element.innerText = `Mouse: scale is ${scale}`;
    //   }
    // });

   
});  
</script>