<!-- /templates/page.liquid -->

{% section 'page-shortbread-shop-banner-image' %}
{% section 'page-shortbread-shop-columns' %}
<div class="wrapper">
  <hr class="top-rule-gradient">
</div>
{% section 'page-shortbread-shop-columns-2' %}
{% section 'page-shortbread-shop-banner-image-2' %}
{% section 'page-shortbread-shop-columns-3' %}
{% section 'page-shortbread-shop-banner-image-3' %}