
{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}  <div class="powr-social-media-icons" id="ed03126d_1598019569"></div>